.profile {
    .user-profile {
      width: 100%;
      background-color: var(--theme-color);
      position: relative;
      padding: 10px 20px 0px 20px;
      display: inline-block;
      z-index: 1;
      margin-bottom: 2rem;
 
      &::after {
        content: '';
        position: absolute;
        left: 0px;
        bottom: 0px;
        height: 50px;
        background-color: var(--bg-lighter);
        width: 100%;
        border-radius: 25px 25px 0px 0px;
        z-index: -1;
      }
 
      .card {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
 
        &::after {
          content: "";
          position: absolute;
          left: 15px;
          bottom: -15px;
          width: 92%;
          height: 50px;
          background-color: #A780EC;
          z-index: -1;
          border-radius: 15px;
        }
 
        .card-body {
          padding: 15px;
          width: 100%;
          display: flex;
          z-index: 1;
 
          .user-avatar {
            width: 80px;
            height: 80px;
            overflow: hidden;
            border-radius: 100%;
            background-color: #f1f1f1;
 
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
 
          .user-details {
            width: 70%;
            padding-left: .8rem;
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            justify-content: center;
 
            h6 {
              font-size: 22px;
              line-height: 22px;
              font-weight: 500;
              font-family: var(--f-Poppins);
              margin-top: 0;
              margin-bottom: 5px;
              color: var(--blackColor);
              letter-spacing: -0.72px;
            }
 
            .small-text {
              font-size: 14px;
              line-height: 18px;
              font-weight: 400;
              letter-spacing: 1px;
              color: var(--blackColor);
              font-family: var(--f-Poppins);
              align-items: center;
              display: flex;
              margin-bottom: 2px;
            }
 
            ion-icon {
              font-size: 20px;
              font-weight: 600;
              margin-right: 1px;
            }
          }
        }
      }
    }
    .text-small{
        font-size: 14px;
        font-family: var(--f-Poppins);
        font-weight: 500;
    }
    ion-grid{
        padding: 0px 10px;
        &.p-0{
            padding: 0px;
        }
       }
       .addressInfo,
       .profileInfo{
         padding: 0px;
         ion-col{
            padding: 5px 0px; 
         }
        }
        .addressInfo{
            .icon{
                width: 30px;
                height: 30px;
                border-radius: 100%;
                border: solid 2px var(--theme-color);
                background-color: rgba(110, 65, 190, 0.08);
                margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;  
                ion-icon{
                    font-size: 17px;
                    color: var(--theme-color);
                }            
            }
            .w-80{
                width: 85%;
            } 
        }
         .profileInfo{
            ion-col{ 
                align-items: center;
             }
            .labelInfo{
                position: relative;
                padding-left: 20px;
                &::after{
                    content: '';
                    position: absolute;
                    left: 0px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    width: 8px;
                    height: 8px; 
                    border-radius: 100%;
                    border: solid 2px var(--theme-color);
                }
            }
            .label{
                small{
                    font-size: 14px;
                    font-family: var(--f-Poppins);
                    font-weight: 500;
                    color: rgba(0, 0, 0, 0.8);
                }
            }
         } 
    .profile-show {
      padding-left: 15px;
 
      ion-card {
        margin: 0px 20px 20px 0px;
        width: 100%;
        border-radius: 5px;
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.09);
        border-top: solid 5px var(--theme-color);
        text-align: left;
        ion-card-content{
            padding:15px 10px;
            .heading{
                font-size: 17px;
                font-weight: 600;
                color: #000;
                margin: 0px;
            }
            routerlink{
                display: flex;
                ion-icon{
                    font-size: 22px;
                }
            }
            .small-text{
                font-size: 14px;
                line-height: 18px;
                margin:0px 0px 8px 0px;
            }
            ion-button{
                height: 2.5em;
                margin: 0px;
                --box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
            }
        }
      }
    }
    ion-list {
        border-top: solid 1px #ddd;
        border-bottom: solid 1px #ddd;
        margin-bottom: 10px;
    
        .ion-header {
            padding: 12px 20px 5px 15px;
            display: flex;
              justify-content: space-between;
              align-items: center;
            .heading{
                font-size: 19px;
                color: #000;
                margin: 0px;
                font-weight: 600;
                font-family: var(--f-Poppins); 
            }
            routerlink{
                display: flex;
                ion-icon{
                    font-size: 24px;
                }
            }
         
        }
    
        ion-item {
            --border-color: #ddd;
            --padding-start: 15px;
            align-items: flex-start;
            --inner-padding-top: 5px;
            --inner-padding-bottom: 10px;
            --inner-padding-end: 15px; 
            &:last-child {
                --border-color: transparent;
            }
    
            .label {                 
                font-weight: 600; 
            } 
            .label,
            .labelInfo{
                font-size: 16px;
                line-height: 20px;
                font-family: var(--f-Poppins);
                margin: 0px;
            }
    
            .small-text {
                font-size: 15px;
                line-height: 22px;
            }
     
        } 
    }
  }
 