 <ion-header class="theme-Header" translucent>
  <ion-toolbar >
    <div class="d-flex justify-between w-100">
      <ion-buttons slot="start">
        <ion-back-button color="white" defaultHref="/dashboard"></ion-back-button>
      </ion-buttons>
      <ion-title>Notification</ion-title>
      <routerlink routerLink="/dashboard" class="cancel">Cancel</routerlink>
    </div>
  </ion-toolbar>
  </ion-header>

<ion-content>

</ion-content>
