<!-- Header Section Start -->
<ion-header translucent class="themeHeader ">
  <ion-toolbar class="bg-gradient">
    <ion-list class="d-flex justify-between">
      <ion-menu-toggle id="main">
        <button class="menuLeft">
          <ion-icon src="../../../../assets/new-image/menu.svg"></ion-icon>
        </button>
      </ion-menu-toggle>
      <ion-title>
        <ion-img class="logo-inner" src="../../../../assets/new-image/logo-inner.svg"></ion-img>
      </ion-title>
      <ion-list class="d-flex ion-nopadding">
        <ion-router-link class="icons relative" routerLink="/notification-screen">
          <ion-icon src="../../../../assets/new-image/icon-notification.svg"></ion-icon><span class="count">6</span>
        </ion-router-link>
        <ion-router-link class="icons" routerLink="/login-screen">
          <ion-icon src="../../../../assets/new-image/icon-logout.svg"></ion-icon>
        </ion-router-link>
      </ion-list>
    </ion-list>
  </ion-toolbar>
</ion-header>
<!-- Header Section End -->
<!-- Left Menu Section Start -->
<ion-menu class="icon-menuTheme" side="start" menuId="first" contentId="main">
  <ion-content>
    <ion-list>
      <div class="user-profile bg-gradient"> 
          <div class="card-body">
            <div class="user-avatar">
              <img src="../../../../assets/new-image/avtar.png" alt="image">
            </div>
            <div class="user-details">
              <h6>Joachim Meyur </h6>
              <div class="small-text">
                Administrator
              </div>
              <div class="small-text">
                webironic@admin.com
              </div>
            </div>
          
          </div> 
          <ion-img class="bg-shap" src="../../../../assets/new-image/menu-shap.svg"></ion-img>
      </div>
    </ion-list>
    <ion-list>
      <ion-item routerLink="/profile-screen"> 
        <ion-icon  src="../../../../assets/new-image/icon-user.svg"></ion-icon>
        <span class="ion-label">My Account</span> 
      </ion-item> 
      <ion-item routerLink="/supports-screen"> 
        <ion-icon  src="../../../../assets/new-image/icon-chat.svg"></ion-icon>
        <span class="ion-label">Supports</span> 
      </ion-item> 
      <ion-item routerLink="/share-screen"> 
        <ion-icon  src="../../../../assets/new-image/icon-share.svg"></ion-icon>
        <span class="ion-label">Share App</span> 
      </ion-item> 
      <ion-item routerLink="/about-screen"> 
        <ion-icon  src="../../../../assets/new-image/icon-about.svg"></ion-icon>
        <span class="ion-label">About Us</span> 
      </ion-item> 
      <ion-item routerLink="/setting-screen"> 
        <ion-icon  src="../../../../assets/new-image/icon-setting.svg"></ion-icon>
        <span class="ion-label">Settings</span> 
      </ion-item> 
      <ion-item routerLink="/"> 
        <ion-icon  src="../../../../assets/new-image/icon-logout-new.svg"></ion-icon>
        <span class="ion-label">Logout</span> 
      </ion-item> 
    </ion-list>
  </ion-content>
</ion-menu>
<!-- Left Menu Section End -->
<!-- Body Section Start -->
<ion-content class="dashboard bg-grey "> 
  <div class="user-profile">
    <div class="card">
      <div class="card-body">
        <div class="user-avatar">
          <img src="../../../../assets/new-image/avtar.png" alt="image">
        </div>
        <div class="user-details">
          <h6>Joachim Meyur </h6>
          <div class="small-text">
            Administrator
          </div>
          <div class="small-text">
            webironic@admin.com
          </div>
        </div>
      </div>
    </div>
  </div>
  <ion-grid class="counter">
    <ion-row>
      <ion-col size="4">
        <ion-card>
          <ion-card-content class="text-center">
            <h4>10</h4>
            <div>
              <div class="small-text">Today’s</div>
              <h6>Product</h6>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-content class="text-center">
            <h4>2</h4>
            <div>
              <div class="small-text">total</div>
              <h6>Inquiries</h6>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-content class="text-center">
            <h4>15</h4>
            <div>
              <div class="small-text">Today’s</div>
              <h6>Orders</h6>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="follower">
      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h4>10</h4>
            <div class="pl-2">
              <div class="small-text">Today’s</div>
              <h6>Product</h6>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h4>2</h4>
            <div class="pl-2">
              <div class="small-text">total</div>
              <h6>Inquiries</h6>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-col size="12" class="themeHeading">
      <h6>Today’s Order</h6>
      <!-- <ion-router-link class="link-dark" href="#">View All</ion-router-link> -->
    </ion-col>
  </ion-grid>
  <swiper class="product-show" [slidesPerView]="1.5" [loop]="false">
    <ng-template swiperSlide>
      <ion-card>
        <div class="productImage"
          style="background: url('https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZHVjdHxlbnwwfHwwfHw%3D&w=1000&q=80');">
        </div>
        <ion-card-content>
          <h3 class="productName">Steel lorem ipsum
            Pipe</h3>
          <div class="d-flex justify-between">
            <div class="w-50">
              <span class="price">₹19,006</span>
            </div>
            <div class="w-50">
              <span class="text-small">QTY: <b class="text-dark">02</b></span>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-template>
    <ng-template swiperSlide>
      <ion-card>
        <div class="productImage" style="background: url('../../../../assets/new-image/Endureit-stainless-steel.png');">
        </div>
        <ion-card-content>
          <h3 class="productName">Steel lorem ipsum
            Pipe</h3>
            <div class="d-flex justify-between">
              <div class="w-50">
                <span class="price">₹19,006</span>
              </div>
              <div class="w-50">
                <span class="text-small">QTY: <b class="text-dark">02</b></span>
              </div>
            </div>
        </ion-card-content>
      </ion-card>
    </ng-template>
    <ng-template swiperSlide>
      <ion-card>
        <div class="productImage" style="background: url('https://www.thoughtco.com/thmb/1eAhASOc5x0jd6Vd9eiwydqb9_M=/1989x1492/smart/filters:no_upscale()/138341623-56a613dc5f9b58b7d0dfcc41.jpg');">
        </div>
        <ion-card-content>
          <h3 class="productName">Steel lorem ipsum
            Pipe</h3>
            <div class="d-flex justify-between">
              <div class="w-50">
                <span class="price">₹19,006</span>
              </div>
              <div class="w-50">
                <span class="text-small">QTY: <b class="text-dark">02</b></span>
              </div>
            </div>
        </ion-card-content>
      </ion-card>
    </ng-template>
    <ng-template swiperSlide>
      <ion-card>
        <div class="productImage"
          style="background: url('https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZHVjdHxlbnwwfHwwfHw%3D&w=1000&q=80');">
        </div>
        <ion-card-content>
          <h3 class="productName">Steel lorem ipsum
            Pipe</h3>
          <div class="d-flex justify-between">
            <div class="w-50">
              <span class="price">₹19,006</span>
            </div>
            <div class="w-50">
              <span class="text-small">QTY: <b class="text-dark">02</b></span>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-template>
    <ng-template swiperSlide>
      <ion-card>
        <div class="productImage" style="background: url('../../../../assets/new-image/Endureit-stainless-steel.png');">
        </div>
        <ion-card-content>
          <h3 class="productName">Steel lorem ipsum
            Pipe</h3>
            <div class="d-flex justify-between">
              <div class="w-50">
                <span class="price">₹19,006</span>
              </div>
              <div class="w-50">
                <span class="text-small">QTY: <b class="text-dark">02</b></span>
              </div>
            </div>
        </ion-card-content>
      </ion-card>
    </ng-template>
    <ng-template swiperSlide>
      <ion-card>
        <div class="productImage" style="background: url('https://www.thoughtco.com/thmb/1eAhASOc5x0jd6Vd9eiwydqb9_M=/1989x1492/smart/filters:no_upscale()/138341623-56a613dc5f9b58b7d0dfcc41.jpg');">
        </div>
        <ion-card-content>
          <h3 class="productName">Steel lorem ipsum
            Pipe</h3>
            <div class="d-flex justify-between">
              <div class="w-50">
                <span class="price">₹19,006</span>
              </div>
              <div class="w-50">
                <span class="text-small">QTY: <b class="text-dark">02</b></span>
              </div>
            </div>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </swiper>

</ion-content>
<!-- Body Section End -->
<!-- Footer Section Start -->
<ion-footer class="themeFooter">
  <button class="footerTab active" routerLink="/dashboard-buyer">
    <ion-icon class="tab-icons" src="../../../../assets/new-image/icon-home.svg"></ion-icon>
    <span class="tab-text">Home</span>
  </button>
  <button class="footerTab" routerLink="/product-screen">
    <ion-icon class="tab-icons" src="../../../../assets/new-image/icon-product.svg"></ion-icon>
    <span class="tab-text">Product</span>
  </button>
  <button class="footerTab">
    <ion-fab class="custom-fab" horizontal="center" vertical="top" slot="fixed" edge>
      <ion-fab-button class="btn-theme">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list class="fab-list" side="top">
        <ion-fab-button routerLink='/add-category-screen' data-desc="Add Category">
          <ion-icon src="../../../../assets/new-image/icon-category.svg"></ion-icon>
        </ion-fab-button>
        <ion-fab-button routerLink='/add-product-screen' data-desc="Add Product">
          <ion-icon src="../../../../assets/new-image/icon-product.svg"></ion-icon>
        </ion-fab-button>       
      </ion-fab-list>
    </ion-fab>
  </button>
  <button class="footerTab" routerLink="/order-screen">
    <ion-icon class="tab-icons" src="../../../../assets/new-image/icon-order.svg"></ion-icon>
    <span class="tab-text">Order</span>
  </button>
  <button class="footerTab" routerLink="/profile-screen">
    <ion-img class="tab-img" src="../../../../assets/new-image/avtar.png"></ion-img>
    <span class="tab-text">Profile</span>
  </button>
</ion-footer>
<!-- Footer Section End -->