<!-- Header Section Start -->
<ion-header translucent class="themeHeader ">
  <ion-toolbar class="bg-gradient">
    <ion-list class="d-flex justify-between">
      <ion-menu-toggle id="main">
        <button class="menuLeft">
          <ion-icon src="../../../../assets/new-image/menu.svg"></ion-icon>
        </button>
      </ion-menu-toggle>
      <ion-title>
        <ion-img class="logo-inner" src="../../../../assets/new-image/logo-inner.svg"></ion-img>
      </ion-title>
      <ion-list class="d-flex ion-nopadding">
        <ion-router-link class="icons relative" routerLink="/notification-screen">
          <ion-icon src="../../../../assets/new-image/icon-notification.svg"></ion-icon><span class="count">6</span>
        </ion-router-link>
        <ion-router-link class="icons" routerLink="/login-screen">
          <ion-icon src="../../../../assets/new-image/icon-logout.svg"></ion-icon>
        </ion-router-link>
      </ion-list>
    </ion-list>
  </ion-toolbar>
</ion-header>
<!-- Header Section End -->
<!-- Left Menu Section Start -->
<ion-menu side="start" menuId="first" contentId="main">
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<!-- Left Menu Section End -->
<!-- Body Section Start -->
<ion-content class="bg-grey ">
  <div class="searchMain">
    <div class="d-flex">
      <ion-searchbar></ion-searchbar>
      <ion-button class="btn-white" (click)="presentActionSheet()">
        <ion-icon src="../../../../assets/new-image/icon-fillter.svg"></ion-icon>
      </ion-button>
    </div>
  </div>

  <ion-card class="counter">
    <ion-card-content>
      <div class="pr-2">
        <div class="small-text">Today’s</div>
        <h6>Product</h6>
      </div>
      <h4>15</h4>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div class="productImage"
        style="background: url('https://www.thoughtco.com/thmb/1eAhASOc5x0jd6Vd9eiwydqb9_M=/1989x1492/smart/filters:no_upscale()/138341623-56a613dc5f9b58b7d0dfcc41.jpg');">
      </div>
      <div class="product-des">
        <h3 class="productName">Alluminium lorem ipsum Rolles</h3>
        <span class="small-text">Lorem Ipsum is simply dummy simply dummy</span>
        <div class="d-flex justify-between align-center">
          <div class="w-50">
            <span class="price">₹19,006</span>
          </div>
          <div class="w-50">
            <span class="text-small">QTY: <b class="text-dark">02</b></span>
          </div>
        </div>
      </div>
    </ion-card-content>
    <ion-card-footer>
      <ion-router-link routerLink="/">
        <div class="d-flex align-center">
          <ion-icon src="../../../../assets/new-image/icon-history.svg"></ion-icon>
          <span>History</span>
        </div>
      </ion-router-link>
      <ion-router-link routerLink="/price-update-screen">
        <div class="d-flex align-center">
          <ion-icon src="../../../../assets/new-image/icon-update.svg"></ion-icon>
          <span>Update</span>
        </div>
      </ion-router-link>
      <ion-router-link routerLink="/">
        <div class="d-flex align-center">
          <ion-icon src="../../../../assets/new-image/icon-delete.svg"></ion-icon>
          <span>Delete</span>
        </div>
      </ion-router-link>
    </ion-card-footer>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div class="productImage"
        style="background: url('https://www.thoughtco.com/thmb/1eAhASOc5x0jd6Vd9eiwydqb9_M=/1989x1492/smart/filters:no_upscale()/138341623-56a613dc5f9b58b7d0dfcc41.jpg');">
      </div>
      <div class="product-des">
        <h3 class="productName">Alluminium lorem ipsum Rolles</h3>
        <span class="small-text">Lorem Ipsum is simply dummy simply dummy</span>
        <div class="d-flex justify-between align-center">
          <div class="w-50">
            <span class="price">₹19,006</span>
          </div>
          <div class="w-50">
            <span class="text-small">QTY: <b class="text-dark">02</b></span>
          </div>
        </div>
      </div>
    </ion-card-content>
    <ion-card-footer>
      <ion-router-link routerLink="/">
        <div class="d-flex align-center">
          <ion-icon src="../../../../assets/new-image/icon-history.svg"></ion-icon>
          <span>History</span>
        </div>
      </ion-router-link>
      <ion-router-link routerLink="/price-update-screen">
        <div class="d-flex align-center">
          <ion-icon src="../../../../assets/new-image/icon-update.svg"></ion-icon>
          <span>Update</span>
        </div>
      </ion-router-link>
      <ion-router-link routerLink="/">
        <div class="d-flex align-center">
          <ion-icon src="../../../../assets/new-image/icon-delete.svg"></ion-icon>
          <span>Delete</span>
        </div>
      </ion-router-link>
    </ion-card-footer>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div class="productImage"
        style="background: url('https://www.thoughtco.com/thmb/1eAhASOc5x0jd6Vd9eiwydqb9_M=/1989x1492/smart/filters:no_upscale()/138341623-56a613dc5f9b58b7d0dfcc41.jpg');">
      </div>
      <div class="product-des">
        <h3 class="productName">Alluminium lorem ipsum Rolles</h3>
        <span class="small-text">Lorem Ipsum is simply dummy simply dummy</span>
        <div class="d-flex justify-between align-center">
          <div class="w-50">
            <span class="price">₹19,006</span>
          </div>
          <div class="w-50">
            <span class="text-small">QTY: <b class="text-dark">02</b></span>
          </div>
        </div>
      </div>
    </ion-card-content>
    <ion-card-footer>
      <ion-router-link routerLink="/">
        <div class="d-flex align-center">
          <ion-icon src="../../../../assets/new-image/icon-history.svg"></ion-icon>
          <span>History</span>
        </div>
      </ion-router-link>
      <ion-router-link routerLink="/price-update-screen">
        <div class="d-flex align-center">
          <ion-icon src="../../../../assets/new-image/icon-update.svg"></ion-icon>
          <span>Update</span>
        </div>
      </ion-router-link>
      <ion-router-link routerLink="/">
        <div class="d-flex align-center">
          <ion-icon src="../../../../assets/new-image/icon-delete.svg"></ion-icon>
          <span>Delete</span>
        </div>
      </ion-router-link>
    </ion-card-footer>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div class="productImage"
        style="background: url('https://www.thoughtco.com/thmb/1eAhASOc5x0jd6Vd9eiwydqb9_M=/1989x1492/smart/filters:no_upscale()/138341623-56a613dc5f9b58b7d0dfcc41.jpg');">
      </div>
      <div class="product-des">
        <h3 class="productName">Alluminium lorem ipsum Rolles</h3>
        <span class="small-text">Lorem Ipsum is simply dummy simply dummy</span>
        <div class="d-flex justify-between align-center">
          <div class="w-50">
            <span class="price">₹19,006</span>
          </div>
          <div class="w-50">
            <span class="text-small">QTY: <b class="text-dark">02</b></span>
          </div>
        </div>
      </div>
    </ion-card-content>
    <ion-card-footer>
      <ion-router-link routerLink="/">
        <div class="d-flex align-center">
          <ion-icon src="../../../../assets/new-image/icon-history.svg"></ion-icon>
          <span>History</span>
        </div>
      </ion-router-link>
      <ion-router-link routerLink="/price-update-screen">
        <div class="d-flex align-center">
          <ion-icon src="../../../../assets/new-image/icon-update.svg"></ion-icon>
          <span>Update</span>
        </div>
      </ion-router-link>
      <ion-router-link routerLink="/">
        <div class="d-flex align-center">
          <ion-icon src="../../../../assets/new-image/icon-delete.svg"></ion-icon>
          <span>Delete</span>
        </div>
      </ion-router-link>
    </ion-card-footer>
  </ion-card>
</ion-content>
<!-- Body Section End -->
<!-- Footer Section Start -->
<ion-footer class="themeFooter">
  <button class="footerTab " routerLink="/dashboard-buyer">
    <ion-icon class="tab-icons" src="../../../../assets/new-image/icon-home.svg"></ion-icon>
    <span class="tab-text">Home</span>
  </button>
  <button class="footerTab active" routerLink="/product-screen">
    <ion-icon class="tab-icons" src="../../../../assets/new-image/icon-product.svg"></ion-icon>
    <span class="tab-text">Product</span>
  </button>
  <button class="footerTab">
    <ion-fab class="custom-fab" horizontal="center" vertical="top" slot="fixed" edge>
      <ion-fab-button class="btn-theme">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list class="fab-list" side="top">
        <ion-fab-button routerLink='/add-category-screen' data-desc="Add Category">
          <ion-icon src="../../../../assets/new-image/icon-category.svg"></ion-icon>
        </ion-fab-button>
        <ion-fab-button routerLink='/add-product-screen' data-desc="Add Product">
          <ion-icon src="../../../../assets/new-image/icon-product.svg"></ion-icon>
        </ion-fab-button>      
      </ion-fab-list>
    </ion-fab>
  </button>
  <button class="footerTab" routerLink="/order-screen">
    <ion-icon class="tab-icons" src="../../../../assets/new-image/icon-order.svg"></ion-icon>
    <span class="tab-text">Order</span>
  </button>
  <button class="footerTab" routerLink="/profile-screen">
    <ion-img class="tab-img" src="../../../../assets/new-image/avtar.png"></ion-img>
    <span class="tab-text">Profile</span>
  </button>
</ion-footer>
<!-- Footer Section End -->