<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/customers-dashboard'></ion-back-button>
    </ion-buttons>
    <ion-title>Add Lead Remainder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form class="listing bg-theme-grey" #reminderForm="ngForm" novalidate>

    <ion-list>

      <ion-item lines="full">
        <ion-label position="floating">Reminder Date <font color="red">*</font>
        </ion-label>
        <ion-datetime displayFormat="DD MMM YYYY hh:mm A" [(ngModel)]='reminderInfo.date' [min]='todaysDate' name="date"
          required>
        </ion-datetime>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Description <font color="red">*</font>
        </ion-label>
        <ion-textarea type="text" [(ngModel)]='reminderInfo.description' rows="3" name="description" required>
        </ion-textarea>
      </ion-item>

    </ion-list>

    <div class="mt-20">
      <ion-row>
        <ion-col class="ion-no-padding">
          <ion-button type="button" expand="full" color="light" (click)="backToLeadDashbaord()">Cancel
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-padding">
          <ion-button type="submit" expand="full" color="primary" (click)="submitReminder(reminderForm)">Create
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

  </form>

</ion-content>