  <ion-content>
  <ion-slides class="theme-onboarding h-100" pager="true"  autoplay="400" loop="true" speed="3000">
    <ion-slide>
      <div>
        <div class="bannersSection bg-gradient">
          <div class="brand-logo">
            <ion-img src="../../../../assets/new-image/logo.svg"></ion-img>
          </div>
          <div class="bannerImage">
            <ion-img src="../../../../assets/new-image/onboarding-1.svg"></ion-img>
          </div>
        </div>
        <div class="onboarding-Info">
          <div class="relative">
            <h2 class="heading text-theme">What is Bhaavbook?</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
              looking at its layout. </p>
            <ion-img class="bg-logo" src="../../../../assets/new-image/icon-logo.svg"></ion-img>
          </div>

          <p class="privacy">By continuing to use the mobile app, you agree to Bhaavbook <ion-router-link color="dark"
              class="f-600" href="#">Terms of Service</ion-router-link> & <ion-router-link class="f-600" color="dark"
              href="#">Privacy Policy.</ion-router-link>
          </p>
          <div class="navigator">
            <ion-button class="text-grey" fill="clear" routerLink="/create-account">Skip</ion-button>
            <ion-button color="primary" fill="clear" (click)="next()">Next</ion-button>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <div class="bannersSection bg-gradient">
          <div class="brand-logo">
            <ion-img src="../../../../assets/new-image/logo.svg"></ion-img>
          </div>
          <div class="bannerImage">
            <ion-img src="../../../../assets/new-image/onboarding-2.svg"></ion-img>
          </div>
        </div>
        <div class="onboarding-Info">
          <div class="relative">
            <h2 class="heading text-theme">Who is Bhaavbook?</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
              looking at its layout. </p>
            <ion-img class="bg-logo" src="../../../../assets/new-image/icon-logo.svg"></ion-img>
          </div>
          <p class="privacy">By continuing to use the mobile app, you agree to Bhaavbook <ion-router-link color="dark"
              class="f-600" href="#">Terms of Service</ion-router-link> & <ion-router-link class="f-600" color="dark"
              href="#">Privacy Policy.</ion-router-link>
          </p>
          <div class="navigator">
            <ion-button class="text-grey" fill="clear" routerLink="/create-account">Skip</ion-button>
            <ion-button color="primary" fill="clear" (click)="next()">Next</ion-button>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <div class="bannersSection bg-gradient">
          <div class="brand-logo">
            <ion-img src="../../../../assets/new-image/logo.svg"></ion-img>
          </div>
          <div class="bannerImage">
            <ion-img src="../../../../assets/new-image/onboarding-3.svg"></ion-img>
          </div>
        </div>
        <div class="onboarding-Info">
          <div class="relative">
            <h2 class="heading text-theme">Why is Bhaavbook?</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
              looking at its layout. </p>
            <ion-img class="bg-logo" src="../../../../assets/new-image/icon-logo.svg"></ion-img>
          </div>
          <p class="privacy">By continuing to use the mobile app, you agree to Bhaavbook <ion-router-link color="dark"
              class="f-600" href="#">Terms of Service</ion-router-link> & <ion-router-link class="f-600" color="dark"
              href="#">Privacy Policy.</ion-router-link>
          </p>
          <div class="navigator">
            <ion-button class="text-grey" fill="clear" routerLink="/create-account">Skip</ion-button>
            <ion-button color="primary" fill="clear" (click)="next()">Next</ion-button>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer>
  <ion-button class="btn-bottom btn-theme" routerLink="/create-account">Create Account</ion-button>
</ion-footer>  
 