 
.theme-onboarding{
.swiper-slide {
    align-items: flex-start;
    .onboarding-Info{
        padding: 0px 15px;
        font-size: 30px;
        .heading{
            font-size: 30px;
            font-weight: 600; 
        }
        p{
            margin-top: 0px;
        }
        .bg-logo{
            position: absolute; 
            right: 0;
            left: 0;
            margin: 0 auto;
            width: auto;
            opacity: .07;
            bottom: -15px;
            height: 150px;
        }
        .privacy{
            margin-top: 55px;
            font-size: 14px;
        }
        .navigator{
            display: flex;
            justify-content: space-between;  
            z-index: 1;
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 10px;
            ion-button{
                margin: 0px;
                font-weight: 600;
                font-size: 16px;
            }
        }
    } 
 
} 
}