 <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/dashboard-buyer"></ion-back-button>
    </ion-buttons>
    <ion-title>Following</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-grey">
  <ion-col size="12" class="themeHeading">
    <h6>Following Request</h6>
  </ion-col>
  <ion-list class="card-listing">
    <ion-item>
      <ion-card-content>
        <div class="userprofile">
          <img src="../../../../assets/new-image/avtar.png" alt="image">
        </div>
        <div class="profile-des">
          <div class="profile-inner">
            <h3 class="profileName">Swastik Stainless Steel </h3>
            <span class="small-text">
              Construcion & Real Esate</span>
          </div>
          <ion-button shap="round" class="btn-outline-defualt">Following</ion-button>
        </div>

      </ion-card-content>
    </ion-item>
    <ion-item>
      <ion-card-content>
        <div class="userprofile">
          <img src="../../../../assets/new-image/avtar.png" alt="image">
        </div>
        <div class="profile-des">
          <div class="profile-inner">
            <h3 class="profileName">Swastik Stainless Steel </h3>
            <span class="small-text">
              Construcion & Real Esate</span>
          </div>
          <ion-button shap="round" class="btn-outline-defualt">Following</ion-button>
        </div>

      </ion-card-content>
    </ion-item>
    <ion-item>
      <ion-card-content>
        <div class="userprofile">
          <img src="../../../../assets/new-image/avtar.png" alt="image">
        </div>
        <div class="profile-des">
          <div class="profile-inner">
            <h3 class="profileName">Swastik Stainless Steel </h3>
            <span class="small-text">
              Construcion & Real Esate</span>
          </div>
          <ion-button shap="round" class="btn-outline-defualt">Following</ion-button>
        </div>

      </ion-card-content>
    </ion-item>
    <ion-item>
      <ion-card-content>
        <div class="userprofile">
          <img src="../../../../assets/new-image/avtar.png" alt="image">
        </div>
        <div class="profile-des">
          <div class="profile-inner">
            <h3 class="profileName">Swastik Stainless Steel </h3>
            <span class="small-text">
              Construcion & Real Esate</span>
          </div>
          <ion-button shap="round" class="btn-outline-defualt">Following</ion-button>
        </div>

      </ion-card-content>
    </ion-item>
    <ion-item>
      <ion-card-content>
        <div class="userprofile">
          <img src="../../../../assets/new-image/avtar.png" alt="image">
        </div>
        <div class="profile-des">
          <div class="profile-inner">
            <h3 class="profileName">Swastik Stainless Steel </h3>
            <span class="small-text">
              Construcion & Real Esate</span>
          </div>
          <ion-button shap="round" class="btn-outline-defualt">Following</ion-button>
        </div>

      </ion-card-content>
    </ion-item>
    <ion-item>
      <ion-card-content>
        <div class="userprofile">
          <img src="../../../../assets/new-image/avtar.png" alt="image">
        </div>
        <div class="profile-des">
          <div class="profile-inner">
            <h3 class="profileName">Swastik Stainless Steel </h3>
            <span class="small-text">
              Construcion & Real Esate</span>
          </div>
          <ion-button shap="round" class="btn-outline-defualt">Following</ion-button>
        </div>

      </ion-card-content>
    </ion-item>
    <ion-item>
      <ion-card-content>
        <div class="userprofile">
          <img src="../../../../assets/new-image/avtar.png" alt="image">
        </div>
        <div class="profile-des">
          <div class="profile-inner">
            <h3 class="profileName">Swastik Stainless Steel </h3>
            <span class="small-text">
              Construcion & Real Esate</span>
          </div>
          <ion-button shap="round" class="btn-outline-defualt">Following</ion-button>
        </div>

      </ion-card-content>
    </ion-item>
    <ion-item>
      <ion-card-content>
        <div class="userprofile">
          <img src="../../../../assets/new-image/avtar.png" alt="image">
        </div>
        <div class="profile-des">
          <div class="profile-inner">
            <h3 class="profileName">Swastik Stainless Steel </h3>
            <span class="small-text">
              Construcion & Real Esate</span>
          </div>
          <ion-button shap="round" class="btn-outline-defualt">Following</ion-button>
        </div>
      </ion-card-content>
    </ion-item>
  </ion-list>
</ion-content>