 <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/business-type-screen"></ion-back-button>
    </ion-buttons>
    <ion-title>Package</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding create-account">
  <div class="customForm-progress">
    <ion-progress-bar color="primary" value=".48"></ion-progress-bar>
    <div class="step-text">Step <span class="f-600 text-theme">3</span> of 6</div>
  </div>
  <h4 class="heading">If customer choose / Buyer</h4>
  <span class="small-text text-grey mb-10">Choose the your industry so that your followers can
    learn about your company.</span>
  <form #loginForm="ngForm" novalidate>
    <ion-list>
      <ion-radio-group value="Gold">
        <ion-item class="customCard">
          <ion-label>
            <div class="label">
              Gold
            </div>
            <div class="list-label">Lorem Ipsume buy package</div>
            <ul class="check-list">
              <li>1. Lorem Ipsume buy package</li>
              <li>2. Lorem Ipsume buy package</li>
              <li>3. Lorem Ipsume buy package</li>
              <li>4. Lorem Ipsume buy package</li>
              <li>5. Lorem Ipsume buy package</li>
            </ul>
          </ion-label>
          <ion-radio slot="start" value="Gold"></ion-radio>
          <ion-icon class="rightArrow" routerLink="/package-details-screen" src="../../../../assets/new-image/right-arrow.svg"></ion-icon>
        </ion-item>
        <ion-item class="customCard">
          <ion-label>
            <div class="label">
              Silver
            </div>
            <div class="list-label">Lorem Ipsume buy package</div>
            <ul class="check-list">
              <li>1. Lorem Ipsume buy package</li>
              <li>2. Lorem Ipsume buy package</li>
              <li>3. Lorem Ipsume buy package</li>
              <li>4. Lorem Ipsume buy package</li>
              <li>5. Lorem Ipsume buy package</li>
            </ul>
          </ion-label>
          <ion-radio slot="start" value="Silver"></ion-radio>
          <ion-icon class="rightArrow" routerLink="/package-details-screen" src="../../../../assets/new-image/right-arrow.svg"></ion-icon>
        </ion-item>
        <ion-item class="customCard">
          <ion-label>
            <div class="label">
              Platinam
            </div>
            <div class="list-label">Lorem Ipsume buy package</div>
            <ul class="check-list">
              <li>1. Lorem Ipsume buy package</li>
              <li>2. Lorem Ipsume buy package</li>
              <li>3. Lorem Ipsume buy package</li>
              <li>4. Lorem Ipsume buy package</li>
              <li>5. Lorem Ipsume buy package</li>
            </ul>
          </ion-label>
          <ion-radio slot="start" value="Platinam"></ion-radio>
          <ion-icon class="rightArrow" routerLink="/package-details-screen" src="../../../../assets/new-image/right-arrow.svg"></ion-icon>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-button class="btn-bottom btn-theme" routerLink="/category-screen">Next</ion-button>
</ion-footer>