<!-- Header Section Start -->
<ion-header translucent class="themeHeader ">
  <ion-toolbar class="bg-gradient">
    <ion-list class="d-flex justify-between">
      <ion-menu-toggle id="main">
        <button class="menuLeft">
          <ion-icon src="../../../../assets/new-image/menu.svg"></ion-icon>
        </button>
      </ion-menu-toggle>
      <ion-title>
        <ion-img class="logo-inner" src="../../../../assets/new-image/logo-inner.svg"></ion-img>
      </ion-title>
      <ion-list class="d-flex ion-nopadding">
        <ion-router-link class="icons relative" routerLink="/notification-screen">
          <ion-icon src="../../../../assets/new-image/icon-notification.svg"></ion-icon><span class="count">6</span>
        </ion-router-link>
        <ion-router-link class="icons" routerLink="/login-screen">
          <ion-icon src="../../../../assets/new-image/icon-logout.svg"></ion-icon>
        </ion-router-link>
      </ion-list>
    </ion-list>
  </ion-toolbar>
</ion-header>
<!-- Header Section End -->
<!-- Left Menu Section Start -->
<ion-menu side="start" menuId="first" contentId="main">
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<!-- Left Menu Section End -->
<!-- Body Section Start -->
<ion-content class="profile bg-grey ">
  <div class="user-profile">
    <div class="card">
      <div class="card-body">
        <div class="user-avatar">
          <img src="../../../../assets/new-image/avtar.png" alt="image">
        </div>
        <div class="user-details">
          <h6>Joachim Meyur </h6>
          <div class="small-text">
            Administrator
          </div>
          <div class="small-text">
            webironic@admin.com
          </div>
        </div>
      </div>
    </div>
  </div>
  <ion-grid>
    <ion-col size="12" class="themeHeading">
      <h6>Strengthen Your Profile</h6>
      <span class="text-small text-danger">
        20% complete
      </span>
    </ion-col>
  </ion-grid>
  <swiper class="profile-show" [slidesPerView]="1.1" [loop]="false">
    <ng-template swiperSlide>
      <ion-card>
        <ion-card-content>
          <div class="d-flex w-100 justify-between align-centerc">
            <h3 class="heading">Company GST Number</h3>
            <routerLink routerLink="/dashboard-buyer">
              <ion-icon name="close"></ion-icon>
            </routerLink>
          </div>
          <span class="small-text">
            Please set up your company GST Number so that
            others can get to know you.
          </span>
          <ion-button class="btn-theme w-100" shape="round">Add GST Number</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-template>
    <ng-template swiperSlide>
      <ion-card>
        <ion-card-content>
          <div class="d-flex w-100 justify-between align-centerc">
            <h3 class="heading">Company GST Number</h3>
            <routerLink routerLink="/">
              <ion-icon name="close"></ion-icon>
            </routerLink>
          </div>
          <span class="small-text">
            Please set up your company GST Number so that
            others can get to know you.
          </span>
          <ion-button class="btn-theme w-100" shape="round">Add GST Number</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-template>
    <ng-template swiperSlide>
      <ion-card>
        <ion-card-content>
          <div class="d-flex w-100 justify-between align-centerc">
            <h3 class="heading">Company GST Number</h3>
            <routerLink routerLink="/dashboard-buyer">
              <ion-icon name="close"></ion-icon>
            </routerLink>
          </div>
          <span class="small-text">
            Please set up your company GST Number so that
            others can get to know you.
          </span>
          <ion-button class="btn-theme w-100" shape="round">Add GST Number</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </swiper>
  <ion-list>
    <div class="ion-header">
      <h4 class="heading">About Us</h4>
      <routerLink routerLink="/add-profile-screen">
        <ion-icon src="../../../../assets/new-image/icon-edit.svg"></ion-icon>
      </routerLink>
    </div>
    <ion-item>
      <div>
        <span class="small-text">As one of the pioneers in the business National has been at the forefront of all major
          product development trends in the market one of the pioneers in the...
          <routerLink routerLink="#" class="link-theme f-right">See More</routerLink>
        </span>
      </div>
    </ion-item>
  </ion-list>
  <ion-list>
    <div class="ion-header">
      <h4 class="heading">Personal info</h4>
      <routerLink routerLink="/add-profile-screen">
        <ion-icon src="../../../../assets/new-image/icon-edit.svg"></ion-icon>
      </routerLink>
    </div>
    <ion-item>
      <ion-grid class="profileInfo">
        <ion-row>
          <ion-col size="6"> 
           <span class="labelInfo">Full Name:-</span>
          </ion-col>
          <ion-col size="6"> 
            <span class="label">John Smith</span>
          </ion-col> 
        </ion-row> 
        <ion-row>
          <ion-col size="6"> 
           <span class="labelInfo">Email Address:-</span>
          </ion-col>
          <ion-col size="6"> 
            <span class="label">johnsmith@gmail.com</span>
          </ion-col> 
        </ion-row> 
        <ion-row>
          <ion-col size="6"> 
           <span class="labelInfo">Business Type :- </span>
          </ion-col>
          <ion-col size="6"> 
            <span class="label">Buyer <small>(Buyer can buy the product)</small></span>
          </ion-col> 
        </ion-row> 
        <ion-row>
          <ion-col size="6"> 
           <span class="labelInfo">Package:-</span>
          </ion-col>
          <ion-col size="6"> 
            <span class="label">Gold</span>
          </ion-col> 
        </ion-row> 
        <ion-row>
          <ion-col size="6"> 
           <span class="labelInfo">Product:-</span>
          </ion-col>
          <ion-col size="6"> 
            <span class="label">Lorem Ipsume</span>
          </ion-col> 
        </ion-row> 
        <ion-row>
          <ion-col size="6"> 
           <span class="labelInfo">Business Stated:- </span>
          </ion-col>
          <ion-col size="6"> 
            <span class="label">2020</span>
          </ion-col> 
        </ion-row> 
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-list>
    <div class="ion-header">
      <h4 class="heading">Address Info</h4>
      <routerLink routerLink="/add-profile-screen">
        <ion-icon src="../../../../assets/new-image/icon-edit.svg"></ion-icon>
      </routerLink>
    </div>
    <ion-item>
      <ion-grid class="addressInfo">
        <ion-row> 
          <ion-col class="d-flex align-start" size="12"> 
            <div class="icon">
                <ion-icon src="../../../../assets/new-image/icon-pin.svg"></ion-icon>
            </div>
            <div class="w-80">
              <span class="label">209, Ekta Apartment, Shastri Nagar, Naranpura, 
                Opp Niddhi Apartment, Naranpura, Ahmedabad, Gujarat 380013 </span>
                <routerLink routerLink="#" class="link-theme f-right">Show More</routerLink>
            </div>
          </ion-col> 
        </ion-row>   
        <ion-row> 
          <ion-col class="d-flex align-center" size="12"> 
            <div class="icon">
                <ion-icon src="../../../../assets/new-image/icon-webiste.svg"></ion-icon>
            </div>
            <div class="w-80">
              <span class="label">www.swastikplywood.com</span> 
            </div>
          </ion-col> 
        </ion-row>   
        <ion-row> 
          <ion-col class="d-flex align-center" size="12"> 
            <div class="icon">
                <ion-icon src="../../../../assets/new-image/icon-mail.svg"></ion-icon>
            </div>
            <div class="w-80">
              <span class="label">swastikply@gmail.com</span> 
            </div>
          </ion-col> 
        </ion-row>   
        <ion-row> 
          <ion-col class="d-flex align-center" size="12"> 
            <div class="icon">
                <ion-icon src="../../../../assets/new-image/icon-phone.svg"></ion-icon>
            </div>
            <div class="w-80">
              <span class="label">+91 98786-75635, +91 89022-55121 </span> 
            </div>
          </ion-col> 
        </ion-row>   
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
<!-- Body Section End -->
<!-- Footer Section Start -->
<ion-footer class="themeFooter">
  <button class="footerTab" routerLink="/dashboard-buyer">
    <ion-icon class="tab-icons" src="../../../../assets/new-image/icon-home.svg"></ion-icon>
    <span class="tab-text">Home</span>
  </button>
  <button class="footerTab" routerLink="/product-screen">
    <ion-icon class="tab-icons" src="../../../../assets/new-image/icon-product.svg"></ion-icon>
    <span class="tab-text">Product</span>
  </button>
  <button class="footerTab">
    <ion-fab class="custom-fab" horizontal="center" vertical="top" slot="fixed" edge>
      <ion-fab-button class="btn-theme">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list class="fab-list" side="top">
        <ion-fab-button routerLink='/add-category-screen' data-desc="Add Category">
          <ion-icon src="../../../../assets/new-image/icon-category.svg"></ion-icon>
        </ion-fab-button>
        <ion-fab-button routerLink='/add-product-screen' data-desc="Add Product">
          <ion-icon src="../../../../assets/new-image/icon-product.svg"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </button>
  <button class="footerTab" routerLink="/order-screen">
    <ion-icon class="tab-icons" src="../../../../assets/new-image/icon-order.svg"></ion-icon>
    <span class="tab-text">Order</span>
  </button>
  <button class="footerTab active" routerLink="/profile-screen">
    <ion-img class="tab-img" src="../../../../assets/new-image/avtar.png"></ion-img>
    <span class="tab-text">Profile</span>
  </button>
</ion-footer>
<!-- Footer Section End -->