 <ion-header class="theme-Header" translucent>
  <ion-toolbar >
    <div class="d-flex justify-between w-100">
      <ion-buttons slot="start">
        <ion-back-button color="white" defaultHref="/my-product"></ion-back-button>
      </ion-buttons>
      <ion-title>Add Inquiry</ion-title>
      <routerlink routerLink="/seller-product-listing" class="cancel">Cancel</routerlink>
    </div>
  </ion-toolbar>
  </ion-header>
<ion-content class="ion-padding create-account"> 
    <form  #inquiryForm="ngForm" enctype="multipart/form-data" novalidate>
      <!-- <ion-item>
        <ion-label position="stacked">Product Code<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type product code"  [(ngModel)]="product_name" name="product_name"></ion-input>  
      </ion-item> -->
      <ion-item>
        <ion-label position="stacked">Remark<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type product name" [(ngModel)]="remark" name="remark"></ion-input>  
      </ion-item>
      
    </form>
</ion-content>
<ion-footer>
  <ion-button class="btn-bottom btn-theme" (click)="submitInquiry(inquiryForm)">Submit</ion-button>
</ion-footer>  

