<ion-content class="create-account">
  <div class="bannersSection bg-gradient">
    <div class="brand-logo">
      <ion-img src="../../../../assets/new-image/logo.svg"></ion-img>
    </div>
    <div class="bannerImage">
      <ion-img src="../../../../assets/new-image/create-account.svg"></ion-img>
    </div>
  </div>
  <div class="ion-padding">
      <h4 class="heading">ForgotPassword </h4>
      <span class="small-text text-grey mb-10">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy </span>
      <form #loginForm="ngForm" novalidate> 
        <ion-item>
          <ion-label position="stacked">Password  <span class="text-danger">*</span></ion-label>  
          <div class="w-100 icon">
            <ion-input  type="password" placeholder="Type password "></ion-input>  
            <!-- <button class="icons"  (click)="onClick()">
                <ion-icon name="eye-outline" *ngIf="!show"></ion-icon> 
                <ion-icon name="eye-off-outline" *ngIf="show"></ion-icon>
            </button> -->
          </div>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Confirm Password <span class="text-danger">*</span></ion-label>  
          <div class="w-100 icon">
            <ion-input  type="password" placeholder="Type password "></ion-input>  
            <button class="icons"  (click)="onClick()">
                <ion-icon name="eye-outline" *ngIf="!show"></ion-icon> 
                <ion-icon name="eye-off-outline" *ngIf="show"></ion-icon>
            </button>
          </div>
        </ion-item> 
      </form> 
  </div>

</ion-content>
<ion-footer>
  <ion-button class="btn-bottom btn-theme" routerLink="/login-screen">Confirm</ion-button>
</ion-footer>  
