.create-account{ 
    .ion-padding{
        padding-top: var(--ion-padding, 0px);
        padding-bottom: var(--ion-padding, 35px);
        --padding-top: 0px;
        --padding-bottom: 35px;
        --padding-start: 0px;
        --padding-end: 0px;
        position: relative;
        height: calc(100% - 45%);
    } 
    .forgot{
        display: flex;
        justify-content: end;
    }
}