 <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/package-screen"></ion-back-button>
    </ion-buttons>
    <ion-title>Category</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding create-account">
  <div class="customForm-progress">
    <ion-progress-bar color="primary" value=".64"></ion-progress-bar>
    <div class="step-text">Step <span class="f-600 text-theme">4</span> of 6</div>
  </div>
  <h4 class="heading">If customer choose / Buyer</h4>
  <span class="small-text text-grey mb-10">Choose the your industry so that your followers can
    learn about your company.</span>
  <form #loginForm="ngForm" novalidate>
    <ion-list>
      <ion-check-group value="product-1">
        <ion-item class="customCard">
          <ion-label>
            <div class="label">
              Sub Product Name
            </div>            
          </ion-label>
          <ion-checkbox  slot="start" value="product-1"></ion-checkbox>       
        </ion-item>
        <ion-item class="customCard">
          <ion-label>
            <div class="label">
              Sub Product Name
            </div>            
          </ion-label>
          <ion-checkbox  slot="start" value="product-2"></ion-checkbox >       
        </ion-item> 
        <ion-item class="customCard">
          <ion-label>
            <div class="label">
              Sub Product Name
            </div>            
          </ion-label>
          <ion-checkbox  slot="start" value="product-3"></ion-checkbox >       
        </ion-item> 
        <ion-item class="customCard">
          <ion-label>
            <div class="label">
              Sub Product Name
            </div>            
          </ion-label>
          <ion-checkbox  slot="start" value="product-4"></ion-checkbox >       
        </ion-item> 
        <ion-item class="customCard">
          <ion-label>
            <div class="label">
              Sub Product Name
            </div>            
          </ion-label>
          <ion-checkbox  slot="start" value="product-5"></ion-checkbox >       
        </ion-item> 
      </ion-check-group>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-button class="btn-bottom btn-theme" routerLink="/address-info-screen">Next</ion-button>
</ion-footer>