.customCard {
    --padding-end: 18px;
    --inner-padding-end: 18px;
    --inner-padding-top: 18px;
    --inner-padding-bottom: 18px; 
    align-items: center;
}
form ion-item.customCard ion-label .label {
    font-size: 18px;
}