<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/leads-dashboard'></ion-back-button>
    </ion-buttons>
    <ion-title>{{pageTitle}} Lead</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <form class="listing bg-theme-grey" #createLeadForm="ngForm" novalidate>

    <ion-list>

      <ion-item lines="full" (click)="toggleProjectInfo()">
        <ion-icon slot="start" name="information-circle-outline"></ion-icon>
        <ion-label class="btn-grey-clr">Lead Information</ion-label>
        <ion-icon slot="end" name="{{projectArrowIcon}}"></ion-icon>
      </ion-item>

      <div *ngIf="displayProjectInfo">
        <ion-item lines="full">
          <ion-label position="floating">Project Name <font color="red">*</font>
          </ion-label>
          <ion-input type="text" [(ngModel)]='leadInfo.projectName' name="projectName" disabled></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Project Type</ion-label>
          <ion-select [(ngModel)]='leadInfo.projectType' [interfaceOptions]="customActionCommonOptions"
            interface="action-sheet" name="projectType" #projectType="ngModel" disabled>
            <ion-select-option *ngFor="let project of api.projectTypeList" value="{{project.id}}">
              {{project.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Contact Name <font color="red">*</font>
          </ion-label>
          <ion-input type="text" [(ngModel)]='leadInfo.projectName' name="projectName" disabled></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Mobile Number</ion-label>
          <ion-input type="text" [(ngModel)]='leadInfo.customerMobile' name="customerMobile" disabled></ion-input>
        </ion-item>
      </div>

      <ion-item lines="full">
        <ion-label position="floating">Generated Date <font color="red">*</font>
        </ion-label>
        <ion-datetime displayFormat="DD MMM YYYY hh:mm A" [(ngModel)]='leadInfo.generatedDate' name="generatedDate"
          required>
        </ion-datetime>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Project Name <font color="red">*</font>
        </ion-label>
        <ion-input type="text" [(ngModel)]='leadInfo.leadName' name="leadName" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Source of Lead <font color="red">*</font>
        </ion-label>
        <ion-select [(ngModel)]='leadInfo.leadSource' [interfaceOptions]="customActionCommonOptions"
          interface="action-sheet" name="leadSource" #leadSource="ngModel" required>
          <ion-select-option *ngFor="let source of api.leadSourceList" value="{{source.id}}">
            {{source.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Priority <font color="red">*</font>
        </ion-label>
        <ion-select [(ngModel)]='leadInfo.priorityId' [interfaceOptions]="customActionCommonOptions"
          interface="action-sheet" name="priorityId" #priorityId="ngModel" required>
          <ion-select-option *ngFor="let priority of api.priorityList" value="{{priority.id}}">
            {{priority.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Status <font color="red">*</font>
        </ion-label>
        <ion-select [(ngModel)]='leadInfo.statusId' [interfaceOptions]="customActionCommonOptions"
          interface="action-sheet" name="statusId" #statusId="ngModel" required>
          <ion-select-option *ngFor="let status of api.statusList" value="{{status.id}}">
            {{status.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Estimated Cost </ion-label>
        <ion-input type="number" [(ngModel)]='leadInfo.estimatedCost' name="estimatedCost"></ion-input>
      </ion-item>

      <!-- <ion-item lines="full">
        <ion-label position="floating">Created By <font color="red">*</font>
        </ion-label>
        <ion-select [(ngModel)]='leadInfo.createdBy' [interfaceOptions]="customActionCommonOptions"
          interface="action-sheet" name="createdBy" #createdBy="ngModel">
          <ion-select-option *ngFor="let user of api.marketingPersonList" value="{{user.id}}">
            {{user.name}}
          </ion-select-option>
        </ion-select>
      </ion-item> -->

      <ion-item lines="full">
        <ion-label position="floating">Assigned To <font color="red">*</font>
        </ion-label>
        <ion-select [(ngModel)]='leadInfo.assignedTo' [interfaceOptions]="customActionCommonOptions"
          interface="action-sheet" name="assignedTo" #assignedTo="ngModel">
          <ion-select-option *ngFor="let user of api.marketingPersonList" value="{{user.id}}">
            {{user.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Notes</ion-label>
        <ion-textarea type="text" [(ngModel)]='leadInfo.notes' rows="3" name="notes"></ion-textarea>
      </ion-item>

    </ion-list>

    <div class="mt-20">
      <ion-row>
        <ion-col class="ion-no-padding">
          <ion-button type="button" expand="full" color="light" (click)="backToLeadDashbaord()">Cancel
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-padding">
          <ion-button type="submit" expand="full" color="primary" (click)="submitCreateLead(createLeadForm)">
            {{ leadId ? 'Update' : 'Create'}}
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

  </form>

</ion-content>