<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/leads-dashboard'></ion-back-button>
    </ion-buttons>
    <ion-title>Add Lead Notes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form class="listing bg-theme-grey" #leadNotesForm="ngForm" novalidate>

    <ion-list>
      <ion-item lines="full">
        <ion-label position="floating">Notes <font color="red">*</font></ion-label>
        <ion-textarea type="text" [(ngModel)]='leadNotes' rows="5" name="leadNotes" required></ion-textarea>
      </ion-item>
    </ion-list>

    <div class="mt-20">
      <ion-row>
        <ion-col class="ion-no-padding">
          <ion-button type="button" expand="full" color="light" (click)="backToLeadDashbaord()">Cancel
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-padding">
          <ion-button type="submit" expand="full" color="primary" (click)="submitLeadNotes(leadNotesForm)">Create
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

  </form>

</ion-content>