 <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/order-screen"></ion-back-button>
    </ion-buttons>
    <ion-title>Order Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-grey ion-padding">
  <ion-list>
    <ion-item>
      <div class="d-flex align-center">
        <h4 class="label">Order ID:</h4>
        <span class="label-view">OD12412215812158814</span>
      </div>
    </ion-item>
    <ion-item class="card-listing">
      <ion-card-content>
        <div class="productImage"
          style="background: url('https://www.thoughtco.com/thmb/1eAhASOc5x0jd6Vd9eiwydqb9_M=/1989x1492/smart/filters:no_upscale()/138341623-56a613dc5f9b58b7d0dfcc41.jpg');">
        </div>
        <div class="product-des">
          <h3 class="productName">Alluminium lorem ipsum Rolles</h3>
          <span class="small-text">Lorem Ipsum is simply dummy simply dummy</span>
          <div class="d-flex justify-between align-center">
            <div class="w-50">
              <span class="price">₹19,006</span>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-item>
    <ion-item>
      <div class="d-flex progress-bar">
        <div class="progress confirm">
          <div class="progress-fill" style="height:100%;"></div>
        </div>
        <div>
          <div class="progress-details">
            <h4 class="label">Ordered</h4>
            <span class="small-text">Tue, 14th Mar 2022</span>
          </div>
          <div class="progress-details mt-3">
            <routerLink class="label d-flex align-center">Delivered <ion-icon class="icon"
                name="chevron-forward-outline"></ion-icon>
            </routerLink>
            <span class="small-text">Your item has been delivered</span>
          </div>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="d-flex align-center justify-between w-100">
        <h4 class="label">Write a Review</h4>
        <div class="rating">
          <routerLink class="active">
            <ion-icon src="../../../../assets/new-image/review-rating.svg"></ion-icon>
          </routerLink>
          <routerLink class="active">
            <ion-icon src="../../../../assets/new-image/review-rating.svg"></ion-icon>
          </routerLink>
          <routerLink class="active">
            <ion-icon src="../../../../assets/new-image/review-rating.svg"></ion-icon>
          </routerLink>
          <routerLink>
            <ion-icon src="../../../../assets/new-image/review-rating.svg"></ion-icon>
          </routerLink>
          <routerLink>
            <ion-icon src="../../../../assets/new-image/review-rating.svg"></ion-icon>
          </routerLink>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <ion-list>
    <div class="ion-header">
      Shipping Details
    </div>
    <ion-item>
      <div>
        <div>
          <h4 class="label-name">John Smith</h4>
          <span class="small-text">209, Ekta Apartment, Shastri Nagar, Naranpura, 
            Opp Niddhi Apartment, Naranpura, 
            Ahmedabad
            Gujarat 380013</span>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <ion-list >
    <ion-item routerLink="/" class="download-link">
      <h4 class="label">Invoice Download</h4> 
      <ion-icon class="rightArrow" routerLink="/package-details-screen" src="../../../../assets/new-image/right-arrow.svg"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list  class="price">
    <div class="ion-header">
      Price Details
    </div>
    <ion-item>
      <div class="d-flex align-center w-100 justify-between">
        <span class="label-view">Selling Price</span>
        <span class="price-label">₹19,006</span>
      </div>
    </ion-item>
    <ion-item>
      <div class="d-flex align-center w-100 justify-between">
        <span class="label-view">Extra Discount</span>
        <span class="price-label">- ₹1000</span>
      </div>
    </ion-item>
    <ion-item>
      <div class="d-flex align-center w-100 justify-between">
        <span class="label-view">Special Price</span>
        <span class="price-label">₹18,006</span>
      </div>
    </ion-item>
    <ion-item>
      <div class="d-flex align-center w-100 justify-between">
        <span class="label-view">Shipping Fee</span>
        <span class="price-label">₹100</span>
      </div>
    </ion-item>
    <ion-item>
      <div class="d-flex align-center w-100 justify-between">
        <h4 class="label">Total Amount</h4> 
        <span class="price-label f-600">₹18,106</span> 
      </div>
    </ion-item>
  </ion-list>
</ion-content>