.ion-padding {
    padding-top: var(--ion-padding, 10px);
    --padding-top: 10px;
    padding-bottom: var(--ion-padding, 0px);
    --padding-bottom: 0px;
    --padding-start: 0px;
    --padding-end: 0px;
}

ion-list {
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    margin-bottom: 10px;
    &.list-md{
        padding: 0px;
    }
    .ion-header {
        padding: 10px 15px;
        font-size: 16px;
        margin: 0px;
        font-weight: 500;
        font-family: var(--f-Poppins);
        border-bottom: solid 1px rgba(0, 0, 0, 0.12);
    }

    ion-item {
        --border-color: #ddd;
        --padding-start: 15px; 
        --inner-padding-top: 10px;
        --inner-padding-bottom: 10px;
        --inner-padding-end: 15px;

        &.download-link {
            align-items: center; 
            --detail-icon-opacity: 0;

            .label {
                font-size: 16px;
                font-weight: 500;
            }
            .rightArrow{
                stroke: #777777;
                position: absolute;
                right: 15px;
                top: 15px;
                height: 15px;
            }
        }

        &:last-child {
            --border-color: transparent;
        }

        .label {
            font-size: 16px;
            margin: 0px;
            font-weight: 600;
        }

        .label-name {
            font-size: 20px;
            font-weight: 600;
            margin: 0px 0px 5px 0px;
        }

        .label-view {
            font-size: 16px;
            font-family: var(--f-Poppins);
            margin-left: 0.5rem;
        }

        .small-text {
            font-size: 15px;
            line-height: 22px;
        }

        ion-card-content {
            padding: 0px;
            display: flex;
            align-items: center;
            width: 100%;

             .productImage {
                border-radius: 15px;
                width: 95px;
                height: 90px;
                background-size: cover !important;
                background-position: center !important;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                  object-fit: cover;
                }
            }

            .product-des {
                padding-left: 0.8rem;
                width: 70%;
                display: inline-flex;
                flex-flow: column;

                .productName {
                    font-weight: 600;
                    font-size: 17px;
                    line-height: 19px;
                    letter-spacing: -0.01em;
                    color: #000000;
                    margin: 0px;
                }

                .price {
                    font-size: 20px;
                    font-weight: 700;
                    color: var(--theme-color);
                }

                .small-text {
                    font-size: 14px;
                    line-height: 22px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        .icon {
            font-size: 18px;
        }

        .progress-bar {
            .progress {
                margin: 15px;
                width: 3px;
                height: 50px;
                background-color: rgba($color: #000000, $alpha: 0.12);
                border-radius: 5px;
                position: relative;
                display: flex;
                justify-content: center;

                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    margin: 0 auto;
                    border: solid 2px #ccc;
                    width: 9px;
                    height: 9px;
                    border-radius: 100%;
                }

                &::after {
                    top: -11px;
                    background-color: #47b50b;
                    border-color: #47b50b;
                }

                &::before {
                    bottom: -11px;
                }

                .progress-fill {
                    border-radius: 5px;
                    width: 100%;
                    background-color: #47b50b;
                }

                &.confirm {

                    &::after,
                    &::before {
                        background-color: #47b50b;
                        border-color: #47b50b;
                    }

                    .progress-fill {
                        background-color: #47b50b;
                    }
                }

                &.cancel {

                    &::after,
                    &::before {
                        background-color: #FF3838;
                        border-color: #FF3838;
                    }

                    .progress-fill {
                        background-color: #FF3838;
                    }
                }
            }

            .progress-details {
                display: flex;
                flex-flow: column;
            }

            .small-text {
                font-size: 14px;
            }

            .mt-3 {
                margin-top: 18px;
            }
        }

        .rating {
            display: flex;
            align-items: center;

            routerLink {
                display: flex;
                margin: 0px 2px;

                ion-icon {
                    font-size: 24px;
                    color: #C0C0C0;
                }

                &.active {
                    ion-icon {
                        color: #47b50b;
                    }
                }
            }
        }
    }

    &.price {
        ion-item {
            .label-view {
                margin: 0px;
            }

                .price-label {
                font-size: 16px;
                font-weight: 500;
            }
        }

    }
}