<!-- Header Section Start -->
<ion-header translucent class="themeHeader ">
  <ion-toolbar class="bg-gradient">
    <ion-list class="d-flex justify-between">
      <ion-menu-toggle id="main">
        <button class="menuLeft">
          <ion-icon src="../../../../assets/new-image/menu.svg"></ion-icon>
        </button>
      </ion-menu-toggle>
      <ion-title>
        <ion-img class="logo-inner" src="../../../../assets/new-image/logo-inner.svg"></ion-img>
      </ion-title>
      <ion-list class="d-flex ion-nopadding">
        <ion-router-link class="icons relative" routerLink="/notification">
          <ion-icon src="../../../../assets/new-image/icon-notification.svg"></ion-icon>
          <!-- <span class="count">6</span> -->
        </ion-router-link>
        <button class="icons" (click)="confirmLogout()">
          <ion-icon src="../../../../assets/new-image/icon-logout.svg"></ion-icon>
        </button>
      </ion-list>
    </ion-list>
  </ion-toolbar>
</ion-header>
<!-- Header Section End -->
<!-- Body Section Start -->
<ion-content class="dashboard bg-grey "> 
  <div class="user-profile">
    <div class="card">
      <div class="card-body">
        <div class="user-avatar">
          <img [src]="api.userPicture" alt="image">
        </div>
        <div class="user-details">
          <h6>{{api.userName}} </h6>
          <div class="small-text">
            {{api.mobile_number}}
          </div>
          <div class="small-text">
            {{api.userTypeName}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <ion-grid class="counter" *ngIf="data">
    <ion-row>
      <ion-col size="4">
        <ion-card>
          <ion-card-content class="text-center">
            <h4>{{data.totalProducts}}</h4>
            <div>
              <div class="small-text">Total</div>
              <h6>Products</h6>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-content class="text-center">
            <h4>{{data.totalInquiries}}</h4>
            <div>
              <div class="small-text">total</div>
              <h6>Inquiry</h6>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-content class="text-center">
            <h4>{{data.totalOrders}}</h4>
            <div>
              <div class="small-text">Total</div>
              <h6>Orders</h6>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="follower">
      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h4>{{data.totalFollowers}}</h4>
            <div class="pl-2">
              <h6>Followers</h6>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h4>{{data.totalFollowups}}</h4>
            <div class="pl-2">
              <h6>Following</h6>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-col size="12" class="themeHeading">
      <h6>Today’s Order</h6>
      <!-- <ion-router-link class="link-dark" href="#">View All</ion-router-link> -->
    </ion-col>
  </ion-grid>
  <swiper class="product-show" [slidesPerView]="1.5" [loop]="false">
    <ng-template swiperSlide  *ngFor="let d of order">
      <ion-card routerLink="/view-order-history/{{d.id}}">
        <div class="productImage">
          <img [src]="d.product_pic" style="width: 250px;"  onerror="this.src='assets/img/dashboard/product.png';" alt="img">
        </div>
 
        <ion-card-content>
          <h3 class="productName">
            {{d.product_name}}</h3>
          <div class="d-flex justify-between">
            <div class="w-50">
              <span class="price">{{d.product_item_rate}}</span>
              <!-- <span class="price">₹{{d.order_rate}}</span> -->
            </div>
            <div class="w-50">
              <span class="text-small">QTY: <b class="text-dark">01</b></span>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-template>
   
  </swiper>

</ion-content>
<!-- Body Section End -->
<!-- Footer Section Start -->
<ion-footer class="themeFooter">
  <button class="footerTab active" routerLink="/dashboard">
    <ion-icon class="tab-icons" src="../../../../assets/new-image/icon-home.svg"></ion-icon>
    <span class="tab-text">Home</span>
  </button>
  <button class="footerTab" routerLink="/my-product">
    <ion-icon class="tab-icons" src="../../../../assets/new-image/icon-product.svg"></ion-icon>
    <span class="tab-text">Product</span>
  </button>
  <button class="footerTab">
    <ion-fab class="custom-fab" horizontal="center" vertical="top" slot="fixed" edge>
      <ion-fab-button class="btn-theme">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list class="fab-list" side="top">
        <ion-fab-button routerLink='/add-category' data-desc="Add Category">
          <ion-icon src="../../../../assets/new-image/icon-category.svg"></ion-icon>
        </ion-fab-button>
        <ion-fab-button routerLink='/add-product' data-desc="Add Product">
          <ion-icon src="../../../../assets/new-image/icon-product.svg"></ion-icon>
        </ion-fab-button>       
      </ion-fab-list>
    </ion-fab>
  </button>
  <button class="footerTab" routerLink="/order-list">
    <ion-icon class="tab-icons" src="../../../../assets/new-image/icon-order.svg"></ion-icon>
    <span class="tab-text">Order</span>
  </button>
  <button class="footerTab" routerLink="/profile">
    <ion-img class="tab-img" [src]="api.userPicture"></ion-img>
    <span class="tab-text">Profile</span>
  </button>
</ion-footer>
<!-- Footer Section End -->