.dashboard {
  .user-profile {
    width: 100%;
    background-color: var(--theme-color);
    position: relative;
    padding: 10px 20px 0px 20px;
    display: inline-block;
    z-index: 1;
    margin-bottom: 2rem;

    &::after {
      content: '';
      position: absolute;
      left: 0px;
      bottom: 0px;
      height: 50px;
      background-color: var(--bg-lighter);
      width: 100%;
      border-radius: 25px 25px 0px 0px;
      z-index: -1;
    }

    .card {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 20px;
      -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      background-color: #fff;

      &::after {
        content: "";
        position: absolute;
        left: 15px;
        bottom: -15px;
        width: 92%;
        height: 50px;
        background-color: #A780EC;
        z-index: -1;
        border-radius: 15px;
      }

      .card-body {
        padding: 15px;
        width: 100%;
        display: flex;
        z-index: 1;

        .user-avatar {
          width: 80px;
          height: 80px;
          overflow: hidden;
          border-radius: 100%;
          background-color: #f1f1f1;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .user-details {
          width: 70%;
          padding-left: .8rem;
          display: flex;
          flex-flow: column;
          align-items: flex-start;
          justify-content: center;

          h6 {
            font-size: 22px;
            line-height: 22px;
            font-weight: 500;
            font-family: var(--f-Poppins);
            margin-top: 0;
            margin-bottom: 5px;
            color: var(--blackColor);
            letter-spacing: -0.72px;
          }

          .small-text {
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
            letter-spacing: 1px;
            color: var(--blackColor);
            font-family: var(--f-Poppins);
            align-items: center;
            display: flex;
            margin-bottom: 2px;
          }

          ion-icon {
            font-size: 20px;
            font-weight: 600;
            margin-right: 1px;
          }
        }
      }
    }
  }
  ion-grid{
   padding: 0px 10px;
  }
  .counter {
   

    ion-card {
      margin: 0px; 

      ion-card-content {
        padding: 12px 10px;

        h4 {
          font-size: 32px;
          line-height: 33px;
          letter-spacing: -0.02em;
          color: var(--theme-color);
          font-weight: 600;
          margin: 0px;
        }

        .small-text {
          font-size: 14px;
          text-transform: uppercase;
          color: #777777;
          line-height: 14px;
          font-weight: 400;
        }

        h6 {
          font-weight: 500;
          font-size: 17px;
          line-height: 15px;
          color: #000;
          margin: 0px;
        }
      }
    }

    .follower {
      ion-card {
        ion-card-content {
          display: flex;
          padding: 20px 10px 20px 20px;
          align-items: center;

          h4 {
            font-size: 36px;
            padding-right: .8rem;
            line-height: 40px;
          }

          .small-text {
            margin-bottom: 2px;
          }
        }
      }
    }
  }

  .product-show {
    padding-left: 15px;

    ion-card {
      margin: 0px 20px 25px 0px;
      width: 100%;
      border-radius: 15px;
      box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.09);

      .productImage {
        width: 100%;
        height: 130px;
        background-size: cover !important;
        background-position: center !important;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
          object-fit: cover;
        }
      }

      ion-card-content {
        padding: 15px;
        text-align: left;

        .productName {
          font-weight: 600;
          font-size: 18px;
          line-height: 20px;
          letter-spacing: -0.01em;
          color: #000000;
          margin: 0px 0px 8px 0px;
        }
      }

      .price {
        font-size: 18px;
        font-weight: 700;
        color: var(--theme-color);
      }
    }
  }
}
