 <ion-header class="theme-Header" translucent>
  <ion-toolbar >
    <div class="d-flex justify-between w-100">
      <ion-buttons slot="start">
        <ion-back-button color="white" defaultHref="/my-product"></ion-back-button>
      </ion-buttons>
      <ion-title>Update Product</ion-title>
      <routerlink routerLink="/dashboard" class="cancel">Cancel</routerlink>
    </div>
  </ion-toolbar>
  </ion-header>
<ion-content class="ion-padding create-account"> 
    <form #profileForm="ngForm" enctype="multipart/form-data" novalidate>
      <!-- <ion-item>
        <ion-label position="stacked">Product Code<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type product code"  [(ngModel)]="updateproductInfo.product_id" rows="3" name="product_id" disabled></ion-input>  
      </ion-item> -->
      <ion-item>
        <ion-label position="stacked">Product Name<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Enter product name"  [(ngModel)]="updateproductInfo.product_name" name="product_name"></ion-input>  
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Price<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Enter price"  type="decimal" [(ngModel)]="updateproductInfo.rate" rows="3" name="rate" inputmode="numeric"></ion-input>  
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">Category<span class="text-danger">*</span></ion-label>  
        <ion-select placeholder="Choose Category"  [(ngModel)]="updateproductInfo.category" [interfaceOptions]="customActionSubTypeOptions"
        interface="action-sheet" name="category"  #category="ngModel" required (ionChange)="changeSubType($event)">
        <ion-select-option *ngFor="let category of api.categoryList" value="{{category.id}}">
          {{category.name}}
        </ion-select-option>
      </ion-select>
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">Unit<span class="text-danger">*</span></ion-label>  
        <ion-select placeholder="Choose unit" [(ngModel)]="updateproductInfo.unit" [interfaceOptions]="customActionCommonOptions"
        interface="action-sheet" name="unit"  #unit="ngModel" required (ionChange)="changeSubType($event)">
        <ion-select-option *ngFor="let unit of api.unitList" value="{{unit.id}}">
          {{unit.name}}
        </ion-select-option>
      </ion-select>
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">Descrption<span class="text-danger">*</span></ion-label>  
        <ion-textarea type="text" rows="4" cols="10" placeholder="Type price"  [(ngModel)]="updateproductInfo.hsn_description" rows="3" name="hsn_description"></ion-textarea>  
      </ion-item> 
          
      <ion-item>
        <ion-label position="stacked">Image<span class="text-danger">*</span>
        </ion-label> 
        <div class="d-flex align-center">  
          <ion-avatar class="image-upload" slot="start"  *ngIf="updateproductInfo.profile_pic_preview">
            <ion-img [src]="updateproductInfo.profile_pic_preview" (click)="previewImage(1)"></ion-img>
          </ion-avatar> 
          <div class="upload-btn-wrapper ">
            <ion-button class="btn-theme">Upload Image</ion-button>
              <input type="file" [(ngModel)]="updateproductInfo.product_pic" name="product_pic" (change)="onProfileChange($event)" accept="image/*"/> 
          </div>
        </div>
      </ion-item>

      <ion-item>     
        <ion-label position="stacked">Type<span class="text-danger">*</span></ion-label>
         <ion-radio-group class="radioGroup" [(ngModel)]="updateproductInfo.published" name="published">
           <!-- <ion-list-header> 
             <ion-label>Product<font color="red">*</font></ion-label>         
           </ion-list-header> -->

           <ion-item *ngFor="let published of Product">
             <ion-label>{{published.name}}</ion-label>
             <ion-radio slot="start" value="{{published.id}}" ></ion-radio>
           </ion-item>
         </ion-radio-group>     
     </ion-item>     
    </form>
</ion-content>
<ion-footer>
  <ion-button class="btn-bottom btn-theme" (click)="submitUpdateProfile(profileForm)">Submit</ion-button>
</ion-footer>  

