ion-content{
  --ion-background-color: whitesmoke;
}
ion-header{
  --ion-background-color:teal;
}ion-toolbar{
  color: white;
}
.button{
  --background: teal;
}
ion-card{
  background-color: white;
}
.right{
  float: right;
}
.div-style
{
  background-color: whitesmoke;
  height: 30px;
  width: 100px;
  text-align: center;
  padding-top: 6px;
  color: black;
}
.style1 {
  font-size: 1em;
  // color: #fff;
  // background-color:#555;

  border-bottom: 1px solid;

  margin-bottom: 5px;
}
.row{
  border-right: 1px solid;
  font-weight: bold;
}
.right{
  float: right;
}
.head{
  font-weight: bold;
  font-size: 15px;
  color: black;
  margin-bottom: 10px;
}

