form {
  ion-item {
      &.item-label-stacked {
          padding-right: 15px;
          padding-inline-end: 15px;
          --inner-padding-top: 10px;
          --inner-padding-bottom: 0px;
          margin: 0px;

          &:last-child {
              margin-bottom: 15px;
          }
      }
  }
}

ion-list {
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  margin: 15px 0px;

  ion-item {
      --padding-start: 15px;
      --detail-icon-font-size: 22px;
      --detail-icon-opacity: .5;
      --inner-padding-top: 8px;
      --inner-padding-bottom: 8px;

      .label-name {
          font-size: 18px;
          font-weight: 600;
          margin: 0px 0px 2px 0px;
      }

      .label-view {
          font-size: 14px;
          font-family: var(--f-Poppins);
          color: rgba($color: #000000, $alpha: 0.8);
      }
  }

  .ion-header {
      padding: 12px 20px 0px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .heading {
          font-size: 19px;
          color: #000;
          margin: 0px;
          font-weight: 600;
          font-family: var(--f-Poppins);
      }

  }
}


   
  
 