 <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/dashboard-buyer"></ion-back-button>
    </ion-buttons>
    <ion-title>Category</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-grey"> 
  <div class="d-flex bg-white commanSearchMain">
    <ion-searchbar></ion-searchbar>
    <ion-button class="btn-theme" (click)="presentActionSheet()">
      <ion-icon src="../../../../assets/new-image/icon-fillter.svg"></ion-icon>
    </ion-button>
  </div> 
  <ion-col size="12" class="themeHeading">
    <h6>All Category</h6> 
  </ion-col>
  <ion-list class="card-listing">
    <ion-item>
      <ion-card-content>
      <div class="productImage"
        style="background: url('https://www.thoughtco.com/thmb/1eAhASOc5x0jd6Vd9eiwydqb9_M=/1989x1492/smart/filters:no_upscale()/138341623-56a613dc5f9b58b7d0dfcc41.jpg');">
      </div>
      <div class="product-des">
        <h3 class="productName">Stainless Steel</h3>        
      </div>
      </ion-card-content>
    </ion-item> 
    <ion-item>
      <ion-card-content>
      <div class="productImage"
        style="background: url('https://www.thoughtco.com/thmb/1eAhASOc5x0jd6Vd9eiwydqb9_M=/1989x1492/smart/filters:no_upscale()/138341623-56a613dc5f9b58b7d0dfcc41.jpg');">
      </div>
      <div class="product-des">
        <h3 class="productName">Stainless Steel</h3>        
      </div>
      </ion-card-content>
    </ion-item> 
    <ion-item>
      <ion-card-content>
      <div class="productImage"
        style="background: url('https://www.thoughtco.com/thmb/1eAhASOc5x0jd6Vd9eiwydqb9_M=/1989x1492/smart/filters:no_upscale()/138341623-56a613dc5f9b58b7d0dfcc41.jpg');">
      </div>
      <div class="product-des">
        <h3 class="productName">Stainless Steel</h3>        
      </div>
      </ion-card-content>
    </ion-item> 
    <ion-item>
      <ion-card-content>
      <div class="productImage"
        style="background: url('https://www.thoughtco.com/thmb/1eAhASOc5x0jd6Vd9eiwydqb9_M=/1989x1492/smart/filters:no_upscale()/138341623-56a613dc5f9b58b7d0dfcc41.jpg');">
      </div>
      <div class="product-des">
        <h3 class="productName">Stainless Steel</h3>        
      </div>
      </ion-card-content>
    </ion-item> 
    <ion-item>
      <ion-card-content>
      <div class="productImage"
        style="background: url('https://www.thoughtco.com/thmb/1eAhASOc5x0jd6Vd9eiwydqb9_M=/1989x1492/smart/filters:no_upscale()/138341623-56a613dc5f9b58b7d0dfcc41.jpg');">
      </div>
      <div class="product-des">
        <h3 class="productName">Stainless Steel</h3>        
      </div>
      </ion-card-content>
    </ion-item> 
  </ion-list> 
</ion-content> 
