ion-header {
    ion-toolbar {
        --border-width: 0px;
    }
}
.commanSearchMain {
    border-bottom: solid 1px #ddd;
}
.themeHeading {
    margin: 0.7rem 0rem 0.5rem 0rem;
    padding: 5px 15px;
}
.card-listing {
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    ion-item {
        --border-color:#ddd;
        --padding-start: 15px;
        ion-card-content {
            padding: 8px 0px;
            display: flex;
            align-items: center;
            width: 100%;

            .productImage {
                border-radius: 15px;
                width: 80px;
                height: 70px;
                background-size: cover !important;
                background-position: center !important;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                  object-fit: cover;
                }
            }
            .product-des {
                padding-left: 1rem;
                width: 70%;
                display: inline-flex;
                flex-flow: column;
                .productName {
                    font-weight: 600;
                    font-size: 19px;
                    line-height: 24px;
                    letter-spacing: -0.01em;
                    color: var(--theme-color);
                    margin:0px;
                }
            }
        }
        &:last-child{
            --border-color:transparent;
        }
    }
}
