<ion-content class="create-account">
  <div class="bannersSection bg-gradient">
    <div class="brand-logo">
      <ion-img src="../../../../assets/new-image/logo.svg"></ion-img>
    </div>
    <div class="bannerImage">
      <ion-img src="../../../../assets/new-image/create-account.svg"></ion-img>
    </div>
  </div>
  <div class="ion-padding">
      <h4 class="heading">Login using your Email! </h4>
      <span class="small-text text-grey mb-10">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy </span>
      <form #loginForm="ngForm" novalidate>
        <ion-item>
          <ion-label position="stacked">Email Address <span class="text-danger">*</span></ion-label> 
          <ion-input type="number" placeholder="Type Mobile"></ion-input> 
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password  <span class="text-danger">*</span></ion-label>  
          <div class="w-100 icon">
            <ion-input  type="password" placeholder="Type password "></ion-input>  
            <button class="icons"  (click)="onClick()">
                <ion-icon name="eye-outline" *ngIf="!show"></ion-icon> 
                <ion-icon name="eye-off-outline" *ngIf="show"></ion-icon>
            </button>
          </div>
        </ion-item>
  
        <ion-router-link color="dark" class="f-600 forgot" routerLink="/forgot-password-screen">Forgot Password</ion-router-link> 
      </form>
      <span class="bottom-link">Don’t have an account ? <ion-router-link color="dark" class="f-600" routerLink="/create-account">Create Account!</ion-router-link></span>
  </div>

</ion-content>
<ion-footer>
  <ion-button class="btn-bottom btn-theme" routerLink="/dashboard-buyer">Next</ion-button>
</ion-footer>  
