 <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/otp-screen"></ion-back-button>
    </ion-buttons>
    <ion-title>Personal Info</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding create-account">
  <div class="customForm-progress">
    <ion-progress-bar color="primary" value=".16"></ion-progress-bar>
    <div class="step-text">Step <span class="f-600 text-theme">1</span> of 6</div>
  </div>
  <h4 class="heading">Let’s get started </h4>
  <span class="small-text text-grey mb-10">Please set up your profile so that others can get 
    to know you</span>
    <form #loginForm="ngForm" novalidate>
      <ion-item>
        <ion-label position="stacked">Full Name <span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type name"></ion-input>  
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email Address<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type email"></ion-input>  
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Mobile Number</ion-label>  
        <div class="w-100 with-icon">
          <div class="icons">+91</div>
          <ion-input type="number" placeholder="Type Mobile"></ion-input> 
        </div> 
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password  <span class="text-danger">*</span></ion-label>  
        <div class="w-100 icon">
          <ion-input  type="password" placeholder="Type password "></ion-input>  
          <button class="icons"  (click)="onClick()">
              <ion-icon name="eye-outline" *ngIf="!show"></ion-icon> 
              <ion-icon name="eye-off-outline" *ngIf="show"></ion-icon>
          </button>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Confirm Password<span class="text-danger">*</span></ion-label>   
        <div class="w-100 icon">
          <ion-input  type="password" placeholder="Type confirm password "></ion-input>  
          <button class="icons"  (click)="onClick()">
              <ion-icon name="eye-outline" *ngIf="!show"></ion-icon> 
              <ion-icon name="eye-off-outline" *ngIf="show"></ion-icon>
          </button>
        </div>
      </ion-item>
    </form>
</ion-content>
<ion-footer>
  <ion-button class="btn-bottom btn-theme" routerLink="/business-type-screen">Next</ion-button>
</ion-footer>  

