<ion-header [translucent]="true">
  <ion-toolbar >
    <div class="d-flex justify-between w-100">
      <ion-buttons slot="start">
        <ion-back-button color="white" defaultHref="/my-product"></ion-back-button>
      </ion-buttons>
      <ion-title>View Price</ion-title>
      <routerlink routerLink="/dashboard" class="cancel">Cancel</routerlink>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngIf="data == 0">
    <ion-label class="ion-text-center">No record found</ion-label>
  </ion-item>
  <div class="ion-padding">
    <h4 class="heading">Product Price History! </h4>
      </div>
  <div *ngIf="data" class="bg-theme-grey">
  <ion-card *ngFor="let d of data; let i=index;">
        <ion-item class="item-box" lines="150px"  
        id="dr-custom-item-{{i}}">
        <ion-grid>
          <ion-item *ngIf="data === 0">
            <ion-label class="ion-text-center">No record found</ion-label>
          </ion-item>
          <ion-row>
           <!-- <ion-col>
          <ion-label class="font">{{d.id}}</ion-label>
          </ion-col> -->
            <ion-col>
              <ion-label class="font" style="font-size: 15px;">{{i+1}}  .{{d.product_name}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label class="font" style="font-size: 15px;">{{d.price}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label class="font" style="font-size: 13px;">{{d.created_at}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="product"> 
            <ion-col *ngFor="let product of product">
              {{product.product_name}}
            </ion-col>
          </ion-row>
  </ion-grid>
  </ion-item>
  </ion-card>
</div>  
</ion-content>
