 <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Following</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-grey">
  <ion-row>
  <ion-col size="10" class="themeHeading">
    <h6>Following Request</h6>
  </ion-col>
  <ion-col size="2" class="themeHeading">
    <ion-icon name="search-outline" routerLink="/search-following"></ion-icon>
  </ion-col>
</ion-row>
<div class="ion-padding-horizontal" style="margin-top: 30px;" *ngIf="followingCount === 0">
  <ion-item>
    <ion-label class="ion-padding-start ion-text-center" >No user found</ion-label>
  </ion-item>
</div>
  <ion-list class="card-listing" *ngFor="let d of data">
    <ion-item>
      <ion-card-content>
        <div class="userprofile">
          <img [src]="d.picture" style="width: 250px;"  onerror="this.src='assets/img/dashboard/avatar.png';" alt="img">
        </div>
        <div class="profile-des">
          <div class="profile-inner">
            <h3 class="profileName">{{d.following_name}}</h3>
            <span class="small-text"></span>
          </div>
          <ion-button shap="round" class="btn-outline-defualt" (click)="condirmRemoveDailyReport(d.id)">Follwing</ion-button>
        </div>

      </ion-card-content>
    </ion-item>
    
  </ion-list>
</ion-content>