<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/forgot-password'></ion-back-button>
    </ion-buttons>
    <ion-title>OTP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form class="listing bg-theme-grey" #otpForm="ngForm" novalidate>

    <div class="ion-text-center">

      <ion-icon class="lock-icon" name="paper-plane-outline"></ion-icon>

      <h1>Reset Password OTP</h1>

      <div class="ion-padding">
        <p class="sub-text">We've send you an otp on </p>
        <p class="sub-text">
          <ion-text color="primary">
            <ion-icon class="eml-icon" name="call-outline"></ion-icon>
            <strong>{{mobile_number}}</strong>
          </ion-text>
        </p>
        <p class="sub-text">your registered mobile no</p>
      </div>

      <div class="form-content">

        <ion-item lines="full">
          <!-- <ion-label position="stacked">Mobile No <span class="text-danger">*</span></ion-label> 
              <ion-input type="number" [(ngModel)]='inputMobile' name="inputMobile" #mobile_number="ngModel" placeholder="Mobile Number" required ></ion-input> -->
          <ion-label position="stacked">OTP <font color="red">*</font>
          </ion-label>
          <ion-input type="number" [(ngModel)]='inputOtp' name="inputOtp" [autofocus]="true" spellcheck="false" autocapitalize="off" required></ion-input>
        </ion-item>

      
        <div class="mt-20">
          <ion-button type="submit" expand="full" color="primary" (click)="submitOTP(otpForm)">
            Confirm OTP
          </ion-button>
          <ion-button type="button" expand="full" fill="clear" routerLink="/forgot-password">
            <ion-icon class="eml-icon" name="arrow-back-outline"></ion-icon>
            <span class="m-spn">Incorrect Mobile No?</span>
          </ion-button>
          <ion-button class="ion-margin-top" expand="full" type="button" fill="clear" routerLink="/app-login">
            Login
          </ion-button>
        </div>
      </div>

    </div>

  </form>

</ion-content>