 <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/follower-page"></ion-back-button>
    </ion-buttons>
    <ion-title>Pending Follower Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-grey">
  <div class="ion-padding-horizontal" style="margin-top: 30px;" *ngIf="followeCount === 0">
    <ion-item>
      <ion-label class="ion-padding-start ion-text-center" >No user found</ion-label>
    </ion-item>
  </div>
  <ion-list class="card-listing" *ngFor="let d of data">
    <ion-item>
      <ion-card-content>
        <div class="userprofile">
          <img src="../../../../assets/new-image/avtar.png" alt="image">
        </div>
        <div class="profile-des">
          <div class="profile-inner">
            <h3 class="profileName">{{d.follower_name}}</h3>
            <span class="small-text">
              requested to follow you.</span>
          </div>
          <div *ngFor="let status of Product">
            <ion-button shap="round" class="btn-outline-defualt"  (click)="submitStatus(d.id, status.id)">
                {{status.name}}
            </ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-item>
   </ion-list>
</ion-content>
