 <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/profile-screen"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-grey"> 
    <form #loginForm="ngForm" novalidate>
      <ion-list>
        <ion-item routerLink="/business-type-screen">
          <div>
            <h4 class="label-name">Business Type</h4>
            <span class="label-view">Buyer (Buyer can buy the product)</span>
          </div>
        </ion-item>
        <ion-item routerLink="/package-screen">
          <div>
            <h4 class="label-name">Package</h4>
            <span class="label-view">Gold (Lorem Ipsume Iorem Ipsume)</span>
          </div>
        </ion-item>
        <ion-item routerLink="/category-screen">
          <div>
            <h4 class="label-name">Category</h4>
            <span class="label-view">Lorem Ipsume iorem Ipsume</span>
          </div>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Full Name <span class="text-danger">*</span></ion-label>  
          <ion-input type="text" placeholder="Type name"></ion-input>  
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Email Address<span class="text-danger">*</span></ion-label>  
          <ion-input type="text" placeholder="Type email"></ion-input>  
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Phone No. <span class="text-danger">*</span></ion-label>  
          <ion-input type="number" placeholder="Type number"></ion-input>  
        </ion-item> 
        <ion-item>
          <ion-label position="stacked">Mobile No. <span class="text-danger">*</span></ion-label>  
          <ion-input type="number" placeholder="Type number"></ion-input>  
        </ion-item> 
        <ion-item>
          <ion-label position="stacked">WhatsApp No. <span class="text-danger">*</span></ion-label>  
          <ion-input type="number" placeholder="Type number"></ion-input>  
        </ion-item> 
        <ion-item>
          <ion-label position="stacked">Email address <span class="text-danger">*</span></ion-label>  
          <ion-input type="email" placeholder="Type email address"></ion-input>  
        </ion-item> 
        <ion-item>
          <ion-label position="stacked">Website<span class="text-danger">*</span></ion-label>  
          <ion-input type="text" placeholder="Type website"></ion-input>  
        </ion-item> 
        <ion-item>
          <ion-label position="stacked">Date of Establish<span class="text-danger">*</span></ion-label>  
          <div class="icon w-100">
            <ion-datetime value="2012-12-15T13:47:20.789"></ion-datetime>
            <button class="icons">
              <ion-icon name="calendar"></ion-icon>
            </button>
          </div>        
        </ion-item> 
        <ion-item>
          <ion-label position="stacked">GST No.<span class="text-danger">*</span></ion-label>  
          <ion-input type="text" placeholder="Type GST number"></ion-input>  
        </ion-item> 
        <ion-item>
          <ion-label position="stacked">PAN No.<span class="text-danger">*</span></ion-label>  
          <ion-input type="text" placeholder="Type PAN number"></ion-input>  
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Adhar No.<span class="text-danger">*</span></ion-label>  
          <ion-input type="text" placeholder="Type adhar number"></ion-input>  
        </ion-item>
      </ion-list> 
      <ion-list>
        <div class="ion-header">
          <h4 class="heading">Address info</h4> 
        </div>
        <ion-item>
          <ion-label position="stacked">Building Name <span class="text-danger">*</span></ion-label>  
          <ion-input type="text" placeholder="Type building name"></ion-input>  
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Street/Area<span class="text-danger">*</span></ion-label>  
          <ion-input type="text" placeholder="Type street/area"></ion-input>  
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Pincode<span class="text-danger">*</span></ion-label>  
          <ion-input type="number" placeholder="Type Pincode"></ion-input>   
        </ion-item> 
        <ion-item>
          <ion-label position="stacked">State<span class="text-danger">*</span></ion-label>  
          <ion-select value="AndhraPradesh" interface="action-sheet"> 
            <ion-select-option value="AndhraPradesh">Andhra Pradesh</ion-select-option>
            <ion-select-option value="Arunachal Pradesh">Arunachal Pradesh</ion-select-option>
            <ion-select-option value="Assam">Assam</ion-select-option>
            <ion-select-option value="Bihar">Bihar</ion-select-option>
            <ion-select-option value="Chhattisgarh">Chhattisgarh</ion-select-option>
            <ion-select-option value="Goa">Goa</ion-select-option>
            <ion-select-option value="Gujarat">Gujarat</ion-select-option>
            <ion-select-option value="Chhattisgarh">Haryana</ion-select-option>
            <ion-select-option value="Himachal Pradesh">Himachal Pradesh</ion-select-option>
            <ion-select-option value="Jammu and Kashmir">Jammu and Kashmir</ion-select-option>
            <ion-select-option value="Jharkhand">Jharkhand</ion-select-option>
          </ion-select>
        </ion-item> 
        <ion-item>
          <ion-label position="stacked">City<span class="text-danger">*</span></ion-label>  
          <ion-select value="Ahmedabad" interface="action-sheet"> 
            <ion-select-option value="Ahmedabad">Ahmedabad</ion-select-option>
            <ion-select-option value="Arunachal Pradesh">Arunachal Pradesh</ion-select-option>
            <ion-select-option value="Assam">Assam</ion-select-option>
            <ion-select-option value="Bihar">Bihar</ion-select-option>
            <ion-select-option value="Chhattisgarh">Chhattisgarh</ion-select-option>
            <ion-select-option value="Goa">Goa</ion-select-option>
            <ion-select-option value="Gujarat">Gujarat</ion-select-option>
            <ion-select-option value="Chhattisgarh">Haryana</ion-select-option>
            <ion-select-option value="Himachal Pradesh">Himachal Pradesh</ion-select-option>
            <ion-select-option value="Jammu and Kashmir">Jammu and Kashmir</ion-select-option>
            <ion-select-option value="Jharkhand">Jharkhand</ion-select-option>
          </ion-select>
        </ion-item> 
      </ion-list> 
    </form>
</ion-content>
<ion-footer>
  <ion-button class="btn-bottom btn-theme" routerLink="/profile-screen">Save</ion-button>
</ion-footer>  

