<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/personal-info/{{userId}}"></ion-back-button>
    </ion-buttons>
    <ion-title>Business Type</ion-title>
    <ion-buttons slot="end" *ngIf="isSkipAllowed">
      <ion-button fill="clear" color="primary" (click)="skipBusinessType()">SKIP</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding create-account">

  <div class="customForm-progress">
    <ion-progress-bar color="primary" value=".32"></ion-progress-bar>
    <div class="step-text">Step <span class="f-600 text-theme">2</span> of 6</div>
  </div>

  <h4 class="heading">Choose your business type</h4>

  <form #businessTypeForm="ngForm" novalidate>

    <ion-list>

      <ion-radio-group [(ngModel)]='inputBusinessType' name="inputBusinessType" required>

        <ion-item class="customCard" *ngFor="let businessType of api.businessTypeList"
          (click)="selectOptions(businessType.id)">
          <ion-label>
            <div class="label">{{businessType.name}}</div>
            <div class="list-label">{{businessType.name}}</div>
            <!--<ul class="check-list">
              <li>1. Lorem Ipsume buy package</li>
              <li>2. Lorem Ipsume buy package</li>
              <li>3. Lorem Ipsume buy package</li>
              <li>4. Lorem Ipsume buy package</li>
              <li>5. Lorem Ipsume buy package</li>
            </ul> -->
          </ion-label>
          <ion-radio slot="start" value="{{businessType.id}}"></ion-radio>
        </ion-item>

      </ion-radio-group>

    </ion-list>

  </form>

</ion-content>


<ion-footer>
  <ion-button class="btn-bottom btn-theme" (click)="submitBusinessType(businessTypeForm)">Next</ion-button>
</ion-footer>