<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/customers-dashboard'></ion-back-button>
    </ion-buttons>
    <ion-title> {{ rawCustomerId ? 'Update' : 'Add' }} Raw Customer</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <form class="listing bg-theme-grey" #rawCustomerForm="ngForm" novalidate>

    <ion-list-header>
      <ion-label>
        <h2 class="m-heading">Basic Information</h2>
      </ion-label>
    </ion-list-header>

    <ion-list>
      <ion-item lines="full">
        <ion-label position="floating">Code</ion-label>
        <ion-input type="text" [(ngModel)]='leadInfo.code' name="code" disabled="true"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Sub Type <font color="red">*</font>
        </ion-label>
        <ion-select [(ngModel)]='leadInfo.sub_type' [interfaceOptions]="customActionSubTypeOptions"
          interface="action-sheet" name="sub_type" #sub_type="ngModel" required (ionChange)="changeSubType($event)">
          <ion-select-option *ngFor="let subType of api.subTypes" value="{{subType.id}}">
            {{subType.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <!-- Contact -->
    <div class="rc-contact" *ngIf="leadInfo.sub_type !== ''">
      <ion-list-header>
        <ion-label>
          <h2 class="m-heading">Contact Information</h2>
        </ion-label>
      </ion-list-header>

      <ion-list>
        <ion-item lines="full">
          <ion-label position="floating">{{defaultName}} Name <font color="red">*</font>
          </ion-label>
          <ion-input type="text" [(ngModel)]='contactInfo.name' name="contact_name" required></ion-input>
        </ion-item>

        <ion-item lines="full" *ngIf="leadInfo.sub_type > '1'">
          <ion-label position="floating">Firm Name </ion-label>
          <ion-input type="text" [(ngModel)]='contactInfo.firmName' name="contact_firm_name"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Enter Mobile No. </ion-label>
          <ion-input type="number" [(ngModel)]='contactInfo.mobile' name="contact_mobile"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Enter Email </ion-label>
          <ion-input type="email" [(ngModel)]='contactInfo.email' name="contact_email"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Enter Secondary Mobile No. </ion-label>
          <ion-input type="number" [(ngModel)]='contactInfo.second_mobile' name="sec_contact_mobile"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Enter Secondary Email </ion-label>
          <ion-input type="text" [(ngModel)]='contactInfo.second_email' name="sec_contact_email"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Address </ion-label>
          <ion-input type="text" [(ngModel)]='contactInfo.address' name="contact_address"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label>State Name</ion-label>
          <ionic-selectable [(ngModel)]="additionalInfo.contactState" name="contact_state" [items]="api.stateList"
            itemValueField="id" itemTextField="name" [canSearch]="true" [canClear]="true"
            (onChange)="searchChange($event,'state',1)">
          </ionic-selectable>
        </ion-item>

        <ion-item lines="full">
          <ion-label>City Name</ion-label>
          <ionic-selectable [(ngModel)]="additionalInfo.contactCity" name="contact_city" [items]="api.cityList"
            itemValueField="id" itemTextField="name" [canSearch]="true" [canClear]="true"
            (onChange)="searchChange($event,'city',1)">
          </ionic-selectable>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Pin Code</ion-label>
          <ion-input type="number" [(ngModel)]='contactInfo.pincode' name="contact_pincode"></ion-input>
        </ion-item>

      </ion-list>
    </div>

    <!-- Project -->
    <div class="rc-project" *ngIf="leadInfo.sub_type == '1'">
      <ion-list-header>
        <ion-label>
          <h2 class="m-heading">Project Information</h2>
        </ion-label>
      </ion-list-header>

      <ion-list>
        <ion-item lines="full">
          <ion-label position="floating">Project Name <font color="red">*</font>
          </ion-label>
          <ion-input type="text" [(ngModel)]='projectInfo.name' name="project_name" required></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Project Type </ion-label>
          <ion-select [(ngModel)]='projectInfo.type' name="project_type">
            <ion-select-option *ngFor="let projectType of api.projectTypeList" value="{{projectType.id}}">
              {{projectType.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Project Address </ion-label>
          <ion-input type="text" [(ngModel)]='projectInfo.address' name="project_address"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label>State Name</ion-label>
          <ionic-selectable [(ngModel)]="additionalInfo.projectState" name="project_state" [items]="api.stateList"
            itemValueField="id" itemTextField="name" [canSearch]="true" [canClear]="true"
            (onChange)="searchChange($event,'state',2)">
          </ionic-selectable>
        </ion-item>

        <ion-item lines="full">
          <ion-label>City Name</ion-label>
          <ionic-selectable name="project_city" [items]="api.cityList" itemValueField="id" itemTextField="name"
            [canSearch]="true" [canClear]="true" [(ngModel)]="additionalInfo.projectCity"
            (onChange)="searchChange($event,'city',2)">
          </ionic-selectable>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Pin Code</ion-label>
          <ion-input type="number" [(ngModel)]='projectInfo.pincode' name="project_pincode"></ion-input>
        </ion-item>

      </ion-list>
    </div>

    <!-- Owner -->
    <div class="rc-owner" *ngIf="leadInfo.sub_type === '1'">
      <ion-list-header>
        <ion-label>
          <h2 class="m-heading">Owner Information</h2>
        </ion-label>
      </ion-list-header>

      <ion-list>
        <ion-item lines="full">
          <ion-label position="floating">Owner Name </ion-label>
          <ion-input type="text" [(ngModel)]='ownerInfo.name' name="owner_name"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Enter Mobile No. </ion-label>
          <ion-input type="number" [(ngModel)]='ownerInfo.mobile' name="owner_mobile"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Enter Email </ion-label>
          <ion-input type="email" [(ngModel)]='ownerInfo.email' name="owner_email"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Owner Address </ion-label>
          <ion-input type="text" [(ngModel)]='ownerInfo.address' name="owner_address"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label>State Name</ion-label>
          <ionic-selectable name="owner_city" [items]="api.stateList" itemValueField="id" itemTextField="name"
            [canSearch]="true" [canClear]="true" [(ngModel)]="additionalInfo.ownerState"
            (onChange)="searchChange($event,'state',3)">
          </ionic-selectable>
        </ion-item>

        <ion-item lines="full">
          <ion-label>City Name</ion-label>
          <ionic-selectable name="owner_city" [items]="api.cityList" itemValueField="id" itemTextField="name"
            [canSearch]="true" [canClear]="true" [(ngModel)]="additionalInfo.ownerCity"
            (onChange)="searchChange($event,'city',3)">
          </ionic-selectable>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Pin Code</ion-label>
          <ion-input type="number" [(ngModel)]='ownerInfo.pincode' name="owner_pincode"></ion-input>
        </ion-item>

      </ion-list>
    </div>

    <!-- Purchase Manager -->
    <div class="rc-purchase-managers" *ngIf="leadInfo.sub_type == '3'">
      <ion-list-header>
        <ion-label>
          <h2 class="m-heading">Purchase Manager Information</h2>
        </ion-label>
      </ion-list-header>

      <ion-list>
        <ion-item lines="full">
          <ion-label position="floating">Purchase Manager Name </ion-label>
          <ion-input type="text" [(ngModel)]='purchaseManagerInfo.name' name="purchase_manager_name"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Enter Mobile No. </ion-label>
          <ion-input type="number" [(ngModel)]='purchaseManagerInfo.mobile' name="purchase_manager_mobile"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Enter Email </ion-label>
          <ion-input type="email" [(ngModel)]='purchaseManagerInfo.email' name="purchase_manager_email"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating"> Address </ion-label>
          <ion-input type="text" [(ngModel)]='purchaseManagerInfo.address' name="purchase_manager_address"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label>State Name</ion-label>
          <ionic-selectable name="purchase_manager_state" [items]="api.stateList" itemValueField="id"
            itemTextField="name" [canSearch]="true" [canClear]="true" [(ngModel)]="additionalInfo.purchaseManagerState"
            (onChange)="searchChange($event,'state',4)">
          </ionic-selectable>
        </ion-item>

        <ion-item lines="full">
          <ion-label>City Name</ion-label>
          <ionic-selectable name="purchase_manager_city" [items]="api.cityList" itemValueField="id" itemTextField="name"
            [canSearch]="true" [canClear]="true" [(ngModel)]="additionalInfo.purchaseManagerCity"
            (onChange)="searchChange($event,'city',4)">
          </ionic-selectable>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Pin Code</ion-label>
          <ion-input type="number" [(ngModel)]='purchaseManagerInfo.pincode' name="purchase_manager_pincode">
          </ion-input>
        </ion-item>

      </ion-list>
    </div>

    <!-- Assistant -->
    <div class="rc-assistants" *ngIf="leadInfo.sub_type == '2' || leadInfo.sub_type == '4' || leadInfo.sub_type == '5'">
      <ion-list-header>
        <ion-label>
          <h2 class="m-heading">Assistant Information</h2>
        </ion-label>
        <ion-button size="small" color="primary" (click)="addAssistantControl()">
          <ion-icon name="add"></ion-icon> Add
        </ion-button>
      </ion-list-header>

      <ion-list>
        <ion-item-sliding *ngFor="let assistant of assistantInfo; let i = index;" id="wd-item-{{i}}">

          <ion-item lines="none">
            <ion-row class="ion-margin-bottom">
              <ion-col class="ion-no-padding">
                <div>Name</div>
                <input type="text" class="from-control" [(ngModel)]="assistant.name" name="assistant_name_{{i}}">
              </ion-col>
              <ion-col class="ion-no-padding">
                <div>Mobile No. </div>
                <input type="number" class="from-control" [(ngModel)]="assistant.mobile" name="assistant_mobile_{{i}}">
              </ion-col>
              <ion-col class="ion-no-padding">
                <div>Email</div>
                <input type="email" class="from-control" [(ngModel)]="assistant.email" name="assistant_email_{{i}}">
              </ion-col>
            </ion-row>

          </ion-item>

          <ion-item-options side="end">
            <ion-item-option class="remove" color="danger" (click)="removeAssistantControl(i)">
              <ion-icon name='trash'></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

    <!-- Assignee -->
    <div class="rc-assignees">
      <ion-list-header>
        <ion-label>
          <h2 class="m-heading">Assignee Information</h2>
        </ion-label>
      </ion-list-header>

      <ion-list>
        <ion-item lines="full">
          <ion-label>Showroom (Office)</ion-label>
          <ionic-selectable name="assignee_office" [items]="api.showroomList" itemValueField="id" itemTextField="name"
            [canSearch]="true" [canClear]="true" [(ngModel)]="additionalInfo.showroomId"
            (onChange)="searchChange($event,'showroom',5)">
          </ionic-selectable>
        </ion-item>

        <ion-item lines="full">
          <ion-label>Marketing Person</ion-label>
          <ionic-selectable name="assignee_person" [items]="api.marketingPersonList" itemValueField="id"
            itemTextField="name" [canSearch]="true" [canClear]="true" [(ngModel)]="additionalInfo.marketingId"
            (onChange)="searchChange($event,'marketing',5)">
          </ionic-selectable>
        </ion-item>

      </ion-list>
    </div>

    <!-- Notes -->
    <div class="rc-notes">
      <ion-list-header>
        <ion-label>
          <h2 class="m-heading">Notes</h2>
        </ion-label>
      </ion-list-header>

      <ion-list>
        <ion-item lines="full">
          <ion-label position="floating">Note</ion-label>
          <ion-textarea type="text" [(ngModel)]='leadInfo.notes' rows="3" name="notes"></ion-textarea>
        </ion-item>
      </ion-list>
    </div>

    <div class="mt-20">
      <ion-row>
        <ion-col class="ion-no-padding">
          <ion-button type="button" expand="full" color="light" (click)="backToRawCustomerDashbaord()">Cancel
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-padding">
          <ion-button type="submit" expand="full" color="primary" (click)="submitRawCustomer(rawCustomerForm)">
            {{ rawCustomerId ? 'Update' : 'Create' }}
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

  </form>

</ion-content>