// .from-control {
//     width: 100%;
//     padding: 4px;
// }

// .m-heading {
//     font-size: 1.6em;
//     font-weight: 550;
//     color: #777;
//     margin-top: 1em;
//     margin-bottom: 1em;
// }
// Header Section Start
ion-header{
    background-color:  var(--ion-color-primary);
}
.header {
    // padding: 5px 3px;
    border: 0px;
    &:last-of-type {
        --border-color: rgb(255, 255, 255, 0.2);
    }
    .toolbar-container {
        padding: 0px;
    }
    ion-title {
        font-weight: 400;
        .small-text {
            font-size: 14px;
            color: #fff;
            text-transform: capitalize;
            font-weight: 400;
            letter-spacing: 1px;
        }
    }
}
// Header Section End 
ion-content{
    --background: var(--ion-background-color, #eff5ff);
} 

.listing {
    display: inline-block;
    width: 100%;
    ion-card {
        -webkit-box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
        margin: 0.8rem 1rem;
    }
    ion-card-header {
        padding: 5px 10px;
        border-bottom: solid 1px #ddd;
        height: 45px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        ion-card-title {
            font-size: 18px;
            color: #000;
            font-weight: 500;
            letter-spacing: 0.8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
       
        }
        ion-button{
            margin: 0px;
            height: 35px;
            &::part(native) {
                --padding-start: 0.5em;
                --inner-padding-start: 0.5px;
                --inner-padding-end: 0.8px;
                --padding-end: 0.8em;
                border-radius: 5px;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }
    ion-card-content {
        padding: 5px 10px 10px;
        .ptb-0 {
            padding-top: 0px;
            padding-bottom: 0px;
        }
        ion-label {
            font-size: 15px;
            color: #000;
            line-height: 20px;
            margin-bottom: 2px;
        }
        ion-input,ion-textarea,ion-select{
            --padding-start: 8px;
            --padding-top: 8px;
            --padding-bottom: 8px;
            --padding-end: 8px;
            border: solid 1px #ccc; 
            border-radius: 6px;
            font-size: 17px;
            input{
                &:focus {
                    box-shadow: inherit;
                    border-color: var(--ion-color-primary);
                    outline: 0;
                }  
            }    
        } 
        ion-input[disabled] {
            background-color: #eef4fe;
            border-color: #cddaf0;
            color: #000;
            &::placeholder {
                color: #000;
                opacity: 1; /* Firefox */
            }

            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: #000;
            }

            &::-ms-input-placeholder {
                /* Microsoft Edge */
                color: #000;
            }
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type="number"] {
            -moz-appearance: textfield;
        }
        .icon {
            position: relative;
            ion-icon {
                position: absolute;
                right: 5px;
                font-size: 22px;
                color: var(--ion-color-primary-shade);
                font-weight: 1000;
                top: 10px;
            }
        }
        ion-item {
            &::part(native) {
                --inner-padding-end: 0px;
                --padding-end: 0em;
            }
        }
        .mb-2 {
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
        &.footer {
            border-top: solid 1px #ddd;
            padding: 5px 10px;
            h2 {
                font-size: 18px;
                &.f-bolc {
                    font-weight: 600;
                }
            }
        }
        .item-sliding-active-slide.item-sliding-active-options-end {
            ion-item-options:not(.item-options-start) {
                display: flex;
            }
        }
        ion-item-options {
            align-items: flex-end;
            border: 0;
            .remove {
                height: 42px;
                border-radius: 5px;
                font-size: 22px;
                width: 10%;
            }
        }
    }
}
.item-sliding-active-slide.item-sliding-active-options-end ion-item-options:not(.item-options-start) {
    display: flex;
}
ion-item {
    // here other custom CSS from documentation
    &.top-header {
        --padding-end: 5px;
        --inner-padding-end: 5px;
        --padding-start: 5px;
        --inner-padding-start: 5px;
        ion-label {
            color: #666;
            font-size: 16px;
            span {
                color: #000;
                font-weight: 500;
            }
        }
    }
}
.icon {
    color: var(--ion-color-primary-shade);
    font-size: 20px;
}
.ion-text {
    font-size: 16px;
    color: #333;
}

ion-footer {
    -webkit-box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    ion-button {
        margin: 0px;
        height: 55px;
        &::part(native) {
            --padding-start: 0.5em;
            --inner-padding-start: 0.5px;
            --inner-padding-end: 0.8px;
            --padding-end: 0.8em;
            border-radius: 0px;
            font-weight: 400;
            font-size: 18px;
            letter-spacing: 1px;
        }
    }
}

.mt-20 {
    margin-top: 20px;
}
