


ion-item::part(native) {
  padding: 0px;
}



// Header Section Start
ion-header{
    background-color:  var(--ion-color-primary);
}
.header {
  padding: 3px;
  border: 0px;
  &:last-of-type {
    --border-color: rgb(255, 255, 255, 0.2);
  }
  .toolbar-container {
    padding: 0px;
  }
  ion-title {
    font-weight: 400;
  }
}
// Header Section End
ion-content{
    --background: var(--ion-background-color, #eff5ff);
}
.listing{
  background-color: transparent;
}
ion-card {
  -webkit-box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
  margin: 0.5rem 1rem;
  padding: 0px;
  &::part(native) {
    --padding-start: 0em;
    --inner-padding-start:  0em;
    --inner-padding-end: 0em;
    --padding-end: 0em;
}
.dr-date-f {
  margin: 0;
  font-size: 18px;
  color: #fff;
  padding: 8px;
  background-color: #049292;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  top: -35px;
  width: 100%;
  margin-bottom:15px ;

}
ion-item{
  padding-top: 10px;
  overflow: inherit;
  ion-label{
    padding: 2px 5px;
    margin: 0;
    div{
      display: inline-block;
      width: 50%;
      &.label{
        font-size: 16px;
        color: #666;
      }
      &.text{
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}
}

ion-item::part(native) {
  --padding-end: 0px;
  --inner-padding-end: 0px;
}
