<ion-header>
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/customers-dashboard'></ion-back-button>
    </ion-buttons>
    <ion-title>Follow Up Listings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="bg-theme-grey">

    <div class="ion-padding-horizontal mt-10">
      <ion-item class="item-box">
        <ion-label class="ion-padding-start">
          <h2>Total Available Records - {{followUpCount}}</h2>
          <p *ngIf="followUpFor">Filter : {{followUpForLabelName}}</p>
        </ion-label>
      </ion-item>
    </div>

    <ion-item *ngIf="followUpCount === 0">
      <ion-label class="ion-text-center">No record found</ion-label>
    </ion-item>

    <ion-list class="listing" *ngIf="followUpLists">
      <ion-card *ngFor="let followUpList of followUpLists; let i=index;" id="dr-custom-item-{{i}}">
        <ion-item class="item-box" lines="none">
          <ion-label class="dr-sets">
            <ion-label color="primary">
              <div class="label">Follow Up Date:</div>
              <div class="text">{{followUpList.followup_date}}</div>
            </ion-label>
            <ion-label color="primary">
              <div class="label">Next Follow Up Date:</div>
              <div class="text">{{followUpList.next_followup_date}}</div>
            </ion-label>
            <ion-label>
              <div class="label">Contact Name:</div>
              <div class="text">{{followUpList.customer_name}}</div>
            </ion-label>
            <ion-label>
              <div class="label">Contact Mobile No:</div>
              <div class="text">{{(followUpList.customer_mobile)?followUpList.customer_mobile:'-'}}</div>
            </ion-label>
            <ion-label>
              <div class="label">Contact Email:</div>
              <div class="text">{{(followUpList.customer_email)?followUpList.customer_email:'-'}}</div>
            </ion-label>
            <ion-label>
              <div class="label">Description:</div>
              <div class="text">{{followUpList.notes}}</div>
            </ion-label>
            <ion-label>
              <div class="label">Follow Up Type:</div>
              <div class="text">{{followUpList.type}}</div>
            </ion-label>
            <ion-label>
              <div class="label">Outcome:</div>
              <div class="text">{{followUpList.outcome}}</div>
            </ion-label>
            <ion-label>
              <div class="label">Created Date:</div>
              <div class="text">{{followUpList.created_at}}</div>
            </ion-label>
            <ion-label>
              <div class="label"></div>
              <div class="text">
                <ion-button color="primary" routerLink='/customers-detail/{{followUpList.customer_id}}'>
                  View Contact
                </ion-button>
              </div>
            </ion-label>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-list>
  </div>

</ion-content>