<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/app-login"></ion-back-button>
    </ion-buttons>
    <ion-title>Personal Details</ion-title>
    <ion-buttons slot="end" *ngIf="isSkipAllowed">
      <ion-button fill="clear" color="primary" (click)="skipPeronalInfo()">SKIP</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding create-account">

  <div class="customForm-progress">
    <ion-progress-bar color="primary" value=".16"></ion-progress-bar>
    <div class="step-text">Step <span class="f-600 text-theme">1</span> of 6</div>
  </div>

  <h4 class="heading">Let’s get started </h4>

  <span class="small-text text-grey mb-10">Please set up your profile so that others can get
    to know you
  </span>

  <form #personalInfoForm="ngForm" novalidate>

    <ion-item>
      <ion-label position="stacked">First Name <span class="text-danger">*</span></ion-label>
      <ion-input type="text" [(ngModel)]='personalInfo.firstName' name="firstName" required maxlength="25"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Last Name</ion-label>
      <ion-input type="text" [(ngModel)]='personalInfo.lastName' name="lastName" required maxlength="25"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email Address</ion-label>
      <ion-input type="email" [(ngModel)]='personalInfo.emailAddress' name="emailAddress" maxlength="70"
        autocomplete="off"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Mobile Number</ion-label>
      <div class="w-100 with-icon">
        <div class="icons">+91</div>
        <ion-input type="number" [(ngModel)]='personalInfo.mobileNumber' name="mobileNumber" readonly="true"
          autocomplete="off">
        </ion-input>
      </div>
    </ion-item>

    <ion-item *ngIf="!isSkipAllowed">
      <ion-label position="stacked">Password <span class="text-danger">*</span></ion-label>
      <div class="w-100 icon">
        <ion-input type="{{passwordType}}" [(ngModel)]='personalInfo.password' name="password" id="password"
          maxlength="15" autocomplete="off">
        </ion-input>
        <button class="icons" (click)="togglePassword()">
          <ion-icon name="eye-outline" *ngIf="!showPassword"></ion-icon>
          <ion-icon name="eye-off-outline" *ngIf="showPassword"></ion-icon>
        </button>
      </div>
    </ion-item>

    <ion-item *ngIf="!isSkipAllowed">
      <ion-label position="stacked">Confirm Password <span class="text-danger">*</span></ion-label>
      <div class="w-100 icon">
        <ion-input type="password" [(ngModel)]='personalInfo.confirmPassword' name="confirmPassword" maxlength="15"
          autocomplete="off">
        </ion-input>
      </div>
    </ion-item>

  </form>

</ion-content>

<ion-footer>
  <ion-button class="btn-bottom btn-theme" (click)="submitPersonalInfo(personalInfoForm)">Next</ion-button>
</ion-footer>