 <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Followers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-grey">
  <ion-list class="card-listing">
    <ion-item>
      <ion-card-content>
        <div class="userprofile"  routerLink="/confirm-follower">
          <div class="text-center">
            
            <div>
              </div>
              </div>
          <!-- <img src="../../../../assets/new-image/avtar.png" alt="image"> -->
        </div>
        <div class="profile-des">
          <div class="profile-inner">
            <h3 class="profileName" routerLink="/confirm-follower">Pending Follow Request</h3>
            <span class="small-text">
              Approve or ignore requests</span>
          </div>
          <ion-icon name="search-outline" routerLink="/search-follower"></ion-icon>
         
        </div>
          </ion-card-content>
          </ion-item>
          </ion-list>
          <div class="ion-padding-horizontal" style="margin-top: 30px;" *ngIf="followeCount === 0">
            <ion-item>
              <ion-label class="ion-padding-start ion-text-center" >No user found</ion-label>
            </ion-item>
          </div>
  <ion-list class="card-listing" *ngFor="let d of data">
    <ion-item>
      <ion-card-content>
        <div class="userprofile">
          <img [src]="d.picture" style="width: 250px;"  onerror="this.src='assets/img/dashboard/avatar.png';" alt="img">
        </div>
        <div class="profile-des">
          <div class="profile-inner">
            <h3 class="profileName">{{d.follower_name}} </h3>
            <span class="small-text">
              Construcion & Real Esate</span>
          </div>
          <ion-button shap="round" class="btn-outline-defualt" (click)="condirmRemoveDailyReport(d.id)">Remove</ion-button>
        </div>

      </ion-card-content>
    </ion-item>
  
  </ion-list>
</ion-content>