 <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/following"></ion-back-button>
    </ion-buttons>
    <ion-title>Follower Search</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-content>
    <div class="searchMain">
      <div class="d-flex">
        <ion-searchbar  [(ngModel)]='searchParams.search' (ionChange)="applySearch($event)"> 
          <!-- (click)="openSearchBox()" -->
      </ion-searchbar>
    
      </div>
    </div>
    <div class="bg-theme-grey">
  
  
      <div class="card" *ngIf="isEnableSearch">
  
      <ion-card-content>
  
        <ion-item class="filter-date-item">
          <!-- <ion-label position="floating">product Name</ion-label> -->
          <ion-input type="text" [(ngModel)]='searchParams.search' name="search"></ion-input>
        </ion-item>
  
        
  
        <ion-row class="ion-margin-top">
          <ion-col class="ion-text-center">
            <ion-button color="medium" size="small" fill='outline' expand="block" (click)='resetSearchBox()'>
              Reset
            </ion-button>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-button size="small" type="block" expand="block" >
              <!-- (click)='applySearch()' -->
              Search
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </div>
    <div class="ion-padding-horizontal ion-margin-top" *ngIf="isSearchResults">
      <ion-item>
        <ion-label class="ion-padding-start">
          <h2>Searched Results:</h2>
          <p *ngIf="followerCount > 0">Total {{followerCount}} {{followerCount > 1 ? 'records' : 'record'}} found</p>
        </ion-label>
        <ion-button fill="clear" size="small" (click)="resetSearch()">Reset</ion-button>
      </ion-item>
    </div>
    <div class="ion-padding-horizontal" *ngIf="followerCount === 0">
      <ion-item>
        <ion-label class="ion-padding-start ion-text-center">No user found</ion-label>
      </ion-item>
    </div>
    </div>

    
    <ion-list class="card-listing" *ngFor="let d of follower">
      <ion-item>
        <ion-card-content>
          <div class="userprofile">
            <img [src]="d.picture"  onerror="this.src='assets/img/dashboard/avatar.png';" alt="img">
          </div>
          <div class="profile-des">
            <div class="profile-inner">
              <h3 class="profileName">{{d.first_name}}{{d.last_name}} </h3>
              <span class="small-text">
                </span>
            </div>
            <ion-button  shap="round" class="btn-outline-defualt"  (click)="submitStatus(d.id)">Follow</ion-button>
          </div>
  
        </ion-card-content>
      </ion-item>
    
    </ion-list>
    </ion-content>
