.lock-icon {
    margin-top: 1.5em;
    font-size: 3.4em;
}

.form-content {
    padding: 10px 30px;
}

.mt-20 {
    margin-top: 1.5em;
}

.sub-text {
    margin: 7px 0px;
}

.eml-icon {
    margin-right: 5px;
    margin-bottom: -3px;
}

.m-spn {
    padding: 10px;
    margin-top: 4px;
}
