<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/forgot-password'></ion-back-button>
    </ion-buttons>
    <ion-title>New Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form class="listing bg-theme-grey" #newPasswordForm="ngForm" novalidate>

    <div class="ion-text-center">

      <ion-icon class="lock-icon" name="lock-closed-outline"></ion-icon>

      <h1>New Password</h1>

      <div class="ion-padding">
        <p class="sub-text">Please enter your new password</p>
      </div>

      <div class="form-content">

        <!-- <ion-item lines="full">
          <ion-label position="stacked">Mobile No <font color="red">*</font>
          </ion-label>
          <ion-input type="email" [(ngModel)]='emailAddress' name="emailAddress"  required disabled></ion-input>
        </ion-item> -->
        <ion-item>
          <ion-label position="stacked">New Password  <span class="text-danger">*</span></ion-label>  
          <div class="w-100 icon">
            <ion-input type="{{passwordType}}" [(ngModel)]='newPassword' name="newPassword" required></ion-input>  
            <button class="icons" (click)="togglePassword()">
              <ion-icon name="eye-outline" *ngIf="!showPassword"></ion-icon>
              <ion-icon name="eye-off-outline" *ngIf="showPassword"></ion-icon>
            </button>
          </div>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Confirm New Password  <span class="text-danger">*</span></ion-label>  
          <div class="w-100 icon">
            <ion-input type="{{confirmType}}" [(ngModel)]='confirmPassword' name="confirmPassword" required></ion-input>  
            <button class="icons" (click)="toggleConfirmPassword()">
              <ion-icon name="eye-outline" *ngIf="!showConfirmPassword"></ion-icon>
              <ion-icon name="eye-off-outline" *ngIf="showConfirmPassword"></ion-icon>
            </button>
          </div>
        </ion-item>
        <!-- <ion-item lines="full">
          <ion-label position="stacked">New Password <font color="red">*</font>
          </ion-label>
          <ion-input type="{{passwordType}}" [(ngModel)]='newPassword' name="newPassword" required></ion-input>
          <button class="icons" (click)="togglePassword()">
            <ion-icon name="eye-outline" *ngIf="!showPassword"></ion-icon>
            <ion-icon name="eye-off-outline" *ngIf="showPassword"></ion-icon>
          </button>
        </ion-item> -->

        <!-- <ion-item lines="full">
          <ion-label position="stacked">Confirm New Password <font color="red">*</font>
          </ion-label>
          <div class="w-100 icon"></div>
          <ion-input type="{{passwordType}}" [(ngModel)]='confirmPassword' name="confirmPassword" required></ion-input>
          <button class="icons" (click)="togglePassword()">
            <ion-icon name="eye-outline" *ngIf="!showPassword"></ion-icon>
            <ion-icon name="eye-off-outline" *ngIf="showPassword"></ion-icon>
          </button>
          </ion-item> -->


        <div class="mt-20">
          <ion-button type="submit" expand="full" color="primary" (click)="submitNewPassword(newPasswordForm)">
            Submit
          </ion-button>
          <ion-button class="ion-margin-top" expand="full" type="button" fill="clear" routerLink="/app-login">
            Login
          </ion-button>
        </div>
      </div>

    </div>

  </form>

</ion-content>