<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/choose-category/{{userId}}"></ion-back-button>
    </ion-buttons>
    <ion-title>Address Info</ion-title>
    <ion-buttons slot="end" *ngIf="isSkipAllowed">
      <ion-button fill="clear" color="primary" (click)="skipAddress()">SKIP</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding create-account">

  <div class="customForm-progress">
    <ion-progress-bar color="primary" value=".80"></ion-progress-bar>
    <div class="step-text">Step <span class="f-600 text-theme">5</span> of 6</div>
  </div>

  <h4 class="heading">Your factory address</h4>

  <span class="small-text text-grey mb-10">Please set up your address so that others can get to know you</span>

  <form #addressForm="ngForm" novalidate>

    <ion-item>
      <ion-label position="stacked">Building Name <span class="text-danger">*</span></ion-label>
      <ion-input type="text" [(ngModel)]='addressInfo.buildingName' name="buildingName" required maxlength="70"
        placeholder="Building name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Street/Area <span class="text-danger">*</span></ion-label>
      <ion-input type="text" [(ngModel)]='addressInfo.areaName' name="areaName" required maxlength="70"
        placeholder="Street/Area name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Pincode <span class="text-danger">*</span></ion-label>
      <ion-input type="number" [(ngModel)]='addressInfo.pincode' name="pincode" required placeholder="Pincode">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">State </ion-label>
      <ion-select value="AndhraPradesh" interface="action-sheet" [(ngModel)]='addressInfo.stateId' name="stateId"
        required>
        <ion-select-option *ngFor="let state of api.stateList" value="{{state.id}}">{{state.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">City</ion-label>
      <ion-select value="Ahmedabad" interface="action-sheet" [(ngModel)]='addressInfo.cityId' name="cityId" required>
        <ion-select-option *ngFor="let city of api.cityList" value="{{city.id}}">{{city.name}}</ion-select-option>
      </ion-select>
    </ion-item>

  </form>

</ion-content>


<ion-footer>
  <ion-button class="btn-bottom btn-theme" (click)="submitAddress(addressForm)">Next</ion-button>
</ion-footer>