<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/business-type/{{userId}}"></ion-back-button>
    </ion-buttons>
    <ion-title>Choose Package</ion-title>
    <ion-buttons slot="end" *ngIf="isSkipAllowed">
      <ion-button fill="clear" color="primary" (click)="skipPackageType()">SKIP</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding create-account">

  <div class="customForm-progress">
    <ion-progress-bar color="primary" value=".48"></ion-progress-bar>
    <div class="step-text">Step <span class="f-600 text-theme">3</span> of 6</div>
  </div>

  <h4 class="heading">If customer choose / Buyer</h4>

  <span class="small-text text-grey mb-10">Choose the your industry so that your followers can learn about your company.
  </span>

  <form #packageTypeForm="ngForm" novalidate>

    <ion-list>

      <ion-radio-group [(ngModel)]='inputPackageType' name="inputPackageType" required>

        <ion-item class="customCard" *ngFor="let packageType of api.packageTypeList" (click)="selectOptions(packageType.id)">
          <ion-label>
            <div class="label">{{packageType.name}}</div>
            <div class="list-label">{{packageType.name}} package</div>
            <!-- <ul class="check-list">
              <li>1. Lorem Ipsume buy package</li>
              <li>2. Lorem Ipsume buy package</li>
              <li>3. Lorem Ipsume buy package</li>
              <li>4. Lorem Ipsume buy package</li>
              <li>5. Lorem Ipsume buy package</li>
            </ul> -->
          </ion-label>
          <ion-radio slot="start" value="{{packageType.id}}"></ion-radio>
          <ion-icon class="rightArrow" src="../../../../assets/new-image/right-arrow.svg"></ion-icon>
        </ion-item>

      </ion-radio-group>

    </ion-list>

  </form>

</ion-content>


<ion-footer>
  <ion-button class="btn-bottom btn-theme" (click)="submitPackageType(packageTypeForm)">Next</ion-button>
</ion-footer>