<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/dashboard'></ion-back-button>
    </ion-buttons>
    <ion-title>Attendance - {{punchType == 2 ? 'Punch Out' : 'Punch In'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid class="map-location">
    <ion-row>
      <ion-col class="ion-no-padding" size="9">
        <ion-label class="label">Current Address</ion-label>
        <div class="address-filed">
          <div class="icon"> <ion-icon  name="location"></ion-icon></div>
          <ion-text class="ion-text" *ngIf="address">{{address}}</ion-text>
        </div>
      </ion-col>
      <ion-col class="ion-no-padding" size="3">
        <div class="selfie-div" *ngIf="selfieUrl">
          <img class="selfie-img" [src]="selfieUrl" alt="img">
        </div>
        <div class="selfie-div" *ngIf="!selfieUrl">
          <img class="selfie-img" src="../../../assets/img/user-default-gray.png" alt="img">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div id="mapContent" #mapContent></div>


</ion-content>

<ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row class="ion-text-center ">
      <ion-col class="footer-menu ion-no-padding">
        <div class="icon">
            <ion-icon name="calendar"></ion-icon> 
        </div>
        <ion-text class="ion-text">{{currentDate}}</ion-text>
      </ion-col>
      <ion-col class="footer-menu ion-no-padding">
        <div class="attedance-control-dv">
          <ion-fab vertical="top" horizontal="center" edge slot="fixed">
            <ion-fab-button class="fab-icon" color="{{punchType == 2 ? 'danger' : 'primary'}}" (click)="performPunchInOut()">
              <ion-icon  size="large" name="finger-print-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>
        <ion-text class="punch-text" color="{{punchType == 2 ? 'danger' : 'primary'}}">
          Punch {{punchType == 2 ? 'Out' : 'In'}}
        </ion-text>
      </ion-col>
      <ion-col class="footer-menu ion-no-padding">
        <div class="icon">
          <ion-icon name="time"></ion-icon>
        </div>
        <ion-text class="ion-text">{{currentTime}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>