.selfie-div .selfie-img {
  border-radius: 10px;
  width: 120px;
  height: 100px;
  object-fit: cover;
}

.attedance-control-dv {
  margin-top: 8px;
}

#mapContent {
  width: 100%;
  height: 72vh;
}

// Header Section Start
ion-header{
    background-color:  var(--ion-color-primary);
}
.header {
  padding: 3px;
  border: 0px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
  &:last-of-type {
    --border-color: rgb(255,255,255,.2);
  }
  .toolbar-container {
      padding: 0px;
  }
  ion-title { 
    font-weight: 400;
}
}
// Header Section End 
ion-content{
    --background: var(--ion-background-color, #eff5ff);
}
.map-location{
  padding: 10px 15px;
  border-bottom: solid 1px #bbbbbb;
  background-color: #fff;
  .label{
    font-size: 18px;
    color: var(--ion-color-primary);
    margin-bottom: 15px;
  }
  .address-filed{
    display: flex;
    align-items: center;
    margin-top: 5px;
  
    
  
  }
 
  .selfie-div{
    width: 75px;
    height: 75px;
    border: solid 2px #bbbbbb;
    border-radius: 5px;
    margin: 0 auto;
    img{
      width: 100%;
      height: 100%;
      border-radius: 3px;
    }
  }
}
ion-footer {
  .icon{
    margin: 0 auto;  
  } 
  .footer-menu{
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    text-align: center;
  }
  .ion-text,.punch-text{
    font-size: 16px;  
    font-weight: 400;
  }
}
.fab-icon {
  width: 55px;
  height: 55px; 
}
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 5px;
  background-color: #daf1f2;
  color: var(--ion-color-primary-shade);
  font-size: 28px;
  margin-right: 10px;
}
.ion-text{
  font-size: 16px;
  color: #333;
}