<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!isBack"></ion-menu-button>
      <ion-back-button *ngIf="isBack"></ion-back-button>
    </ion-buttons>
    <ion-title>Daily Report</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addDailyReport()">
        <ion-icon slot="icon-only" name="add">Add</ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list class="bg-theme-grey listing">

    <ion-item *ngIf="dailyReportCount == 0">
      <ion-label class="ion-text-center">No record found</ion-label>
    </ion-item>

    <ion-card class="ion-no-padding" *ngIf="dailyReportCount > 0">
      <ion-item-sliding class="item-sliding" *ngFor="let dailyReport of dailyReportList; let i=index;"
        id="dr-custom-item-{{i}}">
        <ion-item class="item-box" lines="none">
          <div class="dr-date-f ion-text-center" slot="start">
            <div class="drf-dday">{{dailyReport?.reportDayNum}}</div>
            <div class="drf-ddate">{{dailyReport?.reportMonth}}</div>
            <div class="drf-dyear">{{dailyReport?.reportYear}}</div>
          </div>
          <ion-label class="dr-sets">
            <h2 class="name-line">
              {{dailyReport?.userId?.first_name}} {{dailyReport?.userId?.last_name}}
            </h2>
            <ion-note class="dr-sets-note">Emp Code: <span class="text-dark">{{dailyReport?.userId?.emp_code}}</span>
            </ion-note>
            <div class="dr-sets-c">
              <ion-row class="ion-text-center">
                <ion-col class="ion-text-left pt-0 pl-0">
                  <ion-note class="label">In Time</ion-note>
                  <p class="label-text">{{dailyReport?.in_time}}</p>
                </ion-col>
                <ion-col class="pt-0">
                  <ion-note class="label">Out Time</ion-note>
                  <p class="label-text">{{dailyReport?.out_time}}</p>
                </ion-col>
                <ion-col class="pt-0">
                  <ion-note class="label">Hr</ion-note>
                  <p class="label-text">{{dailyReport?.net_time}}</p>
                </ion-col>
              </ion-row>
            </div>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="primary" (click)="viewDailyReport(dailyReport.id)">
            <ion-icon slot="icon-only" name="eye"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="condirmRemoveDailyReport(dailyReport.id)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>

      </ion-item-sliding>
    </ion-card>

  </ion-list>

</ion-content>