<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/leads-dashboard'></ion-back-button>
    </ion-buttons>
    <ion-title>Add Lead Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form class="listing bg-theme-grey" #galleryForm="ngForm" enctype="multipart/form-data">

    <ion-list>

      <ion-item lines="full">
        <ion-label position="floating">Type <font color="red">*</font>
        </ion-label>
        <ion-select [(ngModel)]='galleryType' [interfaceOptions]="customActionCommonOptions" interface="action-sheet"
          name="galleryType" required (ionChange)="changeGalleryType($event)">
          <ion-select-option *ngFor="let type of configType" value="{{type.id}}">{{type.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item >
        <ion-label position="stacked">File Name <font color="red">*</font>
        </ion-label> 
        <div class="upload-btn-wrapper ">
          <ion-button class="btn-theme">Upload File</ion-button>
            <input  type="file" [(ngModel)]='galleryFile' name="galleryFile" (change)="onFileChange($event)"
            accept="{{acceptableExtensions}}" required/> 
        </div>
      </ion-item>

    </ion-list>

    <div class="mt-20">
      <ion-row>
        <ion-col class="ion-no-padding">
          <ion-button type="button" expand="full" color="light" (click)="backToLeadDashbaord()">Cancel
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-padding">
          <ion-button type="submit" expand="full" color="primary" (click)="submitGallery(galleryForm)">Create
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

  </form>

</ion-content>