<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/customers-dashboard'></ion-back-button>
    </ion-buttons>
    <ion-title>Raw Customer Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="bg-theme-grey">

    <ion-card>

      <div class="user-info">
        <div class="user-logo">{{rawCustomerInfo?.customer_short_sub_type}}</div>
        <div class="editbutton">
          <ion-button fill="clear" routerLink='/add-rawcustomer/{{rawCustomerInfo?.id}}/'>
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
        </div>
      </div>

      <div class="main-header">
        <div class="heading">{{rawCustomerInfo?.customer_name}}</div>
        <div class="small-text mt-1">{{rawCustomerInfo?.customer_sub_type}}</div>
      </div>

      <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="displayView">
        <ion-segment-button value="1">
          <ion-label>Basic</ion-label>
        </ion-segment-button>

        <ion-segment-button value="2">
          <ion-label>Follow Up</ion-label>
        </ion-segment-button>

        <ion-segment-button value="3">
          <ion-label>Reminders</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div *ngIf="displayView == 1">
        <ion-grid class="ion-no-padding" *ngIf="rawCustomerInfo">
          <ion-row class="brbtm">
            <ion-col size="6">
              <strong>Code :</strong>
            </ion-col>
            <ion-col size="6">
              {{rawCustomerInfo.customer_code}}
            </ion-col>
          </ion-row>

          <ion-row class="brbtm">
            <ion-col size="6">
              <strong>Name :</strong>
            </ion-col>
            <ion-col size="6">
              {{rawCustomerInfo.customer_name}}
            </ion-col>
          </ion-row>

          <ion-row class="brbtm">
            <ion-col size="6">
              <strong>Firm Name :</strong>
            </ion-col>
            <ion-col size="6">
              {{rawCustomerInfo.firm_name}}
            </ion-col>
          </ion-row>

          <ion-row class="brbtm">
            <ion-col size="6">
              <strong>Mobile No :</strong>
            </ion-col>
            <ion-col size="6">
              {{rawCustomerInfo.customer_mobile}}
            </ion-col>
          </ion-row>

          <ion-row class="brbtm">
            <ion-col size="6">
              <strong>Secondary Mobile No :</strong>
            </ion-col>
            <ion-col size="6">
              {{rawCustomerInfo.customer_phone}}
            </ion-col>
          </ion-row>

          <ion-row class="brbtm">
            <ion-col size="6">
              <strong>Email :</strong>
            </ion-col>
            <ion-col size="6">
              {{rawCustomerInfo.customer_email}}
            </ion-col>
          </ion-row>

          <ion-row class="brbtm">
            <ion-col size="6">
              <strong>Secondary Email :</strong>
            </ion-col>
            <ion-col size="6">
              {{rawCustomerInfo.secondary_email}}
            </ion-col>
          </ion-row>

          <ion-row class="brbtm">
            <ion-col size="6">
              <strong>Address :</strong>
            </ion-col>
            <ion-col size="6">
              {{rawCustomerInfo.customer_address}}
            </ion-col>
          </ion-row>

          <ion-row class="brbtm">
            <ion-col size="6">
              <strong>Showroom (Office) :</strong>
            </ion-col>
            <ion-col size="6">
              {{rawCustomerInfo.show_room}}
            </ion-col>
          </ion-row>

          <ion-row class="brbtm">
            <ion-col size="6">
              <strong>Markketing Person:</strong>
            </ion-col>
            <ion-col size="6">
              {{rawCustomerInfo.marketing}}
            </ion-col>
          </ion-row>

          <ion-row class="brbtm">
            <ion-col size="6">
              <strong>Notes :</strong>
            </ion-col>
            <ion-col size="6">
              {{rawCustomerInfo.notes}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div *ngIf="displayView == 2">
        <ion-item *ngIf="rawCustomerFollowUpCount == 0">
          <ion-label class="ion-text-center">No Record Found!</ion-label>
        </ion-item>
        <div *ngIf="rawCustomerFollowUp">
          <div *ngFor="let followUp of rawCustomerFollowUp" class="grid_brbtm">
            <ion-row>
              <ion-col><strong>Follow Up Date:</strong> {{followUp.followup_date}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col><strong>Follow Up By:</strong> {{followUp.created_by}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col><strong>Notes</strong>: {{followUp.notes}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col><strong>Outcome:</strong> {{followUp.outcome}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col><strong>Type:</strong> {{followUp.type}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col><strong>Next Follow Up Date:</strong>{{followUp.next_followup_date}}</ion-col>
            </ion-row>
          </div>
        </div>
      </div>

      <div *ngIf="displayView == 3">
        <ion-item *ngIf="rawCustomerReminderCount == 0">
          <ion-label class="ion-text-center">No Record Found!</ion-label>
        </ion-item>
        <div *ngIf="rawCustomerReminder">
          <div *ngFor="let reminder of rawCustomerReminder" class="grid_brbtm">
            <ion-row>
              <ion-col><strong>Reminder Date:</strong> {{reminder.reminder_date}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col><strong>Note :</strong> {{reminder.description}}</ion-col>
            </ion-row>
          </div>
        </div>
      </div>

      <!-- Showing assistant data -->
      <div
        *ngIf="(rawCustomerInfo?.customer_sub_type_id == 2 || rawCustomerInfo?.customer_sub_type_id == 4 || rawCustomerInfo?.customer_sub_type_id == 5) && displayView == 1">

        <div class="assi_header">
          <ion-label>Assistant</ion-label>
        </div>

        <ion-item *ngIf="rawCustomerInfo == 0">
          <ion-label class="ion-text-center">No Record Found!</ion-label>
        </ion-item>

        <div *ngIf="rawCustomerInfo.assitant">
          <div *ngFor="let assitantData of rawCustomerInfo.assitant" class="grid_brbtm">
            <ion-row>
              <ion-col><strong>Assistant Name:</strong> {{assitantData.assi_name}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col><strong>Assitant Mobile:</strong> {{assitantData.assi_mobile}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col><strong>Assitant Email:</strong> {{assitantData.assi_email}}</ion-col>
            </ion-row>
          </div>
        </div>
      </div>

      <!-- Purchase -->
      <div *ngIf="rawCustomerInfo?.customer_sub_type_id == 3  && displayView == 1">
        <ion-grid class="ion-no-padding" *ngIf="rawCustomerInfo">
          <div class="assi_header">
            <ion-label>Purchase Details</ion-label>
          </div>

          <ion-row class="brbtm">
            <ion-col size="6">
              <strong>Purchase Manager Name : </strong>
            </ion-col>
            <ion-col size="6">
              {{rawCustomerInfo?.purchase_manager_name}}
            </ion-col>
          </ion-row>

          <ion-row class="brbtm">
            <ion-col size="6">
              <strong>Mobile No :</strong>
            </ion-col>
            <ion-col size="6">
              {{rawCustomerInfo?.purchase_manager_mobile}}
            </ion-col>
          </ion-row>

          <ion-row class="brbtm">
            <ion-col size="6">
              <strong>Email :</strong>
            </ion-col>
            <ion-col size="6">
              {{rawCustomerInfo?.purchase_manager_email}}
            </ion-col>
          </ion-row>

          <ion-row class="brbtm">
            <ion-col size="6">
              <strong>Address :</strong>
            </ion-col>
            <ion-col size="6">
              {{rawCustomerInfo?.purchase_manager_address}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <!-- Project -->
      <div *ngIf="rawCustomerInfo?.customer_sub_type_id == 1  && displayView == 1">
        <ion-grid class="ion-no-padding" *ngIf="rawCustomerInfo">
          <div class="assi_header">
            <ion-label>Owner Details</ion-label>
          </div>

          <ion-row class="brbtm">
            <ion-col size="6">
              <strong>Owner Name : </strong>
            </ion-col>
            <ion-col size="6">
              {{rawCustomerInfo?.owner_name}}
            </ion-col>
          </ion-row>

          <ion-row class="brbtm">
            <ion-col size="6">
              <strong>Mobile No : </strong>
            </ion-col>
            <ion-col size="6">
              {{rawCustomerInfo?.owner_mobile}}
            </ion-col>
          </ion-row>

          <ion-row class="brbtm">
            <ion-col size="6">
              <strong>Email :</strong>
            </ion-col>
            <ion-col size="6">
              {{rawCustomerInfo?.owner_email}}
            </ion-col>
          </ion-row>

          <ion-row class="brbtm">
            <ion-col size="6">
              <strong>Address :</strong>
            </ion-col>
            <ion-col size="6">
              {{rawCustomerInfo?.owner_address}}
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid class="ion-no-padding" *ngIf="rawCustomerInfo">
          <div class="assi_header">
            <ion-label>Project Details</ion-label>
          </div>

          <ion-row class="brbtm">
            <ion-col size="6">
              <strong>Project Name : </strong>
            </ion-col>
            <ion-col size="6">
              {{rawCustomerInfo?.project_name}}
            </ion-col>
          </ion-row>

          <ion-row class="brbtm">
            <ion-col size="6">
              <strong>Project Type: </strong>
            </ion-col>
            <ion-col size="6">
              {{rawCustomerInfo?.project_type}}
            </ion-col>
          </ion-row>

          <ion-row class="brbtm">
            <ion-col size="6">
              <strong>Project Address : </strong>
            </ion-col>
            <ion-col size="6">
              {{rawCustomerInfo?.project_address}}
            </ion-col>
          </ion-row>

        </ion-grid>

      </div>

    </ion-card>

  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab-icon">
      <ion-icon class="add-icon" name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list class="fab-list" side="top">
      <ion-fab-button size="large" routerLink='/add-rawcustomer' data-desc="Add Raw Customer">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="large" routerLink='/add-follow-up/{{rawCustomerId}}' data-desc="Add Follow Up">
        <ion-icon name="call-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="large" routerLink='/add-reminder/{{rawCustomerId}}' data-desc="Add Reminder">
        <ion-icon name="newspaper-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
