.grid_brbtm {
  border-bottom: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
}
.main-header {
  position: relative;

  text-align: center;
}
.res-circle {
  /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
  width: 20%;
  border-radius: 50%;

  /* (B) BACKGROUND COLOR */
  background: #bcd6ff;

  /* (C) NECESSARY TO POSITION TEXT BLOCK */
  line-height: 0;
  position: relative;
  left: 39%;
  margin: 10px;
}

/* (D) MATCH HEIGHT */
.res-circle::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* (E) TEXT BLOCK */
.circle-txt {
  /* (E1) CENTER TEXT IN CIRCLE */
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  font-size: 32px;

  /* (E2) THE FONT - NOT REALLY IMPORTANT */
  font-family: arial, sans-serif;
  font-weight: bold;
}

// Header Section Start
ion-header {
  background-color: var(--ion-color-primary);
}
.header {
  border: 0px;
  &:last-of-type {
    --border-color: rgb(255, 255, 255, 0.2);
  }
  .toolbar-container {
    padding: 0px;
  }
  ion-title {
    font-weight: 400;
  }
}
// Header Section End
ion-content {
  --background: var(--ion-background-color, #eff5ff);
}
.bg-theme-grey {
  padding: 10px 0px;
}
ion-card {
  margin-top: 0px;
  margin-bottom: 0px;
  .brbtm {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    font-size: 14px;
    color: #000;
    strong {
      font-weight: 500;
    }
  }
  .assi_header {
    padding: 8px 10px;
    font-size: 16px;
    color: #fff;
    background-color: var(--ion-color-primary);
  }
}

.main-header {
  margin-bottom: 10px;
  .heading {
    font-size: 22px;
    color: #000;
    font-weight: 600;
  }
  .small-text {
    font-size: 16px;
    color: #666;
  }
}

.user-info {
  display: flex;
  justify-content: center;
  margin: 10px 0px 10px 0px;
  left: 10%;
  position: relative;
  .user-logo {
    border: solid 2px #ddd;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background: #bcd6ff;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

ion-fab-button[data-desc] {
  position: relative;
}

ion-fab-button[data-desc]::after {
  position: absolute;
  content: attr(data-desc);
  z-index: 1;
  right: 55px;
  bottom: 4px;
  background-color: var(--ion-color-dark);
  padding: 9px;
  border-radius: 15px;
  color: white;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.editbutton {
  left: 22%;
  position: relative;
}
