 <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-grey"> 
  <form #profileForm="ngForm" enctype="multipart/form-data" novalidate>
    <ion-list>
      <ion-item routerLink="/business-type-screen">
        <div>
          <h4 class="label-name">Business Type</h4>
          <span class="label-view">Buyer (Buyer can buy the product)</span>
        </div>
      </ion-item>
      <ion-item routerLink="/package-screen">
        <div>
          <h4 class="label-name">Package</h4>
          <span class="label-view">Gold (Lorem Ipsume Iorem Ipsume)</span>
        </div>
      </ion-item>
      <ion-item routerLink="/category-screen">
        <div>
          <h4 class="label-name">Category</h4>
          <span class="label-view">Lorem Ipsume iorem Ipsume</span>
        </div>
      </ion-item>
      <ion-item >
        <ion-label position="stacked">Image<span class="text-danger">*</span>
        </ion-label> 
        <div class="d-flex align-center">   
          <ion-avatar class="image-upload" slot="start" slot="end" *ngIf="profileInfo.profile_pic_preview">
            <ion-img [src]="profileInfo.profile_pic_preview" (click)="previewImage(1)"></ion-img>
          </ion-avatar>
          <div class="upload-btn-wrapper ">
            <ion-button class="btn-theme">Upload Image</ion-button>
              <input type="file" [(ngModel)]="profileInfo.product_pic" name="product_pic" (change)="onProfileChange($event)" accept="image/*"/> 
          </div>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Full Name <span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type name" [(ngModel)]='profileInfo.first_name'  name="first_name" required></ion-input>  
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email Address<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type email" [(ngModel)]='profileInfo.email_address' name="email_address" disabled></ion-input>  
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Mobile No. <span class="text-danger">*</span></ion-label>  
        <ion-input type="number" placeholder="Type number" [(ngModel)]='profileInfo.mobile_number' name="mobile_number"></ion-input>  
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">WhatsApp No. <span class="text-danger">*</span></ion-label>  
        <ion-input type="number" placeholder="Type number" [(ngModel)]="profileInfo.whatsapp" name="whatsapp"></ion-input>  
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">Website<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type website" [(ngModel)]='profileInfo.website' name="website"></ion-input>  
      </ion-item> 
      <!-- <ion-item>
        <ion-label position="stacked">Date of Establish<span class="text-danger">*</span></ion-label>  
        <div class="icon w-100">
          <ion-datetime value="2012-12-15T13:47:20.789"></ion-datetime>
          <button class="icons">
            <ion-icon name="calendar"></ion-icon>
          </button>
        </div>        
      </ion-item>  -->
      <ion-item>
        <ion-label position="stacked">GST No.<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type GST number" [(ngModel)]="profileInfo.gst_no" name="gst_no"></ion-input>  
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">PAN No.<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type PAN number" [(ngModel)]='profileInfo.pan_number' name="pan_number"></ion-input>  
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Adhar No.<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type adhar number" [(ngModel)]='profileInfo.aadhar_number' name="aadhar_number"></ion-input>  
      </ion-item>
    </ion-list> 
    <ion-list>
      <div class="ion-header">
        <h4 class="heading">Address info</h4> 
      </div>
      <ion-item>
        <ion-label position="stacked">Building Name <span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type building name" [(ngModel)]='profileInfo.address' name="address"></ion-input>  
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Street/Area<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type street/area" [(ngModel)]='profileInfo.area' name="area"></ion-input>  
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Pincode<span class="text-danger">*</span></ion-label>  
        <ion-input type="number" placeholder="Type Pincode" [(ngModel)]='profileInfo.pincode' name="pincode"></ion-input>   
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">State<span class="text-danger">*</span></ion-label>  
        <ion-select value="AndhraPradesh" interface="action-sheet"  name="stateId" [(ngModel)]="profileInfo.state"
        required>
        <ion-select-option *ngFor="let state of api.stateList" value="{{state.id}}">{{state.name}}</ion-select-option>
      </ion-select>
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">City<span class="text-danger">*</span></ion-label>  
        <ion-select value="Ahmedabad" interface="action-sheet" name="cityId" [(ngModel)]="profileInfo.city" required>
          <ion-select-option *ngFor="let city of api.cityList" value="{{city.id}}">{{city.name}}</ion-select-option>
        </ion-select>
      </ion-item> 
    </ion-list> 
  </form>
</ion-content>
<ion-footer>
<ion-button class="btn-bottom btn-theme" (click)="submitUpdateProfile(profileForm)">Save</ion-button>
</ion-footer>  

