.themeHeading {
    margin: 0.5rem 0rem;
    padding: 5px 15px;
}
.card-listing {
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    ion-item {
        --border-color: #ddd;
        --padding-start: 15px;
        align-items: flex-start; 
        --detail-icon-font-size: 22px;
        --detail-icon-opacity: .5;
        --inner-padding-top: 5px;
        --inner-padding-bottom: 5px;
        &:last-child {
            --border-color: transparent;
        }
        ion-card-content {
            padding: 5px 0px 5px 5px;
            display: flex; 
            width: 100%;

            .userprofile {
                width: 50px;
                height: 50px;
                overflow: hidden;
                border-radius: 100%;
                background-color: transparent;
                border: solid 3px transparent; 
                outline: 3px solid  #9D58CC;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
            }

            .profile-des {
                padding-left: 0.8rem;
                width: 85%;
                display: inline-flex; 
                justify-content: space-between; 
                align-items: center;
                .profile-inner{
                    display: flex;
                    flex-flow: column;
                }
                .profileName {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    letter-spacing: -0.01em;
                    color: #000000;
                    margin: 0px 0px 2px 0px;
                } 
                .small-text {
                    font-size: 14px;
                    line-height: 20px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                ion-button{
                    margin: 0px;
                    --border-radius: 4px;
                    height: 2.5em;
                    font-size: 14px;
                    border-radius: 4px;
                    font-family: var( --f-Poppins);
                }
            }
            
        }
}
}