<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/app-login'></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form class="listing bg-theme-grey" #forgotPasswordForm="ngForm" novalidate>

    <div class="ion-text-center">

      <ion-icon class="lock-icon" name="lock-closed-outline"></ion-icon>

      <h1>Forgot Password?</h1>
      <p class="ion-padding">We just need your registered mobile no to send you password reset OTP</p>

      <div class="form-content">

            <ion-item>
              <ion-label position="stacked">Mobile No <span class="text-danger">*</span></ion-label> 
              <ion-input type="numeric" [(ngModel)]='inputMobile' name="inputMobile" #mobile_number="ngModel" placeholder="Mobile Number" [autofocus]="true" spellcheck="false" autocapitalize="off" inputmode="numeric" maxlength="10"  required></ion-input>
             </ion-item>
              <!-- <ion-input type="numeric" placeholder="Enter Mobile No" [(ngModel)]="inputMobile" name="mobile_number"
              #mobile_number="ngModel" [autofocus]="true" spellcheck="false" autocapitalize="off" inputmode="numeric" maxlength="10"  required></ion-input>  -->
            <!-- </ion-item> -->
            <ion-text color="danger">
              <p class="error-hint" [hidden]="mobile_number.valid || submitted == false">Mobile No is
                required</p>
            </ion-text>
        <!-- <ion-item lines="full">
          <ion-label position="floating">Mobile No: <font color="red">*</font>
          </ion-label>
          <ion-input type="numeric" [(ngModel)]='inputMobile' name="inputEmail" maxlength="10" required></ion-input>
        </ion-item> -->

        <div class="mt-20">
          <ion-button type="submit" expand="full" color="primary" (click)="submitForgotPassword(forgotPasswordForm)"> 
            Reset Password
          </ion-button>
          <ion-button type="button" fill="clear" routerLink="/app-login">Login</ion-button>
        </div>
      </div>

    </div>

  </form>

</ion-content>