<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/otp-page'></ion-back-button>
    </ion-buttons>
    <ion-title>Package</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Start Date</ion-label>
      <ion-datetime (ionChange)="getDate($event)" formControlName="dob" [value]="defaultDate"></ion-datetime>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">End Date</ion-label>
      <ion-datetime (ionChange)="getDate($event)" formControlName="dob" [value]="defaultDate1"></ion-datetime>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Offer</ion-label>
      <ion-input formControlName="mobile" type="text" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click)="onsubmit()">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
