<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/choose-package/{{userId}}"></ion-back-button>
    </ion-buttons>
    <ion-title>Choose Category</ion-title>
    <ion-buttons slot="end" *ngIf="isSkipAllowed">
      <ion-button fill="clear" color="primary" (click)="skipChooseCategory()">SKIP</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding create-account">

  <div class="customForm-progress">
    <ion-progress-bar color="primary" value=".64"></ion-progress-bar>
    <div class="step-text">Step <span class="f-600 text-theme">4</span> of 6</div>
  </div>

  <h4 class="heading">If customer choose / Buyer</h4>

  <span class="small-text text-grey mb-10">Choose the your industry so that your followers can
    learn about your company.
  </span>

  <form #categoryForm="ngForm" novalidate>

    <ion-list>

      <ion-item class="customCard" *ngFor="let category of categoryList">
        <ion-label>
          <div class="label">{{category.name}}</div>
        </ion-label>
        <ion-checkbox slot="start" value="{{category.id}}" [(ngModel)]="category.checked"
          name="category_{{category.id}}"></ion-checkbox>
      </ion-item>

    </ion-list>

  </form>

</ion-content>


<ion-footer>
  <ion-button class="btn-bottom btn-theme" (click)="submitCategory(categoryForm)">Next</ion-button>
</ion-footer>