ion-fab-button[data-desc] {
  position: relative;
}

ion-fab-button[data-desc]::after {
  position: absolute;
  content: attr(data-desc);
  z-index: 1;
  right: 55px;
  bottom: 4px;
  background-color: var(--ion-color-dark);
  padding: 9px;
  border-radius: 15px;
  color: white;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.brbtm {
  border-bottom: 1px solid #efefef;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.brbtm:last-child {
  border-bottom: none;
}

.user-info {
  display: flex;
  justify-content: center;
  margin: 10px 0px 10px 0px;
  left: 10%;
  position: relative;
  .user-logo {
    border: solid 2px #ddd;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background: #bcd6ff;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main-header {
  margin-bottom: 10px;
  text-align: center;
  .heading {
    font-size: 22px;
    color: #000;
    font-weight: 600;
  }
  .small-text {
    font-size: 16px;
    color: #666;
  }
}

ion-card {
  margin-top: 0px;
  margin-bottom: 0px;
  .brbtm {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    font-size: 14px;
    color: #000;
    strong {
      font-weight: 500;
    }
  }
  .assi_header {
    padding: 8px 10px;
    font-size: 16px;
    color: #fff;
    background-color: var(--ion-color-primary);
  }
}

.grid_brbtm {
  border-bottom: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
}

.gallery-img {
  height: 120px;
  object-fit: contain;
  width: 100%;
}
.editbutton {
  left: 22%;
  position: relative;
}
