<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/dashboard'></ion-back-button>
    </ion-buttons>
    <ion-title>Lead Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="bg-theme-grey">

    <ion-card>
      <div class="user-info">
        <div class="user-logo">P</div>
        <div class="editbutton">
          <ion-button fill="clear" routerLink='/convert-lead/{{leadInfo?.customer_id}}/{{leadInfo?.id}}/'>
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
        </div>
      </div>

      <div class="main-header">
        <div class="heading">{{leadInfo?.title}}</div>
        <div class="small-text mt-1">Project</div>
      </div>

      <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="displayView" scrollable="true">
        <ion-segment-button value="1">
          <ion-label>Basic</ion-label>
        </ion-segment-button>

        <ion-segment-button value="2">
          <ion-label>Follow Up</ion-label>
        </ion-segment-button>

        <ion-segment-button value="3">
          <ion-label>Reminders</ion-label>
        </ion-segment-button>

        <ion-segment-button value="4">
          <ion-label>Associates</ion-label>
        </ion-segment-button>

        <ion-segment-button value="5">
          <ion-label>Galleries</ion-label>
        </ion-segment-button>

        <ion-segment-button value="6">
          <ion-label>Notes</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div class="bg-theme-grey">

        <ion-card>

          <div *ngIf="displayView === 1">

            <ion-grid class="basic-info-grid" *ngIf="leadInfo">

              <ion-row class="brbtm">
                <ion-col>Title</ion-col>
                <ion-col class="fw-450">{{leadInfo.title}}</ion-col>
              </ion-row>

              <ion-row class="brbtm">
                <ion-col>Status</ion-col>
                <ion-col class="fw-450">{{leadInfo.status}}</ion-col>
              </ion-row>

              <ion-row class="brbtm">
                <ion-col>Priority</ion-col>
                <ion-col class="fw-450">{{leadInfo.priority}}</ion-col>
              </ion-row>

              <ion-row class="brbtm">
                <ion-col>Assigned To</ion-col>
                <ion-col class="fw-450">{{leadInfo.assigned_to}}</ion-col>
              </ion-row>

              <ion-row class="brbtm">
                <ion-col>Created At</ion-col>
                <ion-col class="fw-450">{{leadInfo.created_dt}}</ion-col>
              </ion-row>

              <!-- <ion-row class="brbtm">
                <ion-col>Customer Name</ion-col>
                <ion-col class="fw-450">{{leadInfo.customer_name}}</ion-col>
              </ion-row> -->

              <ion-row class="brbtm">
                <ion-col>Estimated Cost</ion-col>
                <ion-col class="fw-450">{{leadInfo.estimated_cost}}</ion-col>
              </ion-row>

              <ion-row class="brbtm">
                <ion-col>Estimated Order</ion-col>
                <ion-col class="fw-450">{{leadInfo.estimated_order}}</ion-col>
              </ion-row>

              <ion-row *ngIf="leadInfo?.notes" class="brbtm">
                <ion-col>Notes</ion-col>
                <ion-col class="fw-450">{{leadInfo.notes}}</ion-col>
              </ion-row>

              <ion-row class="brbtm">
                <ion-col><strong>Project Details</strong></ion-col>
              </ion-row>

              <ion-row class="brbtm">
                <ion-col>Project Name</ion-col>
                <ion-col class="fw-450">{{leadInfo?.projectName}}</ion-col>
              </ion-row>

              <ion-row class="brbtm">
                <ion-col>Project Type</ion-col>
                <ion-col class="fw-450">{{leadInfo.projectType}}</ion-col>
              </ion-row>

              <ion-row class="brbtm">
                <ion-col>Project Address</ion-col>
                <ion-col class="fw-450">{{leadInfo.projectAdd}}</ion-col>
              </ion-row>


              <div>
                <ion-grid class="ion-no-padding" *ngIf="leadInfo">
                  <div class="assi_header">
                    <ion-label>Contact Details</ion-label>
                  </div>

                  <ion-row class="brbtm">
                    <ion-col>Name</ion-col>
                    <ion-col class="fw-450">{{leadInfo?.customer_name}}</ion-col>
                  </ion-row>

                  <ion-row class="brbtm">
                    <ion-col>Code</ion-col>
                    <ion-col class="fw-450">{{leadInfo?.customer_code}}</ion-col>
                  </ion-row>

                  <ion-row class="brbtm">
                    <ion-col>Mobile</ion-col>
                    <ion-col class="fw-450">{{leadInfo?.customer_mobile}}</ion-col>
                  </ion-row>

                  <ion-row class="brbtm">
                    <ion-col>Email</ion-col>
                    <ion-col class="fw-450">{{leadInfo?.customer_email}}</ion-col>
                  </ion-row>
                </ion-grid>
              </div>

              <!-- Project -->
              <div>
                <ion-grid class="ion-no-padding" *ngIf="leadInfo">
                  <div class="assi_header">
                    <ion-label>Owner Details</ion-label>
                  </div>

                  <ion-row class="brbtm">
                    <ion-col size="6">
                      <strong>Owner Name : </strong>
                    </ion-col>
                    <ion-col size="6">
                      {{leadInfo?.owner_name}}
                    </ion-col>
                  </ion-row>

                  <ion-row class="brbtm">
                    <ion-col size="6">
                      <strong>Mobile No : </strong>
                    </ion-col>
                    <ion-col size="6">
                      {{leadInfo?.owner_mobile}}
                    </ion-col>
                  </ion-row>

                  <ion-row class="brbtm">
                    <ion-col size="6">
                      <strong>Email :</strong>
                    </ion-col>
                    <ion-col size="6">
                      {{leadInfo?.owner_email}}
                    </ion-col>
                  </ion-row>

                  <ion-row class="brbtm">
                    <ion-col size="6">
                      <strong>Address :</strong>
                    </ion-col>
                    <ion-col size="6">
                      {{leadInfo?.owner_address}}
                    </ion-col>
                  </ion-row>
                </ion-grid>

              </div>


            </ion-grid>




          </div>

          <div *ngIf="displayView == 2">
            <ion-item *ngIf="leadFollowUpCount == 0">
              <ion-label class="ion-text-center">No Record Found!</ion-label>
            </ion-item>
            <div *ngIf="leadFollowUp">
              <div *ngFor="let followUp of leadFollowUp" class="grid_brbtm">
                <ion-row class="brbtm">
                  <ion-col><strong>Follow Up Date:</strong> {{followUp.followup_date}}</ion-col>
                </ion-row>
                <ion-row class="brbtm">
                  <ion-col><strong>Follow Up By:</strong> {{followUp.created_by}}</ion-col>
                </ion-row>
                <ion-row class="brbtm">
                  <ion-col><strong>Notes</strong>: {{followUp.notes}}</ion-col>
                </ion-row>
                <ion-row class="brbtm">
                  <ion-col><strong>Outcome:</strong> {{followUp.outcome}}</ion-col>
                </ion-row>
                <ion-row class="brbtm">
                  <ion-col><strong>Type:</strong> {{followUp.type}}</ion-col>
                </ion-row>
                <ion-row class="brbtm">
                  <ion-col><strong>Next Follow Up Date:</strong>{{followUp.next_followup_date}}</ion-col>
                </ion-row>
              </div>
            </div>
          </div>

          <div *ngIf="displayView == 3">
            <ion-item *ngIf="leadReminderCount == 0">
              <ion-label class="ion-text-center">No Record Found!</ion-label>
            </ion-item>
            <div *ngIf="leadReminder">
              <div *ngFor="let reminder of leadReminder" class="grid_brbtm">
                <ion-row class="brbtm">
                  <ion-col><strong>Reminder Date:</strong> {{reminder.reminder_date}}</ion-col>
                </ion-row>
                <ion-row class="brbtm">
                  <ion-col><strong>Note :</strong> {{reminder.description}}</ion-col>
                </ion-row>
              </div>
            </div>
          </div>

          <div *ngIf="displayView == 4">
            <ion-item *ngIf="leadAssociateCount == 0">
              <ion-label class="ion-text-center">No Record Found!</ion-label>
            </ion-item>
            <div *ngIf="leadAssociate">
              <div *ngFor="let associate of leadAssociate" class="grid_brbtm">
                <ion-row class="brbtm">
                  <ion-col><strong>Customer:</strong> {{associate.customer_name}}</ion-col>
                </ion-row>
                <ion-row class="brbtm">
                  <ion-col><strong>Title:</strong> {{associate.title}}</ion-col>
                </ion-row>
                <ion-row class="brbtm">
                  <ion-col><strong>Firm Name</strong>: {{associate.firm_name}}</ion-col>
                </ion-row>
                <ion-row class="brbtm">
                  <ion-col><strong>Profit %:</strong> {{associate.profit_per}}</ion-col>
                </ion-row>
                <ion-row class="brbtm">
                  <ion-col><strong>Handled By:</strong> {{associate.assi_name}}</ion-col>
                </ion-row>
              </div>
            </div>
          </div>

          <div *ngIf="displayView == 5">

            <ion-item *ngIf="leadGalleryCount == 0">
              <ion-label class="ion-text-center">No Record Found!</ion-label>
            </ion-item>

            <ion-grid class="basic-info-grid" *ngIf="leadGallery">

              <div class="brbtm" *ngFor="let gallery of leadGallery">

                <ion-row class="brbtm">
                  <ion-col>Type</ion-col>
                  <ion-col class="fw-450">{{gallery.type}}</ion-col>
                </ion-row>

                <ion-row class="brbtm">
                  <ion-col>Added By</ion-col>
                  <ion-col class="fw-450">{{gallery?.created_by}}</ion-col>
                </ion-row>

                <ion-row class="brbtm">
                  <ion-col>Added Date</ion-col>
                  <ion-col class="fw-450">{{gallery?.created_dt}}</ion-col>
                </ion-row>

                <ion-row *ngIf="gallery.type == 'Image' && gallery.file_path">
                  <ion-col>Image</ion-col>
                  <ion-col class="ion-text-left">
                    <img [src]='gallery.file_path' alt="img" class="gallery-img"
                      (click)="openPhoto(gallery.file_path, gallery.filename)">
                  </ion-col>
                </ion-row>

                <!-- <ion-row *ngIf="gallery.type !== 'Image' && gallery.file_path">
                  <ion-col>Image</ion-col>
                  <ion-col>
                    <a href="{{gallery.file_path}}" download="{{gallery.filename}}">Download</a>
                  </ion-col>
                </ion-row> -->

              </div>

            </ion-grid>

          </div>

          <div *ngIf="displayView == 6">

            <ion-item *ngIf="leadNotesCount == 0">
              <ion-label class="ion-text-center">No Record Found!</ion-label>
            </ion-item>

            <ion-grid class="basic-info-grid" *ngIf="leadNotes">
              <div class="brbtm" *ngFor="let note of leadNotes">
                <ion-row class="brbtm">
                  <ion-col>Notes</ion-col>
                  <ion-col class="fw-450">{{note.notes}}</ion-col>
                </ion-row>

                <ion-row class="brbtm">
                  <ion-col>Added By</ion-col>
                  <ion-col class="fw-450">{{note?.created_by}}</ion-col>
                </ion-row>

                <ion-row class="brbtm">
                  <ion-col>Added Date</ion-col>
                  <ion-col class="fw-450">{{note?.created_dt}}</ion-col>
                </ion-row>
              </div>
            </ion-grid>
          </div>

        </ion-card>

      </div>
    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab-icon">
      <ion-icon class="add-icon" name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list class="fab-list" side="top">
      <ion-fab-button size="large" routerLink='/add-lead-follow-up/{{leadId}}' data-desc="Add Follow Up">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="large" routerLink='/add-lead-reminder/{{leadId}}' data-desc="Add Reminder">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="large" routerLink='/add-lead-associates/{{leadId}}' data-desc="Add Associates">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="large" routerLink='/add-lead-gallery/{{leadId}}' data-desc="Add Gallery">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="large" routerLink='/add-lead-notes/{{leadId}}' data-desc="Add Notes">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
