 <ion-header class="theme-Header" translucent>
  <ion-toolbar >
    <div class="d-flex justify-between w-100">
      <ion-buttons slot="start">
        <ion-back-button color="white" defaultHref="/dashboard"></ion-back-button>
      </ion-buttons>
      <ion-title>View Category</ion-title>
      <routerlink routerLink="/dashboard" class="cancel">Cancel</routerlink>
    </div>
  </ion-toolbar>
  </ion-header>


<ion-content [fullscreen]="true">
  <div *ngIf="product" class="bg-theme-grey">
  <ion-card *ngFor="let d of product; let i=index;">
        <ion-item class="item-box" lines="150px"  
        id="dr-custom-item-{{i}}">
        <ion-grid>
          <ion-row>
           <ion-col>
          <ion-label class="font">{{i+1}} .</ion-label>
          </ion-col>
            <ion-col>
              <ion-label class="font">{{d.category_name}}</ion-label>
            </ion-col>
            <!-- <ion-col>
              <ion-label class="font">{{d.created_at}}</ion-label>
            </ion-col> -->
            
            <ion-col>
              <ion-button class="enquiry-button" (click)="condirmRemoveDailyReport(d.id)">
              <ion-icon name="trash"></ion-icon>Delete
              </ion-button>
            </ion-col>
          </ion-row>
<ion-row>
  
</ion-row>
  </ion-grid>
  </ion-item>
  </ion-card>
</div>  
</ion-content>
