<ion-header>
  <ion-toolbar>
    <ion-button (click)="onBack()" slot="start" fill="clear">

      <ion-icon name="chevron-back" size="large" color="light"></ion-icon>

   </ion-button>
    <ion-title style="text-align: center;">ADD DAILY REPORT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- first card -->
  <ion-card style="margin: 0px;">

    <ion-grid>
      <ion-row *ngIf="user">
        <ion-col>
          <div>
          <ion-label style="font-weight: bold; color: black;">EMP CODE: {{user.emp_code}}</ion-label>
        </div>
        </ion-col>

        <ion-col *ngFor="let dailyReport of dailyReportView" style="text-align: right;">
          <ion-label style="font-weight: bold; color: black;">
           Date: {{dailyReport.attendanceDateFull}}
            </ion-label>
         </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- overview -->
  <ion-card style="margin: 20px;">
    <ion-grid>
      <ion-row style="border-bottom: 1px solid grey;">
        <ion-col>
            <ion-label style="color: black; font-weight: bold; text-align: left;">
              OVERVIEW
        </ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let dailyReport of dailyReportView">
        <ion-col>
         <ion-label> InTime<br>
          <div class="div-style">
          {{dailyReport.inTime}}
        </div>
        </ion-label>
          </ion-col>
        <ion-col>
          <ion-label>OutTime<br>
            <div class="div-style">
              {{dailyReport.outTime}}
            </div>
            </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Hr<br>
            <div class="div-style">
              {{dailyReport.netHr}}
            </div>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card  style="margin: 20px;">
    <ion-grid>
      <ion-row style="border-bottom: 1px solid grey;">
        <ion-col>
          <div style="padding-top: 10px;">
            <ion-label style="color: black; font-weight: bold; text-align: left;">WORK DETAILS</ion-label>
          </div>
        </ion-col>
        <ion-col style="text-align: end;">
          <div><ion-button class="button" id="flip" (click)="addControl()">
            <ion-icon name="add"></ion-icon>Add
          </ion-button>
          </div>
         </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>Site Name</ion-label>
        </ion-col>
      </ion-row>

      <div class="work">
        <ion-list lines="none">
          <form [formGroup]="myForm">
              <ion-input
                required
                type="text"
                style="border: 1px solid grey;">
           </ion-input>
          </form>
        </ion-list>
        </div>
      <div  class="work">
        <ion-list lines="none">
          <form [formGroup]="myForm">
            <ion-item *ngFor="let control of myForm.controls | keyvalue">
              <ion-input
                required
                type="text"
                [formControlName]="control.key"
                style="border: 1px solid grey;"></ion-input>

              <ion-icon (click)="removeControl(control)" size="large" name="trash-outline" style="margin-left: 10px; background-color:red; color: white;"></ion-icon>
            </ion-item>
          </form>
        </ion-list>
  </div>
    </ion-grid>
  </ion-card>

  <ion-card  style="margin: 20px;">
    <ion-item-sliding>
      <ion-list>
    <ion-grid>
      <ion-row style="border-bottom: 1px solid grey;">
        <ion-col>
          <div style="padding-top: 10px;">
            <ion-label style="color: black; font-weight: bold; text-align: left;">PETROL DETAILS</ion-label>
          </div>
        </ion-col>
        <ion-col style="text-align: end;">
          <div><ion-button (click)="addPetrol()" name="add" id="addpetrol" class="button"><ion-icon name="add"></ion-icon>Add</ion-button></div>
        </ion-col>
      </ion-row>

      <ion-row style="font-size: 15px; font-weight: bold; color: black;" >
        <ion-col>
          <div>
            <ion-label>From</ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-label>To</ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-label>KM</ion-label>
          </div>
        </ion-col>
      </ion-row>

      <div class="hold">



      <ion-row id="inputHold">
        <ion-item>
        <ion-col class="t1">
          <ion-input name="qty" id="qty1" type="text" style="border: 1px solid grey;"></ion-input>
        </ion-col>
        <ion-col class="t2">
          <ion-input name="qty" id="qty2" type="text" style="border: 1px solid grey;"></ion-input>
        </ion-col>
        <ion-col class="t3">
          <ion-input  name="qty" id="qty3"  class="amount" ng-model = "checkboxModel.value1" type="text" style="border: 1px solid grey;"></ion-input>
        </ion-col>
           <ion-item-options slot="end">
            <ion-button style="size:10px; position: relative;"><ion-icon name="trash-outline"></ion-icon></ion-button>
          </ion-item-options>
              </ion-item>
      </ion-row>

    </div>

    <div class="hold">
      <ion-row id="inputHold">
        <ion-list lines="none">
          <form [formGroup]="myForm1">
            <ion-item *ngFor="let control1 of myForm1.controls | keyvalue">
        <ion-col class="t1">
          <ion-input   [formControlName]="control1.key" name="qty"  id="qty1" type="text" style="border: 1px solid grey;"></ion-input>
        </ion-col>
        <ion-col class="t2">
          <ion-input   [formControlName]="control1.key" name="qty"   id="qty2" type="text" style="border: 1px solid grey;"></ion-input>
        </ion-col>
        <ion-col class="t3">
          <ion-input   [formControlName]="control1.key" name="qty"  class="amount" id="qty3" type="text" style="border: 1px solid grey;"></ion-input>
        </ion-col>
        <ion-icon (click)="removeControl1(control1)" size="large" name="trash-outline" style="margin-left: 10px; background-color:red; color: white;"></ion-icon>
        </ion-item>
      </form>
    </ion-list>
      </ion-row>

    </div>

      <ion-row>
        <ion-col size="6">
          <div>
            <ion-label>TOTAL:</ion-label>

          </div>
        </ion-col>
        <ion-col size="6">
          <div>
            <ion-input type="text" readonly id="total_amount"></ion-input>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  </ion-item-sliding>
  </ion-card>

    <ion-card  style="margin: 20px;">
      <ion-grid>
        <ion-row style="border-bottom: 1px solid grey;">
          <ion-col>
            <div style="padding-top: 10px;">
              <ion-label style="color: black; font-weight: bold; text-align: left;">DAILY EXPANSE</ion-label>
            </div>
          </ion-col>
          <ion-col style="text-align: end;">
            <div><ion-button (click)="addExpanse()"  id="show" name="add" id="addExpanse" class="button"><ion-icon name="add"></ion-icon>Add</ion-button></div>
          </ion-col>
        </ion-row>

        <ion-row style="font-size: 15px; font-weight: bold; color: black;">
          <ion-col>
            <div>
              <ion-label>DESCRIPTION</ion-label>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-label>AMOUNT</ion-label>
            </div>
          </ion-col>
        </ion-row>

        <div class="form-row">
        <ion-row>
          <ion-col>
            <ion-input  name="des" style="border: 1px solid grey;"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input name="amt" style="border: 1px solid grey;"></ion-input>
          </ion-col>
        </ion-row>
      </div>

      <div class="form-row">
        <ion-row>
          <ion-list lines="none">
            <form [formGroup]="myForm2">
              <ion-item *ngFor="let control2 of myForm2.controls | keyvalue">
          <ion-col>
            <ion-input [formControlName]="control2.key" name="des" style="border: 1px solid grey;"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input [formControlName]="control2.key" name="amt" style="border: 1px solid grey;"></ion-input>
          </ion-col>
          <ion-icon (click)="removeControl2(control2)" size="large" name="trash-outline" style="margin-left: 10px; background-color:red; color: white;"></ion-icon>
        </ion-item>
      </form>
    </ion-list>
        </ion-row>
      </div>


        <ion-row>
          <ion-col size="6">
            <div>
              <ion-label>TOTAL:</ion-label>
            </div>
          </ion-col>
          <ion-col size="6">
            <div>
              <ion-label></ion-label>
            </div>
          </ion-col>
        </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card  style="margin: 20px;">
    <ion-grid>
      <ion-row style="border-bottom: 1px solid grey;">
        <ion-col>
          <div style="padding-top: 10px;">
            <ion-label style="color: black; font-weight: bold; text-align: left;">INWARD AMOUNT</ion-label>
          </div>
        </ion-col>
      </ion-row>

      <ion-row style="font-size: 15px; font-weight: bold; color: black;">
        <ion-col>
          <div>
            <ion-label>DESCRIPTION</ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-label>AMOUNT</ion-label>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input style="border: 1px solid grey;"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input style="border: 1px solid grey;"></ion-input>
        </ion-col>
      </ion-row>
</ion-grid>
</ion-card>

<ion-grid>
  <ion-row>
        <ion-col size="6" style="background-color: white;">
        <ion-button expand="full" fill="clear" color="dark">Cancel</ion-button>
        </ion-col>
        <ion-col size="6">
        <ion-button expand="full" class="button">Submit</ion-button>
      </ion-col>
      </ion-row>
</ion-grid>
</ion-content>

