ion-content{
  --ion-background-color:#ccc;
}
ion-card{
  --ion-background-color:#FFFFFF;
  margin-top: 0px;
}
.icard{
  margin: 0px;
}
.card-margin{
  margin: 10px;
}
ion-header{
  --ion-background-color:teal;
}
.button{
  --background:teal;
}
ion-title{
  color: white;
}
.style{
  border-bottom: 1px solid;
}
ul{
  list-style-type: disc;
}
.style1 {
  font-size: 1em;
  // color: #fff;
  // background-color:#555;

  border-bottom: 1px solid;

  margin-bottom: 5px;
}
.row{
  border-right: 1px solid;
  font-weight: bold;
}
.right{
  float: right;
}
.head{
  font-weight: bold;
  font-size: 15px;
  color: black;
  margin-bottom: 10px;
}
