<!-- Header Section Start -->
<ion-header translucent class="themeHeader ">
  <ion-toolbar class="bg-gradient">
    <ion-list class="d-flex justify-between">
      <ion-menu-toggle id="main">
        <button class="menuLeft">
          <ion-icon src="../../../../assets/new-image/menu.svg"></ion-icon>
        </button>
      </ion-menu-toggle>
      <ion-title>
        <ion-img class="logo-inner" src="../../../../assets/new-image/logo-inner.svg"></ion-img>
      </ion-title>
      <ion-list class="d-flex ion-nopadding">
        <ion-router-link class="icons relative" routerLink="/notification">
          <ion-icon src="../../../../assets/new-image/icon-notification.svg"></ion-icon>
        </ion-router-link>
        <button class="icons" (click)="confirmLogout()">
          <ion-icon src="../../../../assets/new-image/icon-logout.svg"></ion-icon>
        </button>
      </ion-list>
    </ion-list>
  </ion-toolbar>
</ion-header>
<!-- Header Section End --> 
<!-- Body Section Start -->
<ion-content class="seller-dashboard bg-grey "> 
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    <div class="seller-list"></div>
    <div class="ion-padding-horizontal"  *ngIf="productCount === 0">
      <ion-item>
        <ion-label class="ion-padding-start ion-text-center">No record found</ion-label>
      </ion-item>
    </div> 
    <div class="product-list">
      <ion-card *ngFor="let d of product">
        <ion-card-content>
          <div class="productImage" routerLink='/product-list/{{d.id}}'>
               <img [src]="d.product_pic" style="height: 200px; width: 200px;">
          </div>
         <div class="product-des">
            <h3 class="productName">{{d.product_name}}</h3>
            <span class="small-text">{{d.category_name}}</span>
            <ul class="listing">
              <li>
                <ion-icon  src="../../../../assets/new-image/icon-company.svg"></ion-icon>
                <span routerLink='/view-buyer-detail/{{d.id}}'>{{d.buyer_address}}</span>
              </li>
              <li>
                <ion-icon  src="../../../../assets/new-image/icon-location.svg"></ion-icon>
                <span>{{d.buyer_area}}</span>
              </li>
            </ul>
          </div>  
        </ion-card-content>
        <ion-footer class="ion-card-footer">
          <div class="price">
            <div class="w-50">
              <div class="w-50">
                <div class="productName" *ngIf="d.is_price_show===1"><span>₹ {{d.rate}} / <span>Qty:1</span></span></div>
                <div class="productName" *ngIf="d.is_price_show==0"><span>₹ **** / <span>Qty:1</span></span></div>
            </div>
            </div>
          </div>
          <ion-button class="btn btn-theme"  shape="round"  routerLink='/add-order/{{d.id}}'>Get Best Price <ion-icon src="../../../../assets/new-image/arrow-right.svg"></ion-icon></ion-button>
      </ion-footer> 
      </ion-card>  
    </div>
</ion-content>
<!-- Body Section End -->
<!-- Footer Section Start -->
<ion-footer class="themeFooter">
  <button class="footerTab active" routerLink="/seller-dashboard">
    <ion-icon class="tab-icons" src="../../../../assets/new-image/icon-home.svg"></ion-icon>
    <span class="tab-text">Home</span>
  </button>
  <button class="footerTab" routerLink="/seller-product-listing">
    <ion-icon class="tab-icons" src="../../../../assets/new-image/icon-search.svg"></ion-icon>
    <span class="tab-text">Search</span>
  </button> 
  <button class="footerTab" routerLink="/my-order">
    <ion-icon class="tab-icons" src="../../../../assets/new-image/icon-order.svg"></ion-icon>
    <span class="tab-text">Order</span>
  </button>
  <button class="footerTab" routerLink="/seller-profile">
    <ion-img class="tab-img" [src]="api.userPicture"></ion-img>
    <span class="tab-text">Profile</span>
  </button>
</ion-footer>
<!-- Footer Section End -->