<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/registration-page'></ion-back-button>
    </ion-buttons>
    <ion-title>Otp Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">otp</ion-label>
      <ion-input formControlName="otp" type="text"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.otp.errors?.required">
      Name is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.otp.errors?.minlength">
      Name should be min 2 chars long.
    </span>
    <ion-row>
      <ion-col class="ion-no-padding login-btn">
        <ion-button  color="primary" size="medium" type="login"
          expand="block">Submit
        </ion-button>
      </ion-col>
    </ion-row>
    </form>
</ion-content>
