<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/dashboard'></ion-back-button>
    </ion-buttons>
    <ion-title>Today Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<!-- <ion-item *ngIf="product == 0">
  <ion-label class="ion-text-center">No record found</ion-label>
</ion-item> -->


<ion-label class="ion-text-center">No record found</ion-label>
<div class="mt-20">
  <ion-row>
    <ion-col class="ion-no-padding">
      <ion-button type="submit" expand="block" color="primary" (click)="showPromptAlert()">Add
      </ion-button>
    </ion-col>
  </ion-row>
</div>

</ion-content>
