  <ion-header class="theme-Header" translucent>
  <ion-toolbar >
    <div class="d-flex justify-between w-100">
      <ion-buttons slot="start">
        <ion-back-button color="white" defaultHref="/product-screen"></ion-back-button>
      </ion-buttons>
      <ion-title>Add Product</ion-title>
      <routerlink routerLink="/product-screen" class="cancel">Cancel</routerlink>
    </div>
  </ion-toolbar>
  </ion-header>
<ion-content class="ion-padding create-account"> 
    <form #loginForm="ngForm" novalidate>
      <ion-item>
        <ion-label position="stacked">Product Code<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type product code" ></ion-input>  
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Product Name<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type product name"></ion-input>  
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Price<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type price"></ion-input>  
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">Category<span class="text-danger">*</span></ion-label>  
        <ion-select value="Category1" interface="action-sheet"> 
          <ion-select-option value="Category1">Category 1</ion-select-option>
          <ion-select-option value="Category2">Category 2</ion-select-option> 
          <ion-select-option value="Category3">Category 3</ion-select-option> 
          <ion-select-option value="Category4">Category 4</ion-select-option> 
          <ion-select-option value="Category5">Category 5</ion-select-option> 
        </ion-select>
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">Unit<span class="text-danger">*</span></ion-label>  
        <ion-select value="Unit1" interface="action-sheet"> 
          <ion-select-option value="Unit1">Unit 1</ion-select-option>
          <ion-select-option value="Unit2">Unit 2</ion-select-option> 
          <ion-select-option value="Unit3">Unit 3</ion-select-option> 
          <ion-select-option value="Unit4">Unit 4</ion-select-option> 
          <ion-select-option value="Unit5">Unit 5</ion-select-option> 
        </ion-select>
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">Descrption<span class="text-danger">*</span></ion-label>  
        <ion-textarea type="text" rows="4" cols="10" placeholder="Type price"></ion-textarea>  
      </ion-item> 
      <ion-item>     
          <ion-radio-group class="radioGroup" value="Publish">
            <ion-list-header>
              <ion-label position="stacked">Unit<span class="text-danger">*</span></ion-label>      
            </ion-list-header>
            <ion-item>
              <ion-label>Publish</ion-label>
              <ion-radio slot="start" color="primary" value="Publish"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Publish</ion-label>
              <ion-radio slot="start" color="primary" value="Un-Publish"></ion-radio>
            </ion-item> 
          </ion-radio-group>     
      </ion-item>     
    </form>
</ion-content>
<ion-footer>
  <ion-button class="btn-bottom btn-theme" routerLink="/product-screen">Submit</ion-button>
</ion-footer>  

