<!-- Header Section Start -->
<ion-header translucent class="themeHeader ">
  <ion-toolbar class="bg-gradient">
    <ion-list class="d-flex justify-between">
      <ion-menu-toggle id="main">
        <button class="menuLeft">
          <ion-icon src="../../../../assets/new-image/menu.svg"></ion-icon>
        </button>
      </ion-menu-toggle>
      <ion-title>
        <ion-img class="logo-inner" src="../../../../assets/new-image/logo-inner.svg"></ion-img>
      </ion-title>
      <ion-list class="d-flex ion-nopadding">
        <ion-router-link class="icons relative" routerLink="/notification">
          <ion-icon src="../../../../assets/new-image/icon-notification.svg"></ion-icon>
        </ion-router-link>

        <button class="icons" (click)="confirmLogout()">
          <ion-icon src="../../../../assets/new-image/icon-logout.svg"></ion-icon>
        </button>
      </ion-list>
    </ion-list>
  </ion-toolbar>
</ion-header>
<!-- Header Section End -->
<!-- Left Menu Section Start -->

<!-- Body Section Start -->
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="searchMain">
    <div class="d-flex">
      <ion-searchbar (click)='openSearchBox()'></ion-searchbar>
      <ion-button class="btn-white" (click)='openSearchBox()'>
        <!-- (click)="presentActionSheet()" -->
        <ion-icon src="../../../../assets/new-image/icon-fillter.svg"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div class="bg-theme-grey">
    <div class="card" *ngIf="isEnableSearch">
      <ion-card-header>
        <ion-card-subtitle>
          <strong>Search</strong>
          <span class="close-spn">
            <ion-button fill="clear" color="danger" (click)="hideSearchBox()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </span>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-item class="filter-date-item">
          <ion-label position="floating">product Name</ion-label>
          <ion-input type="text" [(ngModel)]='searchParams.product_name' name="product_name"></ion-input>
        </ion-item>

        <!-- <ion-item lines="full">
        <ion-label position="floating"
          >Category
        </ion-label>
        <ion-select
          [(ngModel)]="searchParams.category_id"
          [interfaceOptions]="customActionSubTypeOptions"
          interface="action-sheet"
          name="category"
          #category="ngModel"
          required
          (ionChange)="changeSubType($event)"
        >
          <ion-select-option
            *ngFor="let category of data1"
            value="{{category.category_id}}"
          >
            {{category.category_name}}
          </ion-select-option>
        </ion-select>
      </ion-item> -->

        <ion-item class="filter-date-item">
          <ion-label position="floating">Description </ion-label>
          <ion-input type="text" [(ngModel)]='searchParams.description' name="description"></ion-input>
        </ion-item>


        <ion-row class="ion-margin-top">
          <ion-col class="ion-text-center">
            <ion-button color="medium" size="small" fill='outline' expand="block" (click)='resetSearchBox()'>
              Reset
            </ion-button>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-button size="small" type="block" expand="block" (click)='applySearch()'>
              Search
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </div>
    <div class="ion-padding-horizontal ion-margin-top" *ngIf="isSearchResults">
      <ion-item>
        <ion-label class="ion-padding-start">
          <h2>Searched Results:</h2>
          <p *ngIf="productCount > 0">Total {{productCount}} {{productCount > 1 ? 'records' : 'record'}} found</p>
        </ion-label>
        <ion-button fill="clear" size="small" (click)="resetSearch()">Reset</ion-button>
      </ion-item>
    </div>

    <div class="ion-padding-horizontal" *ngIf="productCount === 0">
      <ion-item>
        <ion-label class="ion-padding-start ion-text-center">No record found</ion-label>
      </ion-item>
    </div>

    <div class="themeHeading w-100">
      <h6>All Orders</h6>
    </div>
    <ion-list class="card-listing" *ngFor="let d of product; let i=index;" id="dr-custom-item-{{i}}">
      <ion-item routerLink='/view-order-status/{{d.id}}'>
        <ion-card-content>
          <div class="productImage">
            <img [src]="d.product_pic" onerror="this.src='assets/img/dashboard/product.png';" alt="img">
          </div>

          <div class="product-des">
            <h3 class="productName">{{d.product_name}}</h3>
            <div class="d-flex justify-between align-center">
              <div class="w-50">
                <span class="price">₹{{d.product_item_rate}}</span>
              </div>
            </div>
            <span class="small-text">QTY: <b>{{d.order_qty}}/{{d.product_unit_name}}</b></span>


          </div>

        </ion-card-content>
        <ion-icon class="rightArrow" routerLink="/package-details-screen"
          src="../../../../assets/new-image/right-arrow.svg"></ion-icon>
        <span class="status bg-confirm" *ngIf="d.status == 1" style="background-color: orange;">{{d.status_name}}</span>
        <span class="status bg-confirm" *ngIf="d.status == 2" style="background-color: green;">{{d.status_name}}</span>
        <span class="status bg-confirm" *ngIf="d.status == 3" style="background-color: red;">{{d.status_name}}</span>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<!-- Footer Section Start -->
<ion-footer class="themeFooter">
  <button class="footerTab " routerLink="/seller-dashboard">
    <ion-icon class="tab-icons" src="../../../../assets/new-image/icon-home.svg"></ion-icon>
    <span class="tab-text">Home</span>
  </button>
  <button class="footerTab" routerLink="/seller-product-listing">
    <ion-icon class="tab-icons" src="../../../../assets/new-image/icon-search.svg"></ion-icon>
    <span class="tab-text">Search</span>
  </button>
  <button class="footerTab active" routerLink="/my-order">
    <ion-icon class="tab-icons" src="../../../../assets/new-image/icon-order.svg"></ion-icon>
    <span class="tab-text">Order</span>
  </button>
  <button class="footerTab" routerLink="/seller-profile">
    <ion-img class="tab-img" [src]="api.userPicture"></ion-img>
    <span class="tab-text">Profile</span>
  </button>
</ion-footer>
<!-- Footer Section End -->