 <ion-header class="theme-Header" translucent>
  <ion-toolbar >
    <div class="d-flex justify-between w-100">
      <ion-buttons slot="start">
        <ion-back-button color="white" defaultHref="/my-product"></ion-back-button>
      </ion-buttons>
      <ion-title>Price Update</ion-title>
      <routerlink routerLink="backToDashbaord()" class="cancel">Cancel</routerlink>
    </div>
  </ion-toolbar>
  
</ion-header>
<ion-content class="ion-padding create-account"> 
    <form #priceForm="ngForm" enctype="multipart/form-data">
      <!-- <ion-item>
        <ion-label position="stacked">Product Code</ion-label>  
        <ion-input type="text" placeholder="Type product code"  [(ngModel)]="priceInfo.product_id" name="product_name"disabled></ion-input>  
      </ion-item> -->
      <ion-item>
        <ion-label position="stacked">Product Name<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type product name"  [(ngModel)]="priceInfo.product_name" name="product_name" disabled></ion-input>  
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Price<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type price" [(ngModel)]="priceInfo.rate" name="rate" disabled></ion-input>  
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">New Price<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type new price" [(ngModel)]="priceInfo.ratechange" name="rate" ></ion-input>  
      </ion-item> 
    </form>


    <ion-list class="price" *ngIf="data">
      <div class="themeHeading">
        <h6>Price History</h6> 
      </div>
      <div class="listing" *ngFor="let d of data1 let i=index;" id="dr-custom-item-{{i}}">
        <li  *ngIf="i < 5">
          <span class="price-label">{{i+1}}. {{d.price}}</span>
        </li>
      </div>
      <!-- <ion-list  class="price" *ngIf="data">
        <div class="ion-header" style="font-weight: bold;">
         Price History
        </div>
        <ion-item *ngFor="let d of data1 let i=index;" id="dr-custom-item-{{i}}" size="3">
          <div *ngIf="i < 5">
            <span class="price-label">{{i+1}}. {{d.price}}</span>
          </div>
        </ion-item>
      </ion-list> -->
      <!-- <div style="font-weight: bold;">
       Price History
      </div>
      <ion-item *ngFor="let d of data1 let i=index;" id="dr-custom-item-{{i}}">
        <div *ngIf="i < 5">
          <span>{{i+1}}. {{d.price}}</span>
        </div>
      </ion-item> -->
    </ion-list>
</ion-content>
<ion-footer>
  <ion-button class="btn-bottom btn-theme" (click)="submitUpdatePrice(priceForm)">Submit</ion-button>
</ion-footer>  


