 <ion-header class="theme-Header" translucent>
  <ion-toolbar >
    <div class="d-flex justify-between w-100">
      <ion-buttons slot="start">
        <ion-back-button color="white" defaultHref="/seller-dashboard"></ion-back-button>
      </ion-buttons>
      <ion-title>Add Order</ion-title>
      <routerlink routerLink="/seller-dashboard" class="cancel">Cancel</routerlink>
    </div>
  </ion-toolbar>
  </ion-header>
<ion-content class="ion-padding create-account">
    <form   #inquiryForm="ngForm" enctype="multipart/form-data" novalidate>
      <!-- <ion-item>
        <ion-label position="stacked">Product Code<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type product code"  [(ngModel)]="product_name" name="product_name"></ion-input>  
      </ion-item> -->
      <ion-item>
        <ion-label position="stacked">Quantity<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Enter Quantity" [(ngModel)]="order_qty" name="order_qty"></ion-input>  
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Remark<span class="text-danger">*</span></ion-label>  
        <ion-textarea type="text" placeholder="Enter Remark" [(ngModel)]="remarks" name="remarks"></ion-textarea>  
      </ion-item>  
    </form>
    <div class="themeHeading">
      <h6>Product</h6> 
    </div>
    <div class="listing" *ngIf="data">
      <span>Product Name:  </span>
      <span class="f-700">{{data.product_name}}</span>
    </div>
    <div class="listing" *ngIf="data">
      <span>Product Price:  </span>
      <span class="f-700">{{data.rate}}</span>
    </div>
</ion-content>
<ion-footer>
  <ion-button class="btn-bottom btn-theme" (click)="submitInquiry(inquiryForm)">Submit</ion-button>
</ion-footer>  

