<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/dashboard'></ion-back-button>
    </ion-buttons>
    <ion-title>Attendance Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding" *ngIf="attendanceInfo">
    <ion-row class="timeheader">
      <ion-col size="6">
        <div class="headerLabel">Net Hrs: <span class="f-bold" *ngIf="attendanceInfo.netHr">{{attendanceInfo.netHr}}</span></div>
      </ion-col>
      <ion-col size="6">
        <div class="ion-text-right headerLabel">Date: <span class="f-bold" *ngIf="attendanceInfo.created_at">{{attendanceInfo.created_at}}</span></div>
      </ion-col>
      <ion-col size="12" class="timers">
        <div class="atn-rows">
          <span>In Time</span>
          <span class="f-bold" *ngIf="attendanceInfo.inTime">{{attendanceInfo.inTime}}</span>
        </div>
        <div class="atn-rows">
          <span>Out Time</span>
          <span class="f-bold" *ngIf="attendanceInfo.outTime">{{attendanceInfo.outTime}}</span>
        </div>
        <div class="atn-rows">
          <span>Status</span>
          <span class="f-bold" *ngIf="attendanceInfo.status">{{attendanceInfo.status}}</span>
        </div>
      </ion-col>
    </ion-row> 

    <ion-card *ngIf="attendanceInfo.inSelfyPic">
      <div class="userThum">
        <ion-thumbnail slot="start">
          <img [src]="attendanceInfo.inSelfyPic" alt="img" class="selfie-img">
        </ion-thumbnail>
        <ion-badge slot="end" color="success">IN</ion-badge>
      </div>
      <div class="address">
        {{attendanceInfo?.inLocation}}
      </div>
      
    </ion-card>

    <ion-card *ngIf="attendanceInfo.outSelfyPic">
      <div class="userThum">
      <ion-thumbnail slot="start">
        <img [src]="attendanceInfo.outSelfyPic" alt="img" class="selfie-img">
      </ion-thumbnail>    
      <ion-badge slot="end" color="danger">OUT</ion-badge>
      </div>
      <div class="address">
        {{attendanceInfo?.outLocation}}
      </div>
    </ion-card>

  </ion-grid>

</ion-content>