.atn-rows{
    display: inline-block;
    margin-right: 20px;
}

.atn-rows span{
    display: block;
}

.selfie-img{
    border-radius: 50%;
}

// Header Section Start
ion-header{
    background-color:  var(--ion-color-primary);
}
.header {
    padding: 3px;
    border: 0px;
    &:last-of-type {
      --border-color: rgb(255, 255, 255, 0.2);
    }
    .toolbar-container {
      padding: 0px;
    }
    ion-title {
      font-weight: 400;
    }
  }
  // Header Section End 
  ion-content{
    --background: var(--ion-background-color, #eff5ff);
}
.timeheader{
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px 20px; 
    width: 100%;
    border-bottom: solid 1px #ddd;
    .headerLabel{
        font-size: 16px;
        color: #000;
    }
    .f-bold{
        font-weight: 600;
    }
    .timers{
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        text-align: center;
    }
}
ion-card{
    -webkit-box-shadow: 0 0px 12px rgba(0, 0, 0, 0.10);
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.10);
    margin: .8rem 1rem;
    border-radius: 5px;
    padding: 10px 15px; 
    ion-thumbnail{
        border: solid 3px #049292;
        border-radius: 50%;
        overflow: hidden; 
        width: 60px;
        height: 60px;
        img{
            border-radius: 0px;
        }
    }
    .userThum{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .address{
        margin-top: 5px;
        font-size: 16px;
        color: #000;
        line-height: 20px;
    }
    ion-badge{
        padding: 5px 10px;
        border-radius: 50px;
    }
}