 <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/my-order"></ion-back-button>
    </ion-buttons>
    <ion-title>Order Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-grey ion-padding">
  <ion-list >
    <ion-item *ngIf="data">
      <div class="d-flex align-center">
        <h4 class="label">Order ID:</h4>
        <span class="label-view">{{data.id}}</span>
      </div>
    </ion-item>
    <ion-item class="card-listing" *ngIf="data">
      <ion-card-content>
        <div class="productImage">
          <img [src]="data.product_pic" onerror="this.src='assets/img/dashboard/product.png';" alt="img">
        </div>
        <div class="product-des">
          <h3 class="productName">{{data.product_name}}</h3>
          <span class="small-text">{{data.remarks}}</span>
          <div class="d-flex justify-between align-center">
            <div class="w-50">
              <span class="price" routerLink='/view-buyer-detail/{{data.id}}'>{{data.orders_to}}</span>
            </div>
            <div class="w-50">
              <span class="text-small">QTY: <b class="text-dark">{{data.order_qty}}</b></span>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-item>
  </ion-list>
    <ion-list class="price" *ngIf="data">
      <div class="ion-header">
        Buyer Details
      </div>
      <ion-item>
        <div class="d-flex align-center w-100 justify-between">
          <span class="label-view">Order To</span>
          <span class="price-label">{{data.orders_to}}</span>
        </div>
      </ion-item>
      <ion-item>
        <div class="d-flex align-center w-100 justify-between">
          <span class="label-view">Email</span>
          <span class="price-label">{{data.orders_to_email}}</span>
        </div>
      </ion-item>
      <ion-item>
        <div class="d-flex align-center w-100 justify-between">
          <span class="label-view">Mobile No</span>
          <span class="price-label">{{data.orders_to_mobile}}</span>
        </div>
      </ion-item>
    </ion-list>
    <ion-list class="price" *ngIf="data">
      <div class="ion-header">
        Order Details
      </div>
      <ion-item>
        <div class="d-flex align-center w-100 justify-between">
          <span class="label-view">Product Id</span>
          <span class="price-label">{{data.id}}</span>
        </div>
      </ion-item>
      <ion-item>
        <div class="d-flex align-center w-100 justify-between">
          <span class="label-view">Product Name</span>
          <span class="price-label">{{data.product_name}}</span>
        </div>
      </ion-item>
      <ion-item>
        <div class="d-flex align-center w-100 justify-between">
          <span class="label-view">Description</span>
          <span class="price-label">{{data.product_description}}</span>
        </div>
      </ion-item>
      </ion-list>
      <ion-list class="price" *ngIf="data">
        <div class="ion-header">
          Order Status
        </div>
        <ion-item>
          <div class="d-flex align-center w-100 justify-between">
            <span class="label-view">Status</span>
            <span class="price-label">
              <div class="d-flex align-center" *ngIf="data.status===2">
                <ion-icon name="checkmark-circle" class="mr-2"
                  style="color: green; font-size: 25px;     margin-right: 8px;"></ion-icon>
                {{data.status_name}}
              </div>
            </span>

            <span class="price-label">
              <div class="d-flex align-center" *ngIf="data.status===1">
                <ion-icon name="ban" class="mr-2" style="color: red; font-size: 25px;     margin-right: 8px;">
                </ion-icon>
                {{data.status_name}}
              </div>
            </span>
          </div>
        </ion-item>
      </ion-list>

</ion-content>