<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/leads-dashboard'></ion-back-button>
    </ion-buttons>
    <ion-title>Add Lead Associates</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form class="listing bg-theme-grey" #leadAssociatesForm="ngForm">

    <ion-list>

      <ion-item lines="full">
        <ion-label position="floating">Select Sub Type <font color="red">*</font>
        </ion-label>
        <ion-select [(ngModel)]='subType' [interfaceOptions]="customActionCommonOptions" interface="action-sheet"
          name="subType" required (ionChange)="changeProjectType($event)">
          <ion-select-option *ngFor="let type of api.subTypes" value="{{type.id}}">
            {{type.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-searchbar animated (ionChange)="searchByText($event)" *ngIf="subType" placeholder="Search for an item">
      </ion-searchbar>

    </ion-list>

    <div *ngIf="searchedCustomerCount > 0">
      <ion-item>
        <ion-label>
          <p class="ion-text-uppercase">Search Results</p>
        </ion-label>
      </ion-item>
      <ion-item *ngFor="let customer of searchedCustomers" (click)="chooseCustomer(customer.id)">
        <ion-label>{{customer.text}}</ion-label>
      </ion-item>
    </div>

    <div *ngIf="subType && associatesCount > 0">

      <ion-card *ngFor="let associates of associatesList; let ascIndex=index">
        <ion-card-header class="custom-card-header">
          <ion-card-title color="primary">
            <span class="txn-title">{{associates.customer_name}}</span>
            <span class="close-title">
              <ion-button slot="end" color="danger" size="small" class="btn-close" (click)="removeCustomer(ascIndex)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </span>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              <p>Title</p>
              <h2>{{associates.customer_sub_type}}</h2>
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              <p>Firm Name</p>
              <h2>{{associates.customer_firm_name}}</h2>
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>Profit Percentage</ion-label>
            <ion-input type="number" [(ngModel)]="customerPercentages[ascIndex]" class="ion-text-right"
              name="assi_percentage_{{ascIndex}}" value="">
            </ion-input>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding" *ngIf="associates.assi_archi.length > 0">
            <ion-label>Handled By</ion-label>
            <ion-select [(ngModel)]="customerHandledBy[ascIndex]" okText="Okay" cancelText="Dismiss"
              name="assi_archi_{{ascIndex}}" value="">
              <ion-select-option *ngFor="let user of associates.assi_archi" value="{{user.id}}">
                {{user.assi_name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <input *ngIf="associates.assi_archi.length == 0" type="hidden" [(ngModel)]="customerHandledBy[ascIndex]"
            name="assi_archi_{{ascIndex}}" value="">
        </ion-card-content>
      </ion-card>

      <div class="mt-20">
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-button type="button" expand="full" color="light" (click)="backToLeadDashbaord()">Cancel
            </ion-button>
          </ion-col>
          <ion-col class="ion-no-padding">
            <ion-button type="submit" expand="full" color="primary" (click)="submitLeadAssociates(leadAssociatesForm)">
              Create
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>

  </form>

</ion-content>
