<!--  <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/category-screen"></ion-back-button>
    </ion-buttons>
    <ion-title>Address Info</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding create-account">
  <div class="customForm-progress">
    <ion-progress-bar color="primary" value=".80"></ion-progress-bar>
    <div class="step-text">Step <span class="f-600 text-theme">5</span> of 6</div>
  </div>
  <h4 class="heading">Your factory address</h4>
  <span class="small-text text-grey mb-10">Please set up your address so that others can get 
    to know you</span>
    <form #loginForm="ngForm" novalidate>
      <ion-item>
        <ion-label position="stacked">Building Name <span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type building name"></ion-input>  
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Street/Area<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type street/area"></ion-input>  
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Pincode<span class="text-danger">*</span></ion-label>  
        <ion-input type="number" placeholder="Type Pincode"></ion-input>   
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">State<span class="text-danger">*</span></ion-label>  
        <ion-select value="AndhraPradesh" interface="action-sheet"> 
          <ion-select-option value="AndhraPradesh">Andhra Pradesh</ion-select-option>
          <ion-select-option value="Arunachal Pradesh">Arunachal Pradesh</ion-select-option>
          <ion-select-option value="Assam">Assam</ion-select-option>
          <ion-select-option value="Bihar">Bihar</ion-select-option>
          <ion-select-option value="Chhattisgarh">Chhattisgarh</ion-select-option>
          <ion-select-option value="Goa">Goa</ion-select-option>
          <ion-select-option value="Gujarat">Gujarat</ion-select-option>
          <ion-select-option value="Chhattisgarh">Haryana</ion-select-option>
          <ion-select-option value="Himachal Pradesh">Himachal Pradesh</ion-select-option>
          <ion-select-option value="Jammu and Kashmir">Jammu and Kashmir</ion-select-option>
          <ion-select-option value="Jharkhand">Jharkhand</ion-select-option>
        </ion-select>
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">City<span class="text-danger">*</span></ion-label>  
        <ion-select value="Ahmedabad" interface="action-sheet"> 
          <ion-select-option value="Ahmedabad">Ahmedabad</ion-select-option>
          <ion-select-option value="Arunachal Pradesh">Arunachal Pradesh</ion-select-option>
          <ion-select-option value="Assam">Assam</ion-select-option>
          <ion-select-option value="Bihar">Bihar</ion-select-option>
          <ion-select-option value="Chhattisgarh">Chhattisgarh</ion-select-option>
          <ion-select-option value="Goa">Goa</ion-select-option>
          <ion-select-option value="Gujarat">Gujarat</ion-select-option>
          <ion-select-option value="Chhattisgarh">Haryana</ion-select-option>
          <ion-select-option value="Himachal Pradesh">Himachal Pradesh</ion-select-option>
          <ion-select-option value="Jammu and Kashmir">Jammu and Kashmir</ion-select-option>
          <ion-select-option value="Jharkhand">Jharkhand</ion-select-option>
        </ion-select>
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">Map</ion-label>  
        <iframe class="mapView" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d469682.89617636375!2d72.52271171702508!3d23.119136871418632!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e85c2e335ed6b%3A0xd19a77c6688f5c9b!2sManinagar%2C%20Ahmedabad%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1647351127392!5m2!1sen!2sin"  allowfullscreen="" loading="lazy"></iframe>
      </ion-item>
    </form>
</ion-content>
<ion-footer>
  <ion-button class="btn-bottom btn-theme" routerLink="/contact-info-screen">Next</ion-button>
</ion-footer>  
 -->
