<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/leads-dashboard'></ion-back-button>
    </ion-buttons>
    <ion-title>Leads Listing</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='openSearchBox()'>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="bg-theme-grey">

    <ion-card *ngIf="isEnableSearch">

      <ion-card-header>
        <ion-card-subtitle>
          <strong>Search</strong>
          <span class="close-spn">
            <ion-button fill="clear" color="danger" (click)="hideSearchBox()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </span>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-item class="filter-date-item">
          <ion-label position="floating">Project Name</ion-label>
          <ion-input type="text" [(ngModel)]='searchParams.project_name' name="project_name"></ion-input>
        </ion-item>

        <ion-item class="filter-date-item">
          <ion-label position="floating">Status</ion-label>
          <ion-select [(ngModel)]='searchParams.status' name="status">
            <ion-select-option *ngFor="let status of api.statusList;" value="{{status.id}}">
              {{status.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="filter-date-item">
          <ion-label position="floating">Priority</ion-label>
          <ion-select [(ngModel)]='searchParams.priority' name="priority">
            <ion-select-option *ngFor="let priority of api.priorityList;" value="{{priority.id}}">
              {{priority.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="filter-date-item">
          <ion-label position="floating">Created By</ion-label>
          <ion-select [(ngModel)]='searchParams.created_by' name="created_by">
            <ion-select-option *ngFor="let person of api.marketingPersonList;" value="{{person.id}}">
              {{person.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-row class="ion-margin-top">
          <ion-col class="ion-text-center">
            <ion-button color="medium" size="small" fill='outline' expand="block" (click)='resetSearchBox()'>
              Reset
            </ion-button>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-button size="small" type="block" expand="block" (click)='applySearch()'>
              Search
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <div class="ion-padding-horizontal" *ngIf="isSearchResults">
      <ion-item>
        <ion-label class="ion-padding-start">
          <h2>Searched Results:</h2>
          <p *ngIf="leadCount > 0">Total {{leadCount}} {{leadCount > 1 ? 'records' : 'record'}} found</p>
        </ion-label>
        <ion-button fill="clear" size="small" (click)="resetSearch()">Reset</ion-button>
      </ion-item>
    </div>

    <div class="ion-padding-horizontal" *ngIf="leadCount === 0">
      <ion-item>
        <ion-label class="ion-padding-start ion-text-center">No record found</ion-label>
      </ion-item>
    </div>

    <ion-list class="listing" *ngIf="leadLists">
      <ion-item-sliding *ngFor="let lead of leadLists; let i=index;" id="dr-custom-item-{{i}}">
        <ion-card>
          <ion-item class="item-box" lines="none">
            <div class="dr-date-f ion-text-center" slot="start">
              {{lead.title}}
            </div>
            <ion-label class="dr-sets">
              <ion-label>
                <div class="label">Priority:</div>
                <div class="text">{{lead.priority}}</div>
              </ion-label>
              <ion-label>
                <div class="label"> Contact Name:</div>
                <div class="text">{{lead.customer_name}}</div>
              </ion-label>
              <ion-label>
                <div class="label">Assigned To:</div>
                <div class="text">{{lead.assigned_to}}</div>
              </ion-label>
              <ion-label>
                <div class="label">Status:</div>
                <div class="text">{{lead.status}}</div>
              </ion-label>
              <ion-label>
                <div class="label">Created At:</div>
                <div class="text">{{lead.created_dt}}</div>
              </ion-label>
              <ion-label>
                <div class="label">Created By:</div>
                <div class="text">{{lead.created_by_name}}</div>
              </ion-label>
              <ion-label>
                <div class="label">
                  <ion-button color="secondary" routerLink='/convert-lead/{{lead.customer_id}}/{{lead.id}}'>
                    Edit Lead
                  </ion-button>
                </div>
                <div class="text">
                  <ion-button color="primary" routerLink='/leads-detail/{{lead.id}}'>
                    View Lead
                  </ion-button>
                </div>
              </ion-label>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-item-sliding>
    </ion-list>
  </div>

</ion-content>