 <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/package-screen"></ion-back-button>
    </ion-buttons>
    <ion-title>Gold</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding create-account">
  <h4 class="heading">Gold Package</h4>
  <span class="small-text text-grey mb-10">Choose the your industry so that your followers can
    learn about your company.</span>
</ion-content>
