ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;
  margin-bottom: 18px;
  color: #757575;
  min-height: 26px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}


ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}
.menu-list{
  border-bottom: solid 1px rgba(0,0,0,.05);
  color: #73849a;
}
ion-menu.ios ion-note {
  margin-bottom: 8px;
  margin-top: 0px !important;
}
ion-menu.ios ion-list {
  padding: 0px;
}
ion-menu.ios ion-item.selected ion-label {
  color: blueviolet;
  font-weight: 600;
}
ion-icon {
  font-size: 30px;
  font-weight: 600;
  color: blueviolet;
  // margin-right: 1px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: blueviolet;
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
}

.sub-title-role,
.sub-title-city {
  display: block;
}

.sub-title-role {
  margin-top: 8px !important;
  margin-bottom: 0 !important;
}

img.user-logo {
  width: 64px;
  height: 60px;
  border: 1px solid #efefef;
  border-radius: 50%;
}
ion-list {
  &.user-info {
    display: flex;
    align-items: center;
    padding: 15px 10px !important;
    background-color: var(--ion-color-primary);

    ion-item::part(native) {
      padding: unset;
    }
    .user-logo {
      border: solid 2px #fff;
      width: 60px;
      height: 60px;
      border-radius: 5px;
      margin-right: 15px;
      img {
        border-radius: 4px;
        margin: 0;
      }
    }
    ion-item {
      width: 70%;
      --background: transparent;
      --border-width: 0px;
      &::part(native) {
        --inner-padding-end: 0px;
        --padding-end: 0em;
        --border-width: 0px;
        --inner-border-width: 0px;
      }
      .user-name {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        color: #fff;
      }
      .sub-title-role,
      .sub-title-city {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 16px;
        color: #fff;
        margin-top: 0px;
      }
    }
  }
}
.menu-list {
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}
ion-menu.ios ion-note {
  margin-bottom: 8px;
  margin-top: 0px !important;
}
ion-menu.ios ion-list {
  padding: 0px;
}
ion-menu.ios ion-item.selected ion-label {
  color: blueviolet;
  font-weight: 600;
}

.active {
  --ion-text-color:blueviolet;
  ion-icon {
    --ion-text-color-rbg: blueviolet;
  }
}

// ion-menu ion-content {
//   --background: var(--ion-item-background, var(--ion-background-color, #fff));
// }

// ion-menu.md ion-content {
//   --padding-start: 8px;
//   --padding-end: 8px;
//   --padding-top: 20px;
//   --padding-bottom: 20px;
// }

// ion-menu.md ion-list {
//   padding: 20px 0;
// }

// ion-menu.md ion-note {
//   margin-bottom: 30px;
// }

// ion-menu.md ion-list-header,
// ion-menu.md ion-note {
//   padding-left: 10px;
// }

// ion-menu.md ion-list#inbox-list {
//   border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
// }

// ion-menu.md ion-list#inbox-list ion-list-header {
//   font-size: 22px;
//   font-weight: 600;
//   min-height: 20px;
// }

// ion-menu.md ion-list#labels-list ion-list-header {
//   font-size: 16px;
//   margin-bottom: 18px;
//   min-height: 26px;
// }

// ion-menu.md ion-item {
//   --padding-start: 10px;
//   --padding-end: 10px;
//   border-radius: 4px;
// }



// ion-menu.md ion-item.selected ion-icon {
//   color: var(--ion-color-primary);
// }

// ion-menu.md ion-item ion-label {
//   font-weight: 500;
// }

// ion-menu.ios ion-content {
//   --padding-bottom: 20px;
// }

// ion-menu.ios ion-list {
//   padding: 20px 0 0 0;
// }

// ion-menu.ios ion-note {
//   line-height: 24px;
//   margin-bottom: 20px;
// }

// ion-menu.ios ion-item {
//   --padding-start: 16px;
//   --padding-end: 16px;
//   --min-height: 50px;
// }

// ion-menu.ios ion-item.selected ion-icon {
//   color: var(--ion-color-primary);
// }

// ion-menu.ios ion-item ion-icon {
//   font-size: 24px;
// }

// .sub-title-role,
// .sub-title-city {
//   display: block;
// }

// .sub-title-role {
//   margin-top: 8px !important;
//   margin-bottom: 0 !important;
// }

// img.user-logo {
//   width: 64px;
//   height: 60px;
//   border: 1px solid #efefef;
//   border-radius: 50%;
// }
// ion-list {
//   &.user-info {
//     display: flex;
//     align-items: center;
//     padding: 15px 10px !important;
//     background-color: var(--ion-color-primary);

//     ion-item::part(native) {
//       padding: unset;
//     }
//     .user-logo {
//       border: solid 2px #fff;
//       width: 60px;
//       height: 60px;
//       border-radius: 5px;
//       margin-right: 15px;
//       img {
//         border-radius: 4px;
//         margin: 0;
//       }
//     }
//     ion-item {
//       width: 70%;
//       --background: transparent;
//       --border-width: 0px;
//       &::part(native) {
//         --inner-padding-end: 0px;
//         --padding-end: 0em;
//         --border-width: 0px;
//         --inner-border-width: 0px;
//       }
//       .user-name {
//         font-size: 18px;
//         font-weight: 500;
//         letter-spacing: 1px;
//         color: #fff;
//       }
//       .sub-title-role,
//       .sub-title-city {
//         font-size: 14px;
//         font-weight: 300;
//         letter-spacing: 1px;
//         line-height: 16px;
//         color: #fff;
//         margin-top: 0px;
//       }
//     }
//   }
// }
// .menu-list {
//   border-bottom: solid 1px rgba(0, 0, 0, 0.05);
// }
// ion-menu.ios ion-note {
//   margin-bottom: 8px;
//   margin-top: 0px !important;
// }
// ion-menu.ios ion-list {
//   padding: 0px;
// }
// ion-menu.ios ion-item.selected ion-label {
//   color: var(--ion-color-primary);
//   font-weight: 600;
// }

// .active {
//   --ion-text-color: var(--ion-color-primary);
//   ion-icon {
//     --ion-text-color-rbg: var(--ion-color-primary);
//   }
// }
// .active-parent {
//   font-weight: 500;
// }
// .sub-item {
//   padding-left: 20px;
//   font-size: small;
// }
