<ion-app>
  <ion-menu class="icon-menuTheme" side="start" menuId="first" contentId="main-content">
    <ion-content>
      <ion-list>
        <div class="user-profile bg-gradient"> 
            <div class="card-body">
              <div class="user-avatar">
                <img [src]="api.userPicture" alt="image">
              </div>
              <div class="user-details">
                <h6>{{api.userName}} </h6>
                <div class="small-text">
                  {{api.mobile_number}}
                </div>
                <div class="small-text">
                  {{api.userTypeName}}
                </div>
              </div>
            
            </div> 
            <ion-img class="bg-shap" src="../../../../assets/new-image/menu-shap.svg"></ion-img>
        </div>
      </ion-list>

          <div *ngFor="let p of appPages">
            <ion-menu-toggle *ngIf="p.url">
              <ion-item [routerLink]="p.url" routerDirection="root" routerLinkActive="active">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>

          </div>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" lines="none" detail="false" (click)="confirmLogout()">
              <ion-icon slot="start" [ios]="'log-out-outline'" [md]="'log-out-sharp'"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>

<!-- 
          <div *ngFor="let p of appPages1">
            <ion-menu-toggle *ngIf="p.url">
              <ion-item [routerLink]="p.url" routerDirection="root" routerLinkActive="active">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>


          </div>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" lines="none" detail="false" (click)="confirmLogout()">
              <ion-icon slot="start" [ios]="'log-out-outline'" [md]="'log-out-sharp'"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle> -->

          <!-- <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" lines="none" detail="false" (click)="confirmLogout()">
              <ion-icon slot="start" [ios]="'log-out-outline'" [md]="'log-out-sharp'"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle> -->

      </ion-content>

      <ion-footer *ngIf="deviceInfo && deviceInfo.versionNumber">
        <ion-item>
          <ion-label>Version: {{deviceInfo.versionNumber}}</ion-label>
        </ion-item>
      </ion-footer>

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>





<!-- <ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
          <ion-list class="user-info" color="primary">

            <ion-avatar slot="start" *ngIf="api.userPicture">
              <img [src]="api.userPicture" onerror="this.src='assets/img/dashboard/avatar.png';" alt="img">
            </ion-avatar>

            <ion-item>
              <ion-row class="mb-2 ">
              <ion-col class="ion-no-padding" size="12"> <ion-note class="user-name">{{api.userName}}</ion-note></ion-col>
              <ion-col class="ion-no-padding" size="12"><ion-note class="sub-title-role">{{api.userRole}}</ion-note></ion-col>
              <ion-col class="ion-no-padding" size="12"> <ion-note class="sub-title-city">{{api.email}}</ion-note></ion-col>
            </ion-row>
            </ion-item>
          </ion-list> -->
<!-- Main Menu Start-->
<!-- <ion-list id="inbox-list" lines="none">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of api.appMenuPages; let i = index">
            <ion-item class="menu-list" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item  class="logout" routerDirection="root" lines="none" detail="false" (click)="confirmLogout()">
              <ion-icon slot="start" [ios]="'log-out-outline'" [md]="'log-out-sharp'"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list> -->
<!-- Main Menu End-->
<!-- </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app> -->