 <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/seller-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-grey">
  <ion-list class="card-listing">
    <ion-item  *ngFor="let setting of settingdata">
      <ion-label>{{setting.setting_name}}</ion-label>
      <ion-toggle slot="end"  type="number" [(ngModel)]="setting.set_value"  (click)="submitStatus(setting.setting_id,setting.set_value)" name="setting"  color="primary" checked></ion-toggle>    
      <!-- [checked]="setting.set_value === 1" -->
    </ion-item>
  </ion-list>
  <!-- <ion-list class="card-listing"> -->

    <!-- <ion-item  *ngFor="let setting of settingdata">
      <ion-label>{{setting.setting_name}}</ion-label>
      <ion-toggle slot="end" [(ngModel)]="isToggled" (ionChange)="submitStatus(setting.id)" type="number"  name="setting"  color="primary" checked></ion-toggle>    
    </ion-item> -->
    <!-- <ion-item>
      <ion-label>{{setting.setting_name}}</ion-label>
      <ion-toggle slot="end" [(ngModel)]="isToggled" (ionChange)="submitStatus(setting.id)" type="number"  name="PushNotification" color="primary" checked></ion-toggle>    
    </ion-item> -->
    <!-- <ion-item>
      <ion-label>{{settingdata[2]}}</ion-label>
      <ion-toggle slot="end"   type="boolean" name="PushNotification" color="primary" checked></ion-toggle>    
    </ion-item> -->
    <!-- <ion-item>
      <ion-label>Today's Price List Display to End User</ion-label>
      <ion-toggle slot="end" name="Today's Price List Display to End User" color="primary" ></ion-toggle>    
    </ion-item> -->

  <!-- </ion-list> -->
</ion-content>

