 <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/dashboard-buyer"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-grey">
  <ion-list class="card-listing">
    <ion-item>
      <ion-label>Push Notification</ion-label>
      <ion-toggle slot="end" name="PushNotification" color="primary" checked></ion-toggle>    
    </ion-item>
    <ion-item>
      <ion-label>Today's Price List Display to End User</ion-label>
      <ion-toggle slot="end" name="Today's Price List Display to End User" color="primary" ></ion-toggle>    
    </ion-item>
  </ion-list>
</ion-content>
