 <ion-header class="theme-Header" translucent>
  <ion-toolbar >
    <div class="d-flex justify-between w-100">
      <ion-buttons slot="start">
        <ion-back-button color="white" defaultHref="/my-product"></ion-back-button>
      </ion-buttons>
      <ion-title>Add Category</ion-title>
      <routerlink routerLink="/dashboard" class="cancel">Cancel</routerlink>
    </div>
  </ion-toolbar>
  </ion-header>
<ion-content class="ion-padding create-account"> 
  <div class="ion-padding">
    <h4 class="heading">Select Category For Products! </h4>
      </div>
    <form #followUpForm="ngForm" enctype="multipart/form-data" novalidate>
      <ion-item lines="full">
        <ion-label position="stacked">Category<span class="text-danger">*</span></ion-label> 
        <ion-select placeholder="Choose Category" [(ngModel)]='addcategory.categoryList' [interfaceOptions]="customActionSubTypeOptions"
          interface="action-sheet" name="category" #category="ngModel" required (ionChange)="changeSubType($event)">
          <ion-select-option *ngFor="let category of api.categoryList" value="{{category.id}}">
            {{category.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </form>
</ion-content>
<ion-footer>
  <ion-button class="btn-bottom btn-theme" (click)="submitFollowUp(followUpForm)">Submit</ion-button>
</ion-footer>  





