 <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/view-order-history"></ion-back-button>
    </ion-buttons>
    <ion-title>Seller Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="profile bg-grey ">
  <div class="user-profile" *ngIf="data">
    <div class="card">
      <div class="card-body">
        <!-- <div class="user-avatar">
          <img [src]="data.userPicture" alt="image">
        </div> -->
        <div class="user-details">
          <h6>{{data.orders_from}} </h6>
          <div class="small-text">
            {{data.orders_from_mobile}}
          </div>
          <div class="small-text">
            {{data.orders_from_email}}
          </div>
        </div>
        <div>
          <ion-button  shap="round" class="btn-outline-defualt"  (click)="submitStatus(data.id)">Follow</ion-button>
        </div>
      </div>
    </div>
  </div>

  <ion-list *ngIf="data">
    <div class="ion-header">
      <h4 class="heading">Personal info</h4>
    </div>
    <ion-item>
      <ion-grid class="profileInfo">
        <ion-row>
          <ion-col size="6"> 
           <span class="labelInfo">Full Name:-</span>
          </ion-col>
          <ion-col size="6"> 
            <span class="label">{{data.orders_from}} </span>
          </ion-col> 
        </ion-row> 
        <ion-row>
          <ion-col size="6"> 
           <span class="labelInfo">Email Address:-</span>
          </ion-col>
          <ion-col size="6"> 
            <span class="label">{{data.orders_from_email}} </span>
          </ion-col> 
        </ion-row>  
        <ion-row>
          <ion-col size="6"> 
           <span class="labelInfo">Mobile No:- </span>
          </ion-col>
          <ion-col size="6"> 
            <span class="label">{{data.orders_from_mobile}}</span>
          </ion-col> 
        </ion-row> 
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-list>
    <div class="ion-header">
      <h4 class="heading">Address Info</h4>
    </div>
    <ion-item *ngIf="data">
      <ion-grid class="addressInfo">
        <ion-row> 
          <ion-col class="d-flex align-start" size="12"> 
            <div class="icon">
                <ion-icon src="../../../../assets/new-image/icon-pin.svg"></ion-icon>
            </div>
            <div class="w-80">
              <span class="label">{{data.orders_from_address}} {{data.orders_from_area}}</span>
            </div>
          </ion-col> 
        </ion-row>   
       
        <ion-row> 
          <ion-col class="d-flex align-center" size="12"> 
            <div class="icon">
                <ion-icon src="../../../../assets/new-image/icon-mail.svg"></ion-icon>
            </div>
            <div class="w-80">
              <span class="label">{{data.orders_from_email}}</span> 
            </div>
          </ion-col> 
        </ion-row>   
        <ion-row> 
          <ion-col class="d-flex align-center" size="12"> 
            <div class="icon">
                <ion-icon src="../../../../assets/new-image/icon-phone.svg"></ion-icon>
            </div>
            <div class="w-80">
              <span class="label">{{data.orders_from_mobile}}</span> 
            </div>
          </ion-col> 
        </ion-row>   
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
