 <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/address-info-screen"></ion-back-button>
    </ion-buttons>
    <ion-title>Contact Info</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding create-account">
  <div class="customForm-progress">
    <ion-progress-bar color="primary" value="1"></ion-progress-bar>
    <div class="step-text">Step <span class="f-600 text-theme">6</span> of 6</div>
  </div>
  <h4 class="heading">Your contact details</h4>
  <span class="small-text text-grey mb-10">Please set up your contact so that others can get 
    to know you</span>
    <form #loginForm="ngForm" novalidate>
      <ion-item>
        <ion-label position="stacked">Phone No. <span class="text-danger">*</span></ion-label>  
        <ion-input type="number" placeholder="Type number"></ion-input>  
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">Mobile No. <span class="text-danger">*</span></ion-label>  
        <ion-input type="number" placeholder="Type number"></ion-input>  
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">WhatsApp No. <span class="text-danger">*</span></ion-label>  
        <ion-input type="number" placeholder="Type number"></ion-input>  
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">Email address <span class="text-danger">*</span></ion-label>  
        <ion-input type="email" placeholder="Type email address"></ion-input>  
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">Website<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type website"></ion-input>  
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">Date of Establish<span class="text-danger">*</span></ion-label>  
        <div class="icon w-100">
          <ion-datetime value="2012-12-15T13:47:20.789"></ion-datetime>
          <button class="icons">
            <ion-icon name="calendar"></ion-icon>
          </button>
        </div>
      
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">GST No.<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type GST number"></ion-input>  
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">PAN No.<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type PAN number"></ion-input>  
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Adhar No.<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type adhar number"></ion-input>  
      </ion-item>
    </form>
</ion-content>
<ion-footer>
  <ion-button class="btn-bottom btn-theme" routerLink="/dashboard-buyer">Confirm</ion-button>
</ion-footer>  

