

.product-list{
  ion-card {
      margin: 15px 16px; 
    &:first-child{
        margin-top: 10px;
    }
      ion-card-content {
          padding: 10px;
          display: flex;

          .productImage {
              border-radius: 15px;
              width: 100px;
              height: 95px;
              overflow: hidden;

              img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
              }
          }

          .product-des {
              padding-left: 1rem;
              width: 70%;
              display: inline-flex;
              flex-flow: column;

              .productName {
                  font-weight: 600;
                  font-size: 18px;
                  line-height: 20px;
                  letter-spacing: -0.01em;
                  color: #000000;
                  margin: 0px;
              } 
              .small-text {
                  font-size: 14px;
                  line-height: 22px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
              }
              .listing{
                 margin: 0;
                 padding: 0;                  
                 li{
                     display: flex;
                     align-items: center;
                     list-style: inherit; 
                     ion-icon{
                         font-size: 20px;
                         margin-right: 5px;
                         color: var(--theme-color); 
                     }
                     span{
                         font-size: 15px;
                         line-height: 22px;
                         color: #212121;
                         font-weight: 500;
                     }
                 }
              }
          }
      }

      .ion-card-footer { 
          width: 100%;
          display: inline-flex;
          border-top: solid 1px rgba($color: #000000, $alpha: 0.16);
          justify-content: space-between;
          padding: 8px 10px;
          align-items: center;
          .price{
            font-size: 20px;
            font-weight: 700;
            color: var(--theme-color);
            letter-spacing: -0.5px;
             span{
                 font-size: 14px;
                 text-transform: uppercase;
                 font-weight: 500;
             }
          }
          ion-button{    
             margin: 0px;
             text-transform: inherit;
             font-size: 15px;
             --padding-start: 12px;
             --padding-end: 12px;
             height: 2.5em;
             --box-shadow: 0px 1px 7px rgba(157, 88, 204, 0.44);
             ion-icon{
                 margin-left: 5px;
                 font-size: 20px;
                 margin-top: 3px;
             }
          }
      }
  }
 } 
 .location{
    padding: 8px 0px 8px 10px;
    background: #fff;
    border-bottom: solid 1px #ddd;
    .list{
        padding: 5px 0px;
        background: rgba(110, 65, 190, 0.15);
        color: var(--theme-color);
        border-radius: 15px;
        font-size: 14px;
        width: 100%;
        white-space: nowrap;
        font-weight: 500;
        margin: 0px 3px;
        &.active{
            background: var(--theme-color);
            color: #fff;
        } 
    }
}
.search-ion-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px 10px;
    background-color: #fff;
    box-shadow:inherit;
    border-top: solid 1px #ddd;
    z-index: 2;
    ion-button{
        border-radius: 50px;
        width: 50%;
        margin: 0px;
        --box-shadow: 0px 1px 7px rgba(157, 88, 204, 0.44);
        height: 2.7em;
        --padding-start: 22px;
        --padding-end: 22px;
        &:first-child{
          
            margin-right: 10px;
            ion-icon{
                margin-right: 5px;
                margin-top: 0;
                font-size: 22px;
            }
        }
        &:last-child{
         
            ion-icon{
                margin-left: 5px; 
                    font-size: 20px;
                    margin-top: 3px; 
            }
        }
      
    }
}