 <ion-header class="theme-Header" translucent>
  <ion-toolbar >
    <div class="d-flex justify-between w-100">
      <ion-buttons slot="start">
        <ion-back-button color="white" defaultHref="/product-screen"></ion-back-button>
      </ion-buttons>
      <ion-title>Price Update</ion-title>
      <routerlink routerLink="/product-screen" class="cancel">Cancel</routerlink>
    </div>
  </ion-toolbar>
  
</ion-header>
<ion-content class="ion-padding create-account"> 
    <form #loginForm="ngForm" novalidate>
      <ion-item>
        <ion-label position="stacked">Product Code</ion-label>  
        <ion-input type="text" placeholder="Type product code"  value="Pro-12345" disabled></ion-input>  
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Product Name<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type product name"  value="Alluminium lorem ipsum Rolles" disabled></ion-input>  
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Price<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type price" value="₹19,006" disabled></ion-input>  
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">New Price<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type new price"></ion-input>  
      </ion-item> 
    </form>
</ion-content>
<ion-footer>
  <ion-button class="btn-bottom btn-theme" routerLink="/product-screen">Submit</ion-button>
</ion-footer>  

