 <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/order-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Order Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-grey ion-padding">
  <ion-list>
    <ion-item *ngIf="data">
      <div class="d-flex align-center">
        <h4 class="label">Order ID:</h4>
        <span class="label-view">{{data.id}}</span>
      </div>
    </ion-item>
    <ion-item class="card-listing" *ngIf="data">
      <ion-card-content>
        <div class="productImage" routerLink="/view-product-detail/{{data.id}}">
          <img [src]="data.product_pic" onerror="this.src='assets/img/dashboard/product.png';" alt="img">
        </div>
        <div class="product-des">
          <h3 class="productName">{{data.product_name}}</h3>
          <span class="small-text">{{data.remarks}}</span>
          <div class="d-flex justify-between align-center">
            <div class="w-50">
              <span class="price" routerLink='/view-user-detail/{{data.id}}'>{{data.orders_from}}</span>
            </div>
            <div class="w-50">
              <span class="text-small">QTY: <b class="text-dark">{{data.order_qty}}</b></span>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-item>
  </ion-list>
  <ion-list class="price" *ngIf="data">
    <div class="ion-header">
      Seller Details
    </div>
    <ion-item>
      <div class="d-flex align-center w-100 justify-between">
        <span class="label-view">Order From</span>
        <span class="price-label">{{data.orders_from}}</span>
      </div>
    </ion-item>
    <ion-item>
      <div class="d-flex align-center w-100 justify-between">
        <span class="label-view">Email</span>
        <span class="price-label">{{data.orders_from_email}}</span>
      </div>
    </ion-item>
    <ion-item>
      <div class="d-flex align-center w-100 justify-between">
        <span class="label-view">Mobile No</span>
        <span class="price-label">{{data.orders_from_mobile}}</span>
      </div>
    </ion-item>
    <!-- <ion-item>
        <div class="d-flex align-center w-100 justify-between">
          <span class="label-view">Shipping Fee</span>
          <span class="price-label">{{data.orders_from_email}}</span>
        </div>
      </ion-item> -->
    <!-- <ion-item>
        <div class="d-flex align-center w-100 justify-between">
          <h4 class="label">Total Amount</h4> 
          <span class="price-label f-600">₹18,106</span> 
        </div>
      </ion-item> -->
  </ion-list>
  <ion-list class="price" *ngIf="data">
    <div class="ion-header">
      Order Details
    </div>
    <ion-item>
      <div class="d-flex align-center w-100 justify-between">
        <span class="label-view">Product Id</span>
        <span class="price-label">{{data.id}}</span>
      </div>
    </ion-item>
    <ion-item>
      <div class="d-flex align-center w-100 justify-between">
        <span class="label-view">Product Name</span>
        <span class="price-label">{{data.product_name}}</span>
      </div>
    </ion-item>
    <ion-item>
      <div class="d-flex align-center w-100 justify-between">
        <span class="label-view">Description</span>
        <span class="price-label">{{data.product_description}}</span>
      </div>
    </ion-item>
  </ion-list>
  <ion-list class="price" *ngIf="data">
    <div *ngIf="data.status===1">
      <ion-list class="price" *ngIf="data">
        <div class="ion-header">
          Order Status
        </div>  
          
            <form class="listing bg-theme-grey" #createLeadForm="ngForm" novalidate>
              <ion-item>
                <ion-label position="stacked">Status<span class="text-danger">*</span></ion-label>
                <ion-select  class="status" placeholder="Choose status"
                  [(ngModel)]='addstatus.statusList' [interfaceOptions]="customActionSubTypeOptions"
                  interface="action-sheet" name="category" #statusList="ngModel" required
                  (ionChange)="changeSubType($event)">
                  <ion-select-option *ngFor="let status of api.statusList" value="{{status.id}}">
                    {{status.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Comments<span class="text-danger">*</span></ion-label>
                <ion-textarea  type="text" placeholder="Enter Comments"
                  [(ngModel)]="addstatus.status_update_remarks" rows="3" name="status_update_remarks"></ion-textarea>
              </ion-item>
              <ion-item>
              <ion-button ng-model="myVar"   class="btn-theme btn-md"  (click)="bloquear = true"
                 block [disabled]="bloquear"  (click)="submitFollowUp(createLeadForm)">Add

              </ion-button>
            </ion-item>
            </form>
        
      </ion-list>
    </div>
    <div *ngIf="data.status===2">
      <ion-list class="price" *ngIf="data">
        <div class="ion-header">
          Order Status
        </div>
        <ion-item>
          <div class="d-flex align-center w-100 justify-between">
            <span class="label-view">Status</span>
            <span class="price-label">
              <ion-icon name="checkmark-circle" style="color: green; font-size: 25px;"></ion-icon>{{data.status_name}}
            </span>
          </div>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="data.status===3">
      <ion-list class="price" *ngIf="data">
        <div class="ion-header">
          Order Status
        </div>
        <ion-item>
          <div class="d-flex align-center w-100 justify-between">
            <span class="label-view">Status</span>
            <span class="price-label">
              <ion-icon name="ban" style="color: red; font-size: 25px;"></ion-icon>{{data.status_name}}
            </span>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-list>

</ion-content>