 <ion-header class="theme-Header" translucent>
  <ion-toolbar >
    <div class="d-flex justify-between w-100">
      <ion-buttons slot="start">
        <ion-back-button color="white" defaultHref="/support-page"></ion-back-button>
      </ion-buttons>
      <ion-title>Add Ticket</ion-title>
      <routerlink routerLink="/seller-dashboard" class="cancel">Cancel</routerlink>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-grey "> 
  <ion-list class="card-listing ion-padding ">
    <form #TicketForm="ngForm" novalidate>
      <ion-item>
        <ion-label position="stacked">Type<span class="text-danger">*</span></ion-label>  
        <ion-select placeholder="Choose Type"
          [(ngModel)]="supportTicket"
          [interfaceOptions]="customActionCommonOptions"
          interface="action-sheet"
          name="supportTicketType"
          #supportTicketType="ngModel"
          required
          (ionChange)="changeSubType($event)"
        >
          <ion-select-option
            *ngFor="let unit of api.supportTicketType"
            value="{{unit.id}}"
          >
            {{unit.name}}
          </ion-select-option>
        </ion-select>
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">Descrption<span class="text-danger">*</span></ion-label>  
        <ion-textarea type="text" rows="4" cols="10" placeholder="Enter Description"  [(ngModel)]="description" name="description"></ion-textarea>   
      </ion-item>  
      <ion-item>
        <ion-label position="stacked">Image<span class="text-danger">*</span>
        </ion-label> 
        <div class="d-flex align-center">   
          <ion-avatar class="image-upload" slot="start" *ngIf="profile_pic_preview">
            <ion-img
              [src]="profile_pic_preview"
              (click)="previewImage(1)"
            ></ion-img>
          </ion-avatar>
          <div class="upload-btn-wrapper ">
            <ion-button class="btn-theme">Upload Image</ion-button>
              <input type="file" [(ngModel)]='galleryFile' name="galleryFile" (change)="onFileChange($event)"
              accept="{{acceptableExtensions}}" required/> 
          </div>
        </div>
      </ion-item>    
    </form>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button class="btn-bottom btn-theme" (click)="submitTicket(TicketForm)">Submit</ion-button>
</ion-footer>  


 


