ion-content{
  --ion-background-color:#ccc;
}
ion-card{
  --ion-background-color:#FFFFFF;
  margin: 10px;
}
.icard{
  margin: 0px;
}
.card-margin{
  margin: 10px;
}
ion-header{
  --ion-background-color:teal;
}
.button{
  --background:teal;
}
ion-title{
  color: white;
}
.style{
  border-bottom: 1px solid;
}
ul{
  list-style-type: disc;
}
.style1 {
  font-size: 1em;
  // color: #fff;
  // background-color:#555;

  border-bottom: 1px solid;

  margin-bottom: 5px;
}
.row{
  border-right: 1px solid;
  font-weight: bold;
}
.right{
  float: right;
}
.head{
  font-weight: bold;
  font-size: 15px;
  color: black;
  margin-bottom: 10px;
}
.price-button{
  color: honeydew;
  background-color: darkslategrey;
  border-style: solid;
  border-radius: 30px;
  border-width: 1px;
  height: 35px;
 padding-left: 140px;
}
.font{
font-weight: bold;
}
.brbtm {
border-bottom: 1px solid #efefef;
margin-bottom: 5px;
padding-bottom: 5px;
}

.brbtm:last-child {
border-bottom: none;
}

ion-item::part(native) {
padding: 0px;
}

// Header Section Start
.header {
border: 0px;
&:last-of-type {
  --border-color: rgb(255, 255, 255, 0.2);
}
.toolbar-container {
  padding: 0px;
}
ion-title {
  font-weight: 400;
}
}
// Header Section End
.bg-theme-grey {
background-color: #eff5ff;
padding: 10px 0px 30px 0px;
height: 100%;
}
.listing {
background-color: transparent;
}
ion-card {
-webkit-box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
margin: 0.5rem 1rem;
padding: 0px;
&::part(native) {
  --padding-start: 0em;
  --inner-padding-start: 0em;
  --inner-padding-end: 0em;
  --padding-end: 0em;
}
.dr-date-f {
  margin: 0;
  font-size: 18px;
  color: #fff;
  padding: 8px;
  background-color: #049292;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  top: -35px;
  width: 100%;
  margin-bottom: 15px;
}
ion-item {
  padding-top: 35px;
  overflow: inherit;
  ion-label {
    padding: 2px 5px;
    margin: 0;
    div {
      display: inline-block;
      width: 50%;
      &.label {
        font-size: 16px;
        color: #666;
      }
      &.text {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}
}

ion-item::part(native) {
--padding-end: 0px;
--inner-padding-end: 0px;
}

.filter-date-item {
padding-top: 0px !important;
}

.close-spn {
float: right;
margin-top: -12px;
}
