<ion-header>
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Buyer Inquiry Listing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="data == 0">
    <ion-label class="ion-text-center">No record found</ion-label>
  </ion-item>
  <ion-list class="listing" *ngIf="data">
    <ion-item-sliding *ngFor="let d of data; let i=index;" id="dr-custom-item-{{i}}">
      <ion-card>
        <ion-item class="item-box" lines="none">
          <div class="dr-date-f ion-text-center" slot="start">
            {{d.product_name}}
          </div>
          <ion-label class="dr-sets">
            <ion-label>
              <div class="label">Inquiry From::</div>
              <div class="text">{{d.inquiry_from}}</div>
            </ion-label>
            <ion-label>
              <div class="label"> Inquiry To:</div>
              <div class="text">{{d.inquiry_to}}</div>
            </ion-label>
            <ion-label>
              <div class="label">Created At:</div>
              <div class="text">{{d.created_at}}</div>
            </ion-label>
            <ion-label>
              <div class="label">Remark:</div>
              <div class="text">{{d.remarks}}</div>
            </ion-label>
            <ion-label>
              <div class="text">
                <ion-button color="primary" routerLink='/view-order-history/{{d.id}}'>
                  View 
                </ion-button>
              </div>
            </ion-label>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-item-sliding>
  </ion-list>

  <!-- <div *ngIf="data" class="bg-theme-grey">
    <ion-list>
  <ion-card>
        <ion-item class="item-box" lines="230px"  *ngFor="let d of data; let i=index;"
        id="dr-custom-item-{{i}}">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="font">Product Name:</ion-label>
            </ion-col>
            <ion-col>
              <ion-label>{{d.product_name}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="font">Inquiry From:</ion-label>
            </ion-col>
            <ion-col>
              <ion-label>{{d.inquiry_from}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="font">Remarks:</ion-label>
            </ion-col>
            <ion-col>
              <ion-label>{{d.remarks}}</ion-label>
            </ion-col>
          </ion-row>
        <ion-row>
        <ion-col>
          <ion-buttons class="price-button" (click)="condirmRemoveDailyReport(d.id)">
          <ion-icon name="trash"></ion-icon>Delete
          </ion-buttons>
        </ion-col>
        </ion-row>
       </ion-grid>
  </ion-item>
  </ion-card>
  </ion-list>
  </div> -->
</ion-content>
