<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/daily-report'></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">{{pageTitle}} Daily Report
      <div *ngIf="employeeName" class="small-text ion-text-center">{{employeeName}}</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item lines="full" class="top-header ion-text-uppercase">
    <ion-label class="ion-padding-start">Emp Code: {{employeeCode}} </ion-label>
    <div slot="end">
      <ion-icon class="date-edit-icon icon" name="create-outline"></ion-icon>
      <ion-datetime class="date-input" displayFormat="DD-MMM-YYYY" [(ngModel)]="reportDate"></ion-datetime>
    </div>
  </ion-item>

  <form class="listing bg-theme-grey" #dailyReportForm="ngForm">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Overtime</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-row>

          <ion-col class="ptb-0" size="4">
            <div class="label">In Time</div>
            <div class="icon">
              <input type="text" class="from-control" placeholder="{{dailyReport?.in_time}}" disabled>
              <ion-icon name="time"></ion-icon>
            </div>

          </ion-col>

          <ion-col class="ptb-0" size="4">
            <div class="label">Out Time</div>
            <div class="icon">
              <input type="text" class="from-control" placeholder="{{dailyReport?.out_time}}" disabled>
              <ion-icon name="time"></ion-icon>
            </div>

          </ion-col>

          <ion-col class="ptb-0" size="4">
            <div class="label">Hr</div>
            <div class="icon">
              <input type="text" class="from-control" placeholder="{{dailyReport?.net_time}}" disabled>
              <ion-icon name="time"></ion-icon>
            </div>

          </ion-col>

        </ion-row>
      </ion-card-content>

    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <span> Work Details</span>
          <ion-button class="ion-button-small" size="small" (click)="addWorkDetails()">
            <ion-icon name="add"></ion-icon> Add
          </ion-button>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label class="label">Site Name</ion-label>
        <div id="work-details-container">
          <ion-item-sliding class="mb-2" *ngFor="let workDetail of workDetails; let i = index;" id="wd-item-{{i}}">
            <ion-item class="ion-no-padding" lines="none">
              <input type="text" class="from-control" [(ngModel)]="workDetail.name" name="task_name_{{i}}">
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option class="remove" color="danger" (click)="removeWorkDetail(i)">
                <ion-icon name='trash'></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <span class="label"> Petrol Details</span>
          <ion-button class="btn-add-petrol-details" size="small" (click)="addPetrolDetails()">
            <ion-icon name="add"></ion-icon> Add
          </ion-button>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item-sliding class="mb-2" *ngFor="let petrolDetail of petrolDetails; let i = index;" id="pd-item-{{i}}">
          <ion-item class="ion-no-padding" lines="none">
            <ion-row>
              <ion-col class="ptb-0" size="4.5">
                <ion-label class="label">From</ion-label>
                <div>
                  <input type="text" class="from-control" [(ngModel)]="petrolDetail.from" name="from_{{i}}">
                </div>
              </ion-col>

              <ion-col class="ptb-0" size="4.5">
                <ion-label class="label">To</ion-label>
                <div>
                  <input type="text" class="from-control" [(ngModel)]="petrolDetail.to" name="to_{{i}}">
                </div>
              </ion-col>

              <ion-col class="ptb-0 ion-text-center" size="3">
                <ion-label class="label">KM</ion-label>
                <div>
                  <input type="number" class="from-control ion-text-center" [(ngModel)]="petrolDetail.km"
                    name="km_{{i}}">
                </div>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option class="remove" color="danger" (click)="removePetrolDetail(i)">
              <ion-icon name='trash'></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-label>Daily Expense</ion-label>
          <ion-button class="btn-add-expense-details" (click)="addDailyExpense()">
            <ion-icon name="add"></ion-icon> Add
          </ion-button>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item-sliding class="mb-2" *ngFor="let dailyExpense of dailyExpenses; let i = index;" id="de-item-{{i}}">
          <ion-item class="ion-no-padding" lines="none">
            <ion-row>
              <ion-col class="ptb-0" size="8">
                <ion-label class="label">Description</ion-label>
                <div>
                  <input type="text" class="from-control" [(ngModel)]="dailyExpense.description"
                    name="description_{{i}}">
                </div>
              </ion-col>
              <ion-col class="ptb-0" size="4">
                <ion-label class="label">Amount</ion-label>
                <div class="mb-2">
                  <input type="number" class="from-control petrol-amount" (keydown)="addExpenseAmount()"
                    (keyup)="addExpenseAmount()" [(ngModel)]="dailyExpense.amount" name="amount_{{i}}">
                </div>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option class="remove" color="danger" (click)="removeDailyExpense(i)">
              <ion-icon name='trash'></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-card-content>

      <ion-card-content *ngIf="dailyExpenses.length > 0" class="footer">
        <ion-row>
          <ion-col size='8' class="ion-text-right ptb-0">
            <h2 class="label">Total: </h2>
          </ion-col>
          <ion-col size='4' class="ion-text-center ptb-0">
            <h2 class="label f-bolc">{{expenseAmount}}</h2>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Inward Amount</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item class="ion-no-padding" lines="none">
          <ion-row>
            <ion-col class="ptb-0" size="8">
              <ion-label class="label">Description</ion-label>
              <div>
                <input type="text" class="from-control" name="inwardDescription"
                  [(ngModel)]="commonDetails.description">
              </div>
            </ion-col>

            <ion-col class="ptb-0" size="4">
              <ion-label class="label">Amount</ion-label>
              <div>
                <input type="number" class="from-control" name="inwardAmount" [(ngModel)]="commonDetails.amount">
              </div>
            </ion-col>

          </ion-row>
        </ion-item>

      </ion-card-content>

    </ion-card>

  </form>

</ion-content>

<ion-footer class="ion-no-margin ion-no-padding">
  <ion-row class="ion-no-margin ion-no-padding">
    <ion-col size="6" class="ion-no-margin ion-no-padding">
      <ion-button color="light" expand="full" (click)="backToDailyReports()">Cancel</ion-button>
    </ion-col>
    <ion-col size="6" class="ion-no-margin ion-no-padding">
      <ion-button color="primary" expand="full" (click)="submitDailyReport(dailyReportForm)">Submit</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>