<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/otp-page'></ion-back-button>
    </ion-buttons>
    <ion-title>User Selection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--  [(ngModel)]='followUpInfo.type' name="type" value="{{followUpInfo.type}}" required -->
  <form>
  <ion-radio-group>
    <ion-list-header>
      <ion-label >Type <font color="red">*</font>
      </ion-label>
    </ion-list-header>

    <ion-item *ngFor="let type of followUpTypes">
      <ion-label>{{type.name}}</ion-label>
      <ion-radio slot="start" value="{{type.id}}" ></ion-radio>
    </ion-item>
  </ion-radio-group>
  <ion-row>
    <ion-col class="ion-no-padding login-btn">
      <ion-button  color="primary" size="medium" type="login"
        expand="block" (click)="onsubmit()">Submit
      </ion-button>
    </ion-col>
  </ion-row>
</form>
</ion-content>
