<ion-content [fullscreen]="true" class="create-account">

  <div class="bannersSection bg-gradient">
    <div class="brand-logo">
      <ion-img src="../../../../assets/new-image/logo.svg"></ion-img>
    </div>
    <div class="bannerImage">
      <ion-img src="../../../../assets/new-image/create-account.svg"></ion-img>
    </div>
  </div>

  <div class="ion-padding">

    <h4 class="heading">Please check your SMS </h4>

    <span class="small-text text-grey mb-10">To continue, please enter an OTP we just sent to
      <ion-router-link color="primary" class="f-600" routerLink="/signup">
        {{mockedMobile}} (change)
      </ion-router-link>
    </span>

    <form #otpForm="ngForm" novalidate>
      <ion-item>
        <ion-label position="stacked" class="ion-text-right">{{displayMinute}}:{{displaySecond}}</ion-label>
        <div class="mobile-input">
          <!-- <ion-input type="numeric" placeholder="OTP" [(ngModel)]='inputOtp' name="inputOtp"
        [autofocus]="true" spellcheck="false" autocapitalize="off"  maxlength="6"  required></ion-input> 
          -->
          <ion-input type="number" [(ngModel)]='inputOtp' name="inputOtp" placeholder="Otp" [autofocus]="true" spellcheck="false" autocapitalize="off"  maxlength="6"  required ></ion-input>
        </div>
      </ion-item>
    </form>
  </div>

  <div>
    <span class="bottom-link">
      <ion-button  class="f-600 " *ngIf="!isResendEnable">Resend</ion-button>
      <ion-button  class="f-600" *ngIf="isResendEnable" (click)="resendOtp()">Resend</ion-button>

      <!-- <ion-router-link color="dark" class="f-600 grey-clr" *ngIf="!isResendEnable">Resend</ion-router-link>
      <ion-router-link color="dark" class="f-600" *ngIf="isResendEnable" (click)="resendOtp()">Resend</ion-router-link> -->
    </span>
  </div>

</ion-content>

<ion-footer>
  <ion-button class="btn-bottom btn-theme" (click)="submitOtp(otpForm)">Next</ion-button>
</ion-footer>