<ion-content class="create-account">
  <div class="bannersSection bg-gradient">
    <div class="brand-logo">
      <ion-img src="../../../../assets/new-image/logo.svg"></ion-img>
    </div>
    <div class="bannerImage">
      <ion-img src="../../../../assets/new-image/create-account.svg"></ion-img>
    </div>
  </div>
  <div class="ion-padding">
      <h4 class="heading">Login using your Mobile No </h4>
      <span class="small-text text-grey mb-10">Get Your Best Deal</span>
      <form #loginForm="ngForm" novalidate>
        <ion-item>
          <ion-label position="stacked">Mobile No <span class="text-danger">*</span></ion-label> 
          <ion-input type="numeric" placeholder="Enter Mobile No" [(ngModel)]="login.mobile_number" name="mobile_number"
          #mobile_number="ngModel" [autofocus]="true" spellcheck="false" autocapitalize="off" inputmode="numeric" maxlength="10"  required></ion-input> 
         
        </ion-item>
        <ion-text color="danger">
          <p class="error-hint" [hidden]="mobile_number.valid || submitted == false">Mobile No is
            required</p>
        </ion-text>
        <ion-item>
          <ion-label position="stacked">Password  <span class="text-danger">*</span></ion-label>  
          <div class="w-100 icon">
            <ion-input  type="{{passwordType}}" placeholder="Enter password " [(ngModel)]="login.password" name="password" type="password"
            #password="ngModel" required (keyup.enter)="onLogin(loginForm)" id="password"
            maxlength="15" autocomplete="off"></ion-input>  
            <button class="icons" (click)="togglePassword()">
              <ion-icon name="eye-outline" *ngIf="!showPassword"></ion-icon>
              <ion-icon name="eye-off-outline" *ngIf="showPassword"></ion-icon>
            </button>
          </div>
        </ion-item>
        <ion-text color="danger">
          <p class="error-hint" [hidden]="password.valid || submitted == false">Password is
            required</p>
        </ion-text>
  
        <ion-router-link color="dark" class="f-600 forgot" routerLink="/forgot-password">Forgot Password</ion-router-link> 
      </form>
      <span class="bottom-link">Don’t have an account ? <ion-router-link color="dark" class="f-600" routerLink="/signup">Create Account!</ion-router-link></span>
  </div>

</ion-content>
<ion-footer>
  <ion-button class="btn-bottom btn-theme" type="submit" (click)="onLogin(loginForm)">Login</ion-button>
</ion-footer>  


