.create-account{ 
    .ion-padding{
        padding-top: var(--ion-padding, 0px);
        padding-bottom: var(--ion-padding, 0px);
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-start: 0px;
        --padding-end: 0px;
    } 
    ion-item{
    
        &.item-label-stacked {
            ion-label,.label-stacked.sc-ion-label-ios-h,
            .label-stacked.sc-ion-label-md-h{
                text-align: right;
                font-size: 16px; 
            }
            .mobile-input{
                display: flex;
                width: 100%;              
                ion-input,
                .sc-ion-input-ios-h,
               .sc-ion-input-md-h{ 
                    --padding-top: 8px;
                    --padding-bottom: 8px;
                    --padding-start: 5px;
                    --padding-end: 5px; 
                    margin-right: 8px;
                    text-align: center;
                }
            }
            &.item-has-focus{
                ion-label{
                    color:#000;
                }
            }
        }
    }
}