<ion-content class="create-account">
  <div class="bannersSection bg-gradient">
    <div class="brand-logo">
      <ion-img src="../../../../assets/new-image/logo.svg"></ion-img>
    </div>
    <div class="bannerImage">
      <ion-img src="../../../../assets/new-image/create-account.svg"></ion-img>
    </div>
  </div>
  <div class="ion-padding">
      <h4 class="heading">Please check your SMS </h4>
      <span class="small-text text-grey mb-10">To continue, please enter 6-digit code in the SMS we 
        just sent to <ion-router-link color="primary" class="f-600" routerLink="/create-account">XXXXXX9098</ion-router-link></span>
      <form #loginForm="ngForm" novalidate>
        <ion-item>
          <ion-label position="stacked">2:03</ion-label> 
         <div class="mobile-input">
          <ion-input type="number" placeholder=""></ion-input> 
          <ion-input type="number" placeholder=""></ion-input> 
          <ion-input type="number" placeholder=""></ion-input> 
          <ion-input type="number" placeholder=""></ion-input> 
          <ion-input type="number" placeholder=""></ion-input> 
          <ion-input type="number" placeholder=""></ion-input> 
         </div>
        </ion-item>
      </form>
  </div>
<span class="bottom-link"><ion-router-link color="dark" class="f-600" routerLink="/create-account">Resend</ion-router-link></span>
</ion-content>
<ion-footer>
  <ion-button class="btn-bottom btn-theme" routerLink="/personal-info-screen">Next</ion-button>
</ion-footer>  
