<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!isBack"></ion-menu-button>
      <ion-back-button *ngIf="isBack"></ion-back-button>
    </ion-buttons>
    <ion-title>Attendance</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='openDateRangeFilters()'>
        <ion-icon [ios]="'calendar-outline'" [md]="'calendar-sharp'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngIf="isEnableSearchByDateRange">
    <ion-card-header>
      <ion-card-subtitle>Search by Date Range</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="filter-date-item">
        <ion-label stacked="floating">Start Date</ion-label>
        <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]='dInputStartDate' placeholder="DD MMM YYYY">
        </ion-datetime>
      </ion-item>

      <ion-item class="filter-date-item">
        <ion-label stacked="floating">End Date</ion-label>
        <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]='dInputEndDate' placeholder="DD MMM YYYY"></ion-datetime>
      </ion-item>

      <ion-row class="ion-margin-top">
        <ion-col class="ion-text-center">
          <ion-button color="medium" size="small" fill='outline' expand="block" (click)='cancelDateRangeFilters()'>
            Cancel</ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button size="small" type="block" expand="block" (click)='applyDateRangeFilters()'>Apply</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-list class="bg-theme-grey listing ion-no-padding">

    <ion-item class="item-box ion-padding-horizontal ion-margin-top">
      <ion-label class="ion-padding-start">
        <h2>Total Available Records - {{attendanceCount}}</h2>
        <p *ngIf="status">Filter : {{statusLabelName}}</p>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="attendanceCount == 0" class="ion-padding-horizontal">
      <ion-label class="ion-text-center">No record found</ion-label>
    </ion-item>

    <ion-card class="ion-no-padding" *ngFor="let attendance of attendanceList"
      (click)='openAttendaceDetail(attendance.id)'>

      <ion-item class="item-box" lines="none">
        <div class="dr-date-f ion-text-center" slot="start">
          <div class="drf-dday">{{attendance?.attendanceDayNum}}</div>
          <div class="drf-ddate">{{attendance?.attendanceMonth}}</div>
          <div class="drf-dyear">{{attendance?.attendanceYear}}</div>
        </div>
        <ion-label class="dr-sets">
          <ion-note class="dr-sets-note">Status: <span class="f-bold">{{attendance.status}}</span>
          </ion-note>
          <h2>
            &nbsp;
          </h2>
          <div class="dr-sets-c">
            <ion-row class="ion-text-center">
              <ion-col class="ion-text-left pt-0 pl-0">
                <ion-note class="label">In Time</ion-note>
                <p class="label-text">{{attendance?.inTime}}</p>
              </ion-col>
              <ion-col class="pt-0">
                <ion-note class="label">Out Time</ion-note>
                <p class="label-text">{{attendance?.outTime}}</p>
              </ion-col>
              <ion-col class="pt-0">
                <ion-note class="label">Net Hr</ion-note>
                <p class="label-text">{{attendance?.netHr}}</p>
              </ion-col>
            </ion-row>
          </div>
        </ion-label>

      </ion-item>

      <!--  <ion-row class="timeheader">
          <ion-col size="6">
            <div class="headerLabel">Net Hrs: <span class="f-bold" *ngIf="attendance.netHr">{{attendance.netHr}}</span></div>
          </ion-col>
          <ion-col size="6">
            <div class="ion-text-right headerLabel">Date: <span class="f-bold" *ngIf="attendance.attendanceDateFull">{{attendance.attendanceDateFull}}</span></div>
          </ion-col>
          <ion-col size="12" class="timers">
            <div class="atn-rows">
              <span>In Time</span>
              <span class="f-bold" *ngIf="attendance.inTime">{{attendance.inTime}}</span>
            </div>
            <div class="atn-rows">
              <span>Out Time</span>
              <span class="f-bold" *ngIf="attendance.outTime">{{attendance.outTime}}</span>
            </div>
            <div class="atn-rows">
              <span>Status</span>
              <span class="f-bold" *ngIf="attendance.status">{{attendance.status}}</span>
            </div>
          </ion-col>
        </ion-row>   -->
      <!-- <ion-row>
          <ion-col size="12">
            <div class="listin-inner">
              <span>Date</span>
              <ion-label *ngIf="attendance.created_at">{{attendance.created_at}}</ion-label>
            </div>
            <div class="listin-inner">
              <span>IN Time</span>
              <ion-label *ngIf="attendance.inTime">{{attendance.inTime}}</ion-label>
            </div>
            <div class="listin-inner">
              <span>OUT Time</span>
              <ion-label *ngIf="attendance.outTime">{{attendance.outTime}}</ion-label>
            </div>
            <div class="listin-inner">
              <span>Gross Hrs</span>
              <ion-label *ngIf="attendance.grossHr">{{attendance.grossHr}}</ion-label>
            </div>
            <div class="listin-inner">
              <span>Net Hrs</span>
              <ion-label *ngIf="attendance.netHr">{{attendance.netHr}}</ion-label>
            </div>
          </ion-col>
        </ion-row> -->
    </ion-card>
  </ion-list>

</ion-content>