ion-item::part(native) {
  padding: 0px;
}

// Header Section Start
ion-header {
  background-color: var(--ion-color-primary);
}
.header {
  // padding: 3px;
  border: 0px;
  &:last-of-type {
    --border-color: rgb(255, 255, 255, 0.2);
  }
  .toolbar-container {
    padding: 0px;
  }
  ion-title {
    font-weight: 400;
  }
}
// Header Section End
ion-content {
  --background: var(--ion-background-color, #eff5ff);
}
ion-list {
  &.listing {
    background-color: transparent;
    ion-card {
      -webkit-box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
      margin: 0.8rem 1rem;
      .dr-date-f {
        margin: 0;
        color: #fff;
        padding: 14px 8px;
        background-color: #049292;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        width: 90px;
        .drf-dday,
        .drf-dyear {
          font-size: 20px;
          line-height: 18px;
          font-weight: 400;
        }

        .drf-ddate {
          font-size: 19px;
          line-height: 24px;
          margin: 3px 0px;
        }
      }
      .dr-sets {
        margin: 0px;
        padding-top: 10px;
        padding-left: 10px;
        .name-line {
          font-size: 20px;
          color: #000;
          font-weight: 500;
          margin: 0;
          line-height: 20px;
        }
        .dr-sets-note {
          font-size: 15px;
          color: #666;
          font-weight: 400;
          .text-dark {
            color: #000;
          }
        }
        .label {
          color: #666;
        }
        .label,
        .label-text {
          font-size: 14px;
        }
        .pt-0 {
          padding-top: 0px;
        }
        .pl-0 {
          padding-left: 0px;
        }
      }
      ion-item {
        --padding-end: 0px;
        --inner-padding-end: 0px;
        // here other custom CSS from documentation
      }
    }
  }
}

.f-bold {
  font-weight: 600;
}

.timers {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  text-align: center;
}

.atn-rows {
  display: inline-block;
  margin-right: 20px;
}

.atn-rows span {
  display: block;
}
