.themeHeading {
    margin: 0.5rem 0rem;
    padding: 5px 15px;
}
.card-listing {
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    &.list-md{
        padding: 0px;
    }
    ion-item {
        --border-color: #ddd;
        --padding-start: 15px;
        align-items: flex-start; 
        --detail-icon-font-size: 22px;
        --detail-icon-opacity: 0;
        --inner-padding-top: 10px;
        --inner-padding-bottom: 10px;
    
        ion-card-content {
            padding: 0px;
            display: flex;
            align-items: center;
            width: 100%;

             .productImage {
                border-radius: 15px;
                width: 95px;
                height: 90px;
                background-size: cover !important;
                background-position: center !important;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                  object-fit: cover;
                }
            }
            .product-des {
                padding-left:.8rem;
                width: 70%;
                display: inline-flex;
                flex-flow: column;
                .productName {
                    font-weight: 600;
                    font-size: 17px;
                    line-height: 19px;
                    letter-spacing: -0.01em;
                    color: #000000;
                    margin: 0px;
                }
                .price {
                    font-size: 18px;
                    font-weight: 700;
                    color: var(--theme-color);
                }
                .small-text {
                    font-size: 14px;
                    line-height: 22px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-bottom: 5px;
                }
            }
        }
        .status {
            font-size: 14px;
            padding: 6px 10px 6px 6px;
            border-radius: 15px 0px 0px 15px;
            line-height: 14px;
            position: absolute;
            bottom: 8px;
            right: 0px;
            color: #fff;
            font-family: var(--f-Poppins);
            min-width: 95px;
            text-align: center;
        }
        .rightArrow{
            stroke: #777777;
            position: absolute;
            right: 5px;
            top: 15px;
            height: 15px;
        }
        &:last-child {
            --border-color: transparent;
        }
    }
}
