 <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <div class="d-flex justify-between w-100">
      <ion-buttons slot="start">
        <ion-back-button color="white" defaultHref="/seller-dashboard"></ion-back-button>
      </ion-buttons>
      <ion-title>FAQ</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-grey">
  <ion-accordion-group class="card-listing"  *ngFor="let d of product">
    <ion-accordion value="w1">
      <ion-item slot="header">
        <ion-label class="headers"><span class="number"></span>{{d.question}}</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-label>{{d.answer}}    
          </ion-label>
        </ion-item> 
      </ion-list>
    </ion-accordion> 
  </ion-accordion-group>
 
</ion-content>