.themeHeading {
    margin: 0.5rem 0rem;
    padding: 5px 15px;
}

.card-listing {

    margin: 10px 0px;

    ion-accordion {
        margin-bottom: 10px;
        border-bottom: solid 1px #ddd;
        border-top: solid 1px #ddd;

        ion-item {
            font-size: 14px;
        }

        &.accordion-expanded {
            ion-list {
                border-top: solid 1px #ddd;
            }
        }
    }

    ion-item {
        --border-color: transparent;
        --padding-start: 15px;
        --detail-icon-font-size: 0px;
        --inner-padding-top: 5px;
        --inner-padding-bottom: 5px;

        ion-label {
            font-size: 14px;
            color: #444;
            line-height: 20px;
            white-space: inherit;
            font-family: var(--f-Poppins);
            font-weight: 400;
            margin: 0;

            &.f-600 {
                font-weight: 600;
                text-align: right;
            }

            &.headers {
                font-size: 16px;
                font-weight: 600;
                color: #000;

                .number {
                    color: var(--theme-color);
                }
            }

        }
    }
}