.product-inner{
    margin: 10px 0px;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    .product-show{
        height: 200px;
        width: 100%;
        .productImage{
            width: 100%;
            height: 100%;
            background-size: cover !important;
            background-position: center !important;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .product-des {  
        .themeHeading {
            h6 {
                font-size: 16px;
            }            
        }
        .productName {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.01em;
            color: #000000;
            margin: 0px;
        } 
        .small-text {
            font-size: 14px;
            line-height: 20px;
            color: #888888;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            line-clamp: 4;
            -webkit-box-orient: vertical;
        } 
        .price{
            font-size: 22px;
            font-weight: 700;
            color: var(--theme-color);
            letter-spacing: -0.9px;
            margin: 6px 0px;
            span{
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 500;
            }
         }
         .listing{
            margin: 0;
            padding: 0;                  
            li{
                display: flex;
                align-items: center;
                list-style: inherit; 
                margin-bottom: 3px;
                ion-icon{
                    font-size: 20px;
                    margin-right: 5px;
                    color: var(--theme-color); 
                }
                span{
                    font-size: 14px;
                    line-height: 22px;
                    color: #000;
                    font-weight: 400;
                    width: 50%; 
                    &.f-700{
                        font-weight: 600;
                    }
                }
            }
         }
    }
}
ion-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px 10px;
    background-color: #fff;
    box-shadow: 4px -5px 5px rgb(0 0 0 / 4%);
    z-index: 2;
    ion-button{
        border-radius: 50px;
        width: 50%;
        margin: 0px;
        --box-shadow: 0px 1px 7px rgba(157, 88, 204, 0.44);
        height: 2.7em;
        --padding-start: 22px;
        --padding-end: 22px;
        &:first-child{
          
            margin-right: 10px;
            ion-icon{
                margin-right: 5px;
                margin-top: 0;
                font-size: 22px;
            }
        }
        &:last-child{
         
            ion-icon{
                margin-left: 5px; 
                    font-size: 20px;
                    margin-top: 3px; 
            }
        }
      
    }
}