<ion-header [translucent]="true">
  <ion-toolbar >
    <div class="d-flex justify-between w-100">
      <ion-buttons slot="start">
        <ion-back-button color="white" defaultHref="/view-order-history"></ion-back-button>
      </ion-buttons>
      <ion-title>View Product Detail</ion-title>
      <routerlink routerLink="/dashboard" class="cancel">Cancel</routerlink>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class=" bg-grey">
  <div class=" bg-white product-inner" *ngIf="data">
      <swiper class="product-show" [slidesPerView]="1" [loop]="false">
        <ng-template swiperSlide>
          <div class="productImage">
            <img [src]="data.product_pic" onerror="this.src='assets/img/dashboard/product.png';" alt="img">
          </div>
        </ng-template>
      </swiper>
    <div class="ion-padding product-des" *ngIf="data">
      <h3 class="productName">{{data.product_name}}</h3>
      <div class="price">
        ₹{{data.rate}} / <span>Qty:1</span>
      </div>
      <span class="small-text">{{data.description}}</span> 
      <div class="themeHeading">
        <h6>Product Details:-</h6> 
      </div>
      <ul class="listing">
        <li>
          <span>Product Name:-</span>
          <span class="f-700">{{data.product_name}}</span>
        </li>
        <li>
          <span>Unit Name:-</span>
          <span class="f-700">{{data.product_unit_name}}</span>
        </li>
        <li>
          <span>Description:-</span>
          <span class="f-700">{{data.product_description}}</span>
        </li>
        <li>
          <span>Price:-</span>
          <span class="f-700">₹{{data.product_item_rate}}</span>
        </li>
       
      </ul>
  </div>   
  </div> 
</ion-content>
