 <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <div class="d-flex justify-between w-100">
      <ion-buttons slot="start">
        <ion-back-button color="white" defaultHref="/seller-dashboard"></ion-back-button>
      </ion-buttons>
      <ion-title>Support</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-grey">
  <ion-list class="card-listing">
    <ion-item>
      <ion-label>Whatsapp Number</ion-label>
      <ion-label class="f-600">+91 9924712774</ion-label>
    </ion-item>
    <ion-item >
      <ion-label>Email Address</ion-label>
      <ion-label class="f-600">support@bhaavbook.com</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>CallBack Schedule </ion-label>
      <ion-label class="f-600">9:30AM - 6:00PM</ion-label>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-button class="btn-bottom btn-theme" routerLink="/raise-ticket-page">Raise Ticket</ion-button>
</ion-footer>  

