.themeHeading {
    margin: 0.5rem 0rem;
    padding: 5px 15px;
}
.card-listing {
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    margin: 10px 0px;
     padding-top: 0px; 
  padding-bottom: 0px;
    ion-item { 
        --border-color: #ddd;
        --padding-start: 15px;  
        --detail-icon-font-size: 0px; 
        --inner-padding-top: 0px;
        --inner-padding-bottom:0px;
        &:last-child {
            --border-color: transparent;
        } 
        ion-label{
            font-size: 15px;
            color: #000;
            line-height: 20px;
             white-space: inherit;
             font-family: var(--f-Poppins); 
             font-weight: 400;
             width: 50%;
            &.f-600{
                font-weight: 600;  
                text-align: right;
            }
        } 
}
}