<!-- Header Section Start -->
<ion-header translucent class="themeHeader ">
  <ion-toolbar class="bg-gradient">
    <ion-list class="d-flex justify-between">
      <ion-menu-toggle id="main">
        <button class="menuLeft">
          <ion-icon src="../../../../assets/new-image/menu.svg"></ion-icon>
        </button>
      </ion-menu-toggle>
      <ion-title>
        <ion-img class="logo-inner" src="../../../../assets/new-image/logo-inner.svg"></ion-img>
      </ion-title>
      <ion-list class="d-flex ion-nopadding">
        <ion-router-link class="icons relative" routerLink="/notification">
          <ion-icon src="../../../../assets/new-image/icon-notification.svg"></ion-icon>
        </ion-router-link>
        
        <button class="icons" (click)="confirmLogout()">
          <ion-icon src="../../../../assets/new-image/icon-logout.svg"></ion-icon>
        </button>
      </ion-list>
    </ion-list>
  </ion-toolbar>
</ion-header>
<!-- Header Section End -->
<!-- Body Section Start -->
<ion-content class="bg-grey ">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="searchMain">
    <div class="d-flex">
      <ion-searchbar [(ngModel)]='searchParams.search' name="search" (ionChange)="Search($event)" animated > 
    </ion-searchbar>
    
      <ion-button class="btn-white" (click)="openSearchBox()">
        <ion-icon src="../../../../assets/new-image/icon-fillter.svg"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div class="bg-theme-grey">


    <div class="card" *ngIf="isEnableSearch">
    <ion-card-header>
      <ion-card-subtitle>
        <strong>Search</strong>
        <span class="close-spn">
          <ion-button fill="clear" color="danger" (click)="hideSearchBox()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </span>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-item class="filter-date-item">
        <ion-label position="floating">product Name</ion-label>
        <ion-input type="text" [(ngModel)]='searchParams.product_name' name="product_name"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating"
          >Category
        </ion-label>
        <ion-select
          [(ngModel)]="searchParams.category_id"
          [interfaceOptions]="customActionSubTypeOptions"
          interface="action-sheet"
          name="category"
          #category="ngModel"
          required
          (ionChange)="changeSubType($event)"
        >
          <ion-select-option
            *ngFor="let category of data1"
            value="{{category.category_id}}"
          >
            {{category.category_name}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="filter-date-item">
        <ion-label position="floating">Description </ion-label>
        <ion-input type="text" [(ngModel)]='searchParams.description' name="description"></ion-input>
      </ion-item>

      <ion-item class="filter-date-item">
        <ion-label position="floating">Description </ion-label>
         <ion-radio-group class="radioGroup" [(ngModel)]='searchParams.published' name="published" >
           <!-- <ion-list-header> 
             <ion-label>Product<font color="red">*</font></ion-label>         
           </ion-list-header> -->

           <ion-item *ngFor="let published of Product">
             <ion-label>{{published.name}}</ion-label>
             <ion-radio slot="start" value="{{published.id}}" ></ion-radio>
           </ion-item>
         </ion-radio-group>     
     </ion-item>  

      <ion-row class="ion-margin-top">
        <ion-col class="ion-text-center">
          <ion-button color="medium" size="small" fill='outline' expand="block" (click)='resetSearchBox()'>
            Reset
          </ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button size="small" type="block" expand="block" (click)='applySearch()'>
            Search
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </div>
  <div class="ion-padding-horizontal ion-margin-top" *ngIf="isSearchResults">
    <ion-item>
      <ion-label class="ion-padding-start">
        <h2>Searched Results:</h2>
        <p *ngIf="productCount > 0">Total {{productCount}} {{productCount > 1 ? 'records' : 'record'}} found</p>
      </ion-label>
      <ion-button fill="clear" size="small" (click)="resetSearch()">Reset</ion-button>
    </ion-item>
  </div>
  <div class="ion-padding-horizontal" *ngIf="productCount === 0">
    <ion-item>
      <ion-label class="ion-padding-start ion-text-center">No record found</ion-label>
    </ion-item>
  </div>


  <ion-card class="counter">
    <ion-card-content>
      <div class="pr-2">
        <div class="small-text">Total</div>
        <h6>Product</h6>
      </div>
      <h4 *ngIf="meta">{{meta.total}}</h4>
    </ion-card-content>
  </ion-card>
 

  <ion-card *ngFor="let d of product">
    <ion-card-content>
      <div class="productImage">
        <img [src]="d.product_pic" onerror="this.src='assets/img/dashboard/product.png';" alt="img">
      </div>
      <div class="product-des">
        <h3 class="productName">{{d.product_name}}</h3>
        <!-- <span class="small-text">{{d.category_name}}</span> -->
        <div class="d-flex justify-between align-center">
          <div class="w-50">
            <span class="small-text">{{d.category_name}}</span>
           
          </div>
          <div class="w-50">
            <div class="w-50">
              <div *ngIf="d.published===1"><span><ion-icon name="checkmark-circle" style="color: green; font-size: 25px;"></ion-icon></span></div>
              <div *ngIf="d.published==0"><span><ion-icon name="ban" style="color: red;font-size: 25px;"></ion-icon></span></div>
          </div>
          </div>
        </div>
        <div class="d-flex justify-between align-center">
          <div class="w-50">
            <span class="price" routerLink='/price-edit-page/{{d.id}}'>₹{{d.rate}}</span>
            
          </div>
          <div class="w-50">
            <span class="text-small">QTY: <b class="text-dark">01/{{d.unit_name}}</b></span>
          </div>
        </div>
       
      </div>
    </ion-card-content>
    <ion-footer class="ion-card-footer">
      <ion-router-link routerLink='/view-price-history/{{d.id}}'>
        <div class="d-flex align-center">
          <ion-icon src="../../../../assets/new-image/icon-history.svg"></ion-icon>
          <span>History</span>
        </div>
      </ion-router-link>
      <ion-router-link routerLink='/update-product/{{d.id}}'>
        <div class="d-flex align-center">
          <ion-icon src="../../../../assets/new-image/icon-update.svg"></ion-icon>
          <span>Update</span>
        </div>
      </ion-router-link>
      <!-- <ion-router-link routerLink="condirmRemoveDailyReport(d.id)">
        <div class="d-flex align-center">
          <ion-icon src="../../../../assets/new-image/icon-delete.svg"></ion-icon>
          <span>Delete</span>
        </div>
      </ion-router-link> -->
      <button class="link" (click)="condirmRemoveDailyReport(d.id)"> 
        <div class="d-flex align-center">
          <ion-icon src="../../../../assets/new-image/icon-delete.svg"></ion-icon>
          <span>Delete</span>
        </div>
      </button>
       
    </ion-footer>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Loading...">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  </div>
</ion-content>
<!-- Body Section End -->
<!-- Footer Section Start -->
<ion-footer class="themeFooter">
  <button class="footerTab " routerLink="/dashboard">
    <ion-icon class="tab-icons" src="../../../../assets/new-image/icon-home.svg"></ion-icon>
    <span class="tab-text">Home</span>
  </button>
  <button class="footerTab active" routerLink="/my-product">
    <ion-icon class="tab-icons" src="../../../../assets/new-image/icon-product.svg"></ion-icon>
    <span class="tab-text">Product</span>
  </button>
  <button class="footerTab">
    <ion-fab class="custom-fab" horizontal="center" vertical="top" slot="fixed" edge>
      <ion-fab-button class="btn-theme">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list class="fab-list" side="top">
        <ion-fab-button routerLink='/add-category' data-desc="Add Category">
          <ion-icon src="../../../../assets/new-image/icon-category.svg"></ion-icon>
        </ion-fab-button>
        <ion-fab-button routerLink='/add-product' data-desc="Add Product">
          <ion-icon src="../../../../assets/new-image/icon-product.svg"></ion-icon>
        </ion-fab-button>      
      </ion-fab-list>
    </ion-fab>
  </button>
  <button class="footerTab" routerLink="/order-list">
    <ion-icon class="tab-icons" src="../../../../assets/new-image/icon-order.svg"></ion-icon>
    <span class="tab-text">Order</span>
  </button>
  <button class="footerTab" routerLink="/profile">
    <ion-img class="tab-img" [src]="api.userPicture"></ion-img>
    <span class="tab-text">Profile</span>
  </button>
</ion-footer>
<!-- Footer Section End -->