<!-- Header Section Start -->
<ion-header translucent class="themeHeader ">
  <ion-toolbar class="bg-gradient">
    <ion-list class="d-flex justify-between">
      <ion-menu-toggle id="main">
        <button class="menuLeft">
          <ion-icon src="../../../../assets/new-image/menu.svg"></ion-icon>
        </button>
      </ion-menu-toggle>
      <ion-title>
        <ion-img class="logo-inner" src="../../../../assets/new-image/logo-inner.svg"></ion-img>
      </ion-title>
      <ion-list class="d-flex ion-nopadding">
        <ion-router-link class="icons relative" routerLink="/notification">
          <ion-icon src="../../../../assets/new-image/icon-notification.svg"></ion-icon><span class="count">6</span>
        </ion-router-link>
        
        <button class="icons" (click)="confirmLogout()">
          <ion-icon src="../../../../assets/new-image/icon-logout.svg"></ion-icon>
        </button>
      </ion-list>
    </ion-list>
  </ion-toolbar>
</ion-header>
<!-- Header Section End -->
<!-- Left Menu Section Start -->
<ion-menu class="icon-menuTheme" side="start" menuId="first" contentId="main">
  <ion-content>
    <ion-list>
      <div class="user-profile bg-gradient"> 
          <div class="card-body">
            <div class="user-avatar">
              <img [src]="api.userPicture" alt="image">
            </div>
            <div class="user-details">
              <h6>{{api.userName}} </h6>
              <div class="small-text">
                {{api.mobile_number}}
              </div>
              <div class="small-text">
                {{api.email}}
              </div>
            </div>
          
          </div> 
          <ion-img class="bg-shap" src="../../../../assets/new-image/menu-shap.svg"></ion-img>
      </div>
    </ion-list>
    <ion-list>
      <ion-item routerLink="/update-profile"> 
        <ion-icon name="person-circle"></ion-icon>
        <span>My Account</span> 
      </ion-item>
      <ion-item routerLink="/follower-page"> 
        <ion-icon name="document-text"></ion-icon>
        <span>Follower</span> 
      </ion-item>
      <ion-item routerLink="/followup-page"> 
        <ion-icon name="document-text"></ion-icon>
        <span>Following</span> 
      </ion-item>
      <ion-item routerLink="/support-page"> 
        <ion-icon name="chatbubbles"></ion-icon>
        <span>Supports</span> 
      </ion-item> 
      <ion-item routerLink="/share-page"> 
        <ion-icon name="share-social"></ion-icon>
        <span>Share App</span> 
      </ion-item> 
      <ion-item routerLink="/about-page"> 
        <ion-icon name="share"></ion-icon>
        <span>About Us</span> 
      </ion-item> 
      <ion-item routerLink="/faq"> 
        <ion-icon name="help"></ion-icon>
        <span>FAQ</span> 
      </ion-item>
      <ion-item routerLink="/privacy-policy"> 
        <ion-icon name="book"></ion-icon>
        <span>Privacy-Policy</span> 
      </ion-item> 
      <ion-item routerLink="/setting-page"> 
        <ion-icon name="settings"></ion-icon>
        <span>Settings</span> 
      </ion-item> 
      <ion-item (click)="confirmLogout()"> 
        <ion-icon  src="../../../../assets/new-image/icon-logout-new.svg"></ion-icon>
        <span>Logout</span> 
      </ion-item> 
    </ion-list>
  </ion-content>
</ion-menu>
<!-- Left Menu Section End -->

<ion-content [fullscreen]="true">
  <!-- <ion-searchbar
  [(ngModel)]="searchTerm"
  (ionChange)="setFilteredItems()"
></ion-searchbar> -->
<!-- 
<ion-item *ngIf="product == 0">
  <ion-label class="ion-text-center">No record found</ion-label>
</ion-item> -->

<div *ngIf="data" class="bg-theme-grey">
  <ion-list>
<ion-card  *ngFor="let d of data; let i=index;"
id="dr-custom-item-{{i}}">
      <ion-item class="item-box" lines="230px" >
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="font">Product Name:</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{d.product_name}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="font">Inquiry To:</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{d.inquiry_to}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="font">Remarks:</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{d.remarks}}</ion-label>
          </ion-col>
        </ion-row>
      <ion-row>
      <!-- <ion-col>
        <ion-buttons class="price-button" (click)="condirmRemoveDailyReport(d.id)">
        <ion-icon name="trash"></ion-icon>Delete
        </ion-buttons>
      </ion-col> -->
      </ion-row>
     </ion-grid>
</ion-item>
</ion-card>
</ion-list>
</div>
</ion-content>
<!-- Footer Section Start -->
<ion-footer class="themeFooter">
  <button class="footerTab " routerLink="/seller-dashboard">
    <ion-icon class="tab-icons" src="../../../../assets/new-image/icon-home.svg"></ion-icon>
    <span class="tab-text">Home</span>
  </button>
  <button class="footerTab active" routerLink="/inquiry-listing">
    <ion-icon class="tab-icons" src="../../../../assets/new-image/icon-product.svg"></ion-icon>
    <span class="tab-text">Inquiry</span>
  </button>
  <button class="footerTab" routerLink="/my-order">
    <ion-icon class="tab-icons" src="../../../../assets/new-image/icon-order.svg"></ion-icon>
    <span class="tab-text">Order</span>
  </button>
  <button class="footerTab" routerLink="/update-profile">
    <ion-img class="tab-img" [src]="api.userPicture"></ion-img>
    <span class="tab-text">Profile</span>
  </button>
</ion-footer>
<!-- Footer Section End -->