ion-card {
  margin: 15px 16px;

  ion-card-content {
      padding: 10px 15px 10px 10px;
      display: flex;

  .productImage {
              border-radius: 15px;
              width: 95px;
              height: 90px;
              background-size: cover !important;
              background-position: center !important;
              overflow: hidden;
              img{
                  width: 100%;
                  height: 100%;
                object-fit: cover;
              }
      }
      .product-des{
         padding-left: 0.7rem;
         width: 70%;
         display: inline-flex;
         flex-flow: column;
      .productName {
          font-weight: 600;
          font-size: 18px;
          line-height: 20px;
          letter-spacing: -0.01em;
          color: #000000;
          margin:0px 0px 3px 0px;
      }
      .price {
         font-size: 18px;
         font-weight: 700;
         color: var(--theme-color);
     }
     .small-text{
         font-size: 14px;
         line-height: 22px;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
     }
  }
 }
 .ion-card-footer{ 
     width: 100%;
     display: inline-flex;
     border-top: solid 1px rgba($color: #000000, $alpha: 0.16);
     ion-router-link{
         width: 33%;
         padding: 8px 10px;
         font-size: 15px;
         font-weight: 500;
         font-family: var(--f-Poppins);
         color: rgba($color: #000000, $alpha: 0.60);
         text-align: center;
         position: relative;
         &::after{
             content: '';
             position: absolute;
             right: 0px;
             width: 1px;
             height: 15px;
             background-color:rgba($color: #000000, $alpha: 0.30);
             margin: auto;
             top: 0px;
             bottom: 0px;
         }
         &:last-child{
             &::after{
                 display: none;
             }  
         }
         ion-icon{
             font-size: 22px;
         }
         span{
             width: 80%;
             display: inline-block;
             line-height: 18px;
             white-space: nowrap;
             text-align: left;
             margin-left: 5px;
         }
     }
 }
}
.counter {
 padding: 0px ;
 margin: 10px 16px;

   ion-card-content {
     justify-content: space-between;
     align-items: center;
     padding: 12px 15px;

     h4 {
       font-size: 32px;
       line-height: 33px;
       letter-spacing: -0.02em;
       color: var(--theme-color);
       font-weight: 600;
       margin: 0px;
     }

     .small-text {
       font-size: 14px;
       text-transform: uppercase;
       color: #777777;
       line-height: 14px;
       font-weight: 400;
       margin-bottom: 5px;
     }

     h6 {
       font-weight: 500;
       font-size: 18px;
       line-height: 15px;
       color: #000;
       margin: 0px;
     }
   } 
}

button{
background-color: white;
}
.card{
 margin: 0px;
}

.call-button{
  color: white;
  background-color: #5927b2;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-style: solid;
  border-width: 1px;
  font-weight: bold;
  height: 30px;
  width: 170px;
  font-size: medium;

}
.price-button{
    color: #5927b2;
    background-color: white;
    border-style: solid;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-width: 1px;
    height: 30px;
    width: 170px;
    font-size: medium;
  }
  
