.themeHeading {
    margin: 0.5rem 0rem;
    padding: 5px 15px;
}
.card-listing {
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    margin: 15px 0px;
    ion-item { 
        --border-color: #ddd;
        --padding-start: 15px;  
        --detail-icon-font-size: 22px;
        --detail-icon-opacity: .5;
        --inner-padding-top: 5px;
        --inner-padding-bottom:5px;
        &:last-child {
            --border-color: transparent;
        } 
        ion-label{
            font-size: 16px;
            color: #000;
            font-weight: 600;  
            line-height: 20px;
             white-space: inherit;
             font-family: var(--f-Poppins); 
        } 
}
}