<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lead - Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="bg-theme-grey" *ngIf="dashboardData">
    <ion-grid>
      <ion-row>
        <ion-col class="cards" routerLink='/lead-followup-listings/1'>
          <div class="icon-image ">{{dashboardData.followupForToday}}</div>
          <div class="label">Today's Follow Up</div>
        </ion-col>
        <ion-col class="cards" routerLink='/lead-followup-listings/2'>
          <div class="icon-image ">{{dashboardData.missedFollowup}}</div>
          <div class="label">Missed Follow Up</div>
        </ion-col>
        <ion-col class="cards" routerLink='/lead-followup-listings/3'>
          <div class="icon-image ">{{dashboardData.totalfollowups}}</div>
          <div class="label">Total Follow Up</div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="cards" routerLink='/lead-reminder-listings/1'>
          <div class="icon-image ">{{dashboardData.reminderForToday}}</div>
          <div class="label">Today's Reminders</div>
        </ion-col>
        <ion-col class="cards" routerLink='/lead-reminder-listings/2'>
          <div class="icon-image ">{{dashboardData.totalreminders}}</div>
          <div class="label">Total Reminders</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="cards" routerLink='/leads/0'>
          <div class="icon-image ">{{dashboardData.totalLeads}}</div>
          <div class="label">Total Leads</div>
        </ion-col>

      </ion-row>

    </ion-grid>

    <div class="pyramid">
      <div class="row ion-no-margin tier-0" routerLink='/leads/{{dashboardData.status.new}}'>
        <div class="col">
          <div class="count">{{dashboardData.totalNewLead}}</div>
          <div class="label">New Lead</div>
        </div>
      </div>

      <div class="row ion-no-margin tier-1" routerLink='/leads/{{dashboardData.status.contacted}}'>
        <div class="col">
          <div class="count">{{dashboardData.totalContactedLead}}</div>
          <div class="label">Contacted</div>
        </div>
      </div>

      <div class="row ion-no-margin tier-2" routerLink='/leads/{{dashboardData.status.notContacted}}'>
        <div class="col">
          <div class="count">{{dashboardData.totalNotContactectLead}}</div>
          <div class="label">Not Contacted</div>
        </div>
      </div>

      <div class="row ion-no-margin tier-3" routerLink='/leads/{{dashboardData.status.contactInFuture}}'>
        <div class="col">
          <div class="count">{{dashboardData.totalContactInFuture}}</div>
          <div class="label">Contact In Future</div>
        </div>
      </div>

      <div class="row ion-no-margin tier-4" routerLink='/leads/{{dashboardData.status.lost}}'>
        <div class="col">
          <div class="count">{{dashboardData.totalLostLead}}</div>
          <div class="label">Lost Lead</div>
        </div>
      </div>

      <div class="row ion-no-margin tier-5" routerLink='/leads/{{dashboardData.status.won}}'>
        <div class="col">
          <div class="count">{{dashboardData.totalWonLead}}</div>
          <div class="label">Won Lead</div>
        </div>
      </div>
    </div>
  </div>

</ion-content>