// Header Section Start
.header {
  border: 0px;
  &:last-of-type {
    --border-color: rgb(255, 255, 255, 0.2);
  }
  .toolbar-container {
    padding: 0px;
  }
  ion-title {
    font-weight: 400;
  }
}
// Header Section End

.bg-theme-grey {
  background-color: #eff5ff;
  padding: 10px 0px 30px 0px;
}
.cards {
  padding: 12px 5px;
  text-align: center;
  font-size: 0.87em;
  background-color: #fff;
  margin: 0.5em;
  border-radius: 10px;
  color: #000;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.12);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.12);
  .icon-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 5px;
    background-color: #daf1f2;
    margin: 0 auto;
    font-size: 20px;
    color: #054159;
    font-weight: 500;
  }
  .label {
    font-size: 16px;
    line-height: 18px;
    color: #054159;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 5px;
  }
}
.pyramid {
  .ion-no-margin {
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .col {
    margin: 0px;
    padding: 5px 5px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-radius: 0px 0px 5px 5px;

    .count {
      font-size: 22px;
      line-height: 22px;
      font-weight: 500;
    }
    .label {
      font-size: 16px;
      margin-top: 2px;
    }
  }
  .row:last-child {
    .col {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 0px;
        border-left: 41px solid transparent;
        border-right: 41px solid transparent;
        border-top: 20px solid #64bc6b;
        background: transparent;
        bottom: -18px;
      }
    }
  }
}

.tier-0 {
  margin: 5px 10%;
  .col {
    background-color: #935fa9;
  }
}

.tier-1 {
  margin: 5px 15%;
  .col {
    background-color: #fbb217;
  }
}

.tier-2 {
  margin: 5px 20%;
  .col {
    background-color: #446eb6;
  }
}

.tier-3 {
  margin: 5px 25%;
  .col {
    background-color: #35c2d6;
  }
}

.tier-4 {
  margin: 5px 30%;
  .col {
    background-color: #ef5450;
  }
}

.tier-5 {
  margin: 5px 40%;
  .col {
    background-color: #64bc6b;
  }
}
