<ion-header>
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/customers-dashboard'></ion-back-button>
    </ion-buttons>
    <ion-title>Reminder Listings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="bg-theme-grey">

    <div class="ion-padding-horizontal mt-10">
      <ion-item class="item-box">
        <ion-label class="ion-padding-start">
          <h2>Total Available Records - {{reminderCount}}</h2>
          <p *ngIf="reminderFor">Filter : {{reminderForLabelName}}</p>
        </ion-label>
      </ion-item>
    </div>

    <ion-item *ngIf="reminderCount === 0">
      <ion-label class="ion-text-center">No record found</ion-label>
    </ion-item>

    <ion-list class="listing" *ngIf="reminderLists">
      <ion-card *ngFor="let reminderList of reminderLists; let i=index;" id="dr-custom-item-{{i}}">
        <ion-item class="item-box" lines="none">
          <ion-label class="dr-sets">
            <ion-label color="primary">
              <div class="label">Reminder Date:</div>
              <div class="text">{{reminderList.reminder_date}}</div>
            </ion-label>
            <ion-label>
              <div class="label">Contact Name:</div>
              <div class="text">{{reminderList.customer_name}}</div>
            </ion-label>
            <ion-label>
              <div class="label">Contact Mobile No:</div>
              <div class="text">{{(reminderList.customer_mobile)?reminderList.customer_mobile:'-'}}</div>
            </ion-label>
            <ion-label>
              <div class="label">Contact Email:</div>
              <div class="text">{{(reminderList.customer_email)?reminderList.customer_email:'-'}}</div>
            </ion-label>
            <ion-label>
              <div class="label">Description:</div>
              <div class="text">{{reminderList.description}}</div>
            </ion-label>
            <ion-label>
              <div class="label">Created Date:</div>
              <div class="text">{{reminderList.created_at}}</div>
            </ion-label>
            <ion-label>
              <div class="label"></div>
              <div class="text">
                <ion-button color="primary" routerLink='/customers-detail/{{reminderList.customer_id}}'>
                  View Contact
                </ion-button>
              </div>
            </ion-label>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-list>
  </div>

</ion-content>