<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!isBack"></ion-menu-button>
      <ion-back-button *ngIf="isBack"></ion-back-button>
    </ion-buttons>
    <ion-title>Reports</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div *ngFor="let value of values; let i = index">
    <input type="text" [(ngModel)]="value.value" #name="ngModel" name="value{{i}}" value="{{value.value}}">
    <button (click)="removevalue(i)">Remove</button>
  </div>
  <button (click)="addvalue()">Add</button>
</ion-content>