/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
// global.scss
@import "~swiper/scss";
@import "~@ionic/angular/css/ionic-swiper";

.mb-6px {
    margin-bottom: -6px;
}

.mb-5px {
    margin-bottom: -5px;
}

.mb-4px {
    margin-bottom: -4px;
}

.mb-3px {
    margin-bottom: -3px;
}

.mb-2px {
    margin-bottom: -2px;
}

.ml-3px {
    margin-left: 3px;
}

.fab-vertical-bottom.fab-edge {
    bottom: -34px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-10 {
    margin-top: 10px !important;
}

.h-100 {
    height: 100%;
}

// Custom Class
:root {
    --theme-color: #6e41be;
    --theme-d-color: #9d58cc;
    --f-Poppins: "Poppins", sans-serif;
    --bg-lighter: #f6f7fb;
}

.bg-gradient {
    background: var(--theme-color);
    background: linear-gradient(168.4deg, #9d58cc 1.38%, #6e41be 95.39%);
    background: -moz-linear-gradient(168.4deg, #9d58cc 1.38%, #6e41be 95.39%);
    background: -webkit-linear-gradient(168.4deg, #9d58cc 1.38%, #6e41be 95.39%);
    background: -linear-linear-gradient(168.4deg, #9d58cc 1.38%, #6e41be 95.39%);
}

.btn-theme {
    --background: linear-gradient(168.4deg, #9d58cc 1.38%, #6e41be 95.39%);
    --background-activated: linear-gradient(168.4deg, #6e41be 1.38%, #9d58cc 95.39%);
    --background-focused: linear-gradient(168.4deg, #6e41be 1.38%, #9d58cc 95.39%);
    --background-hover: linear-gradient(168.4deg, #6e41be 1.38%, #9d58cc 95.39%);
}
.btn-white {
    --background: #fff;
    --color: var(--ion-color-primary-contrast, #6e41be);
    --background-activated: #fff;
    --background-focused: #fff;
    --background-hover: #fff;
}
.btn-outline-defualt {
    --background: #fff;
    --color: #202325;
    --background-activated: #fff;
    --background-focused: #fff;
    --background-hover: #fff;
    border: solid 1px #c4c4c4;
}
.btn-outline-theme {
    --background: #fff;
    --color: var(--theme-color);
    --background-activated:linear-gradient(168.4deg, #6e41be 1.38%, #9d58cc 95.39%);
    --background-focused:linear-gradient(168.4deg, #6e41be 1.38%, #9d58cc 95.39%);
    --background-hover:linear-gradient(168.4deg, #6e41be 1.38%, #9d58cc 95.39%);
    border: solid 1px var(--theme-color);
    &.ion-activated{
        --color: #fff;
        ion-icon{
            color: #fff;
        }
    }
    ion-icon{
        -color: var(--theme-color);
    }
}
.bg-pending {
    background-color: #ffb302;
}
.bg-confirm {
    background-color: #47b50b;
}
.bg-cancel {
    background-color: #ff3838;
}
.text-grey {
    color: #777777;
}

.text-theme {
    color: var(--theme-color);
}

.text-danger {
    color: #d3180c;
}

.btn-bottom {
    --border-radius: 0px;
    font-size: 18px;
    width: 100%;
    margin: 0px;
    text-transform: inherit;
    height: 3em;
}

.ion-padding {
    --padding-top: var(--ion-padding, 10px);
}
.bg-grey {
    --background: var(--bg-lighter);
    background-color: var(--bg-lighter);
}
routerlink,
button{ 
    &:focus,
    &:focus-visible{
      outline: none;
    }
}
h1,
h2,
h3,
h4,
h5,
h6,
ion-button,
ion-router-link,
p,
.small-text {
    font-family: var(--f-Poppins);
}

p {
    font-size: 15px;
    line-height: 20px;
    color: #595959;
}
.text-dark {
    color: #000;
}
.bg-white {
    background-color: #fff;
}
ion-router-link {
    font-size: 14px;
}

.ion-padding {
    padding-inline-start: var(--ion-padding, 20px);
    padding-inline-end: var(--ion-padding, 20px);
}

.f-600 {
    font-weight: 600;
}

.relative {
    position: relative;
}

.d-flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.justify-start {
    justify-content: flex-start;
}
.justify-end {
    justify-content: flex-end;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.align-start {
    align-items: flex-start;
}
.align-end {
    align-items: flex-end;
}
.text-center {
    text-align: center !important;
}
.f-right {
    float: right;
}
.w-100 {
    width: 100%;
}
.link-dark {
    font-size: 14px;
    color: #000;
    font-family: var(--f-Poppins);
    text-decoration: inherit;
    text-transform: uppercase;
}
.link-theme {
    font-size: 16px;
    color: var(--theme-color);
    font-family: var(--f-Poppins);
    font-weight: 600;
    text-decoration: inherit;
}
.small-text {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    display: inline-block;
}

.brand-logo {
    margin-bottom: 10px;
}

.brand-logo ion-img {
    height: 50px;
}

.bannersSection {
    display: inline-block;
    width: 100%;
    padding: 20px 15px 30px 15px;
    position: relative;
}

.bannersSection::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 25px;
    border-radius: 25px 25px 0px 0px;
    background-color: #fff;
}

.bannerImage {
    width: 70%;
    margin: 0 auto;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 20px !important;
    left: 0;
    width: 70%;
    margin: 0 auto;
    right: 0;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
}

.swiper-pagination-bullet {
    border: 2px solid #c4c4c4;
    background-color: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.05);
    opacity: 1;
    background: #fff;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
    border-color: var(--theme-color);
    box-shadow: 1px 5px 5px rgba(82, 76, 238, 0.1);
}

.bottom-link {  
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #595959;
    font-family: var(--f-Poppins); 
    margin-top: 1rem;
}
// Form Design Start
form {
    ion-item {
        &.item-label-stacked {
            --padding-start: 0px;
            --border-width: 0px;
            --inner-border-width: 0px;
            --padding-end: 0px;
            --inner-padding-end: 0px;
            --highlight-height: 0px;
            --min-height: auto;
            margin-bottom: 12px;
            --background-activated: transparent;
            --background-focused: transparent;
            &:last-child {
                margin-bottom: 0px;
            }

            ion-label,
            .label-stacked.sc-ion-label-ios-h,
            .label-stacked.sc-ion-label-md-h {
                font-size: 16px;
                font-weight: 600;
                font-family: "Poppins", sans-serif;
                margin-top: 0px;
                transition: 0.5s;
                -webkit-transform-origin: inherit;
                transform-origin: inherit;
                -webkit-transform: inherit;
                transform: inherit;
                margin-bottom: 3px;
                margin-right: 0px;

                span {
                    margin-left: 2px;
                }
            }

            ion-input,
            .sc-ion-input-ios-h,
            .sc-ion-input-md-h,
            ion-select,
            ion-datetime,
            ion-textarea {
                border: solid 1.8px #c2c2c3;
                border-radius: 8px;
                font-family: "Poppins", sans-serif;
                --padding-top: 9px;
                --padding-bottom: 9px;
                --padding-start: 15px;
                --padding-end: 10px;
                font-size: 16px;
                transition: 0.5s;
                --highlight-height: 0px;
                &::part(icon) {
                    transform: translate3d(0px, 0px, 0px);
                  }
            }
            ion-textarea {
                --padding-start: 15px !important;
                margin: 0;
            }
            &.item-interactive-disabled,
            &.item-has-focus {
                ion-label {
                    color: var(--theme-color);
                }

                ion-input,
                .sc-ion-input-ios-h {
                    border-color: var(--theme-color);
                    font-weight: 600;
                }
            }
            &.item-interactive-disabled:not(.item-multiple-inputs) {
                ion-label,
                .native-input[disabled].sc-ion-input-ios,
                .native-input[disabled].sc-ion-input-md {
                    opacity: 1;
                }
            }
            input:-webkit-autofill {
                background-color: #fff !important;
            }
            input:autofill {
                background-color: #fff !important;
            }
            &.item-interactive-disabled {
                ion-input,
                .sc-ion-input-ios-h,
                .sc-ion-input-md-h,
                ion-select,
                ion-datetime,
                ion-textarea {
                    background-color: rgba($color: #6e41be, $alpha: 0.11);
                }
            }

            .with-icon {
                position: relative;

                .icons {
                    position: absolute;
                    width: 50px;
                    background-color: #fff;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    z-index: 1;
                    justify-content: center;
                    font-size: 16px;
                    font-weight: 600;
                    font-family: var(--f-Poppins);

                    &::after {
                        content: "";
                        position: absolute;
                        right: 0px;
                        width: 1px;
                        height: 15px;
                        background-color: #c4c4c4;
                    }
                }

                ion-input,
                .sc-ion-input-ios-h {
                    --padding-start: 55px;
                }
            }

            .icon {
                position: relative;
                .icons {
                    position: absolute;
                    top: 1px;
                    right: 1px;
                    background-color: #fff;
                    z-index: 1;
                    height: 90%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-right: 10px;
                    // width: 40px;
                    border-radius: 0px 8px 8px 0px;
                    z-index: 999 !important;
                }

                ion-icon {
                    font-size: 28px;
                    color: #888;
                }

                ion-input,
                .sc-ion-input-ios-h {
                    --padding-end: 40px;
                }
            }
        }
        .radioGroup {
            ion-list-header {
                padding: 0;
                min-height: auto;
            }
            ion-item {
                --padding-start: 0px;
                --border-width: 0px;
                --inner-border-width: 0px;
                --padding-end: 0px;
                --inner-padding-end: 0px;
                --highlight-height: 0px;
                --min-height: auto;
                min-height: auto;
                margin-bottom: 0px;
                display: inline-block;
                margin-right: 20px;
                ion-radio {
                    margin-inline-end: 10px;
                    margin: 0px 10px 0px 0px;
                    border: solid 2px #ccc;
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                    position: relative;
                    --border-width: 0px;
                    &::after {
                        content: "";
                        position: absolute;
                        background-color: #fff;
                        width: 14px;
                        height: 14px;
                        top: 0px;
                        left: 0px;
                        right: 0px;
                        bottom: 0px;
                        margin: auto;
                        border-radius: 50%;
                        opacity: 0;
                    }
                }
                &.item-radio-checked {
                    ion-radio {
                        border-color: var(--theme-color);
                        background-color: var(--theme-color);
                        box-shadow: 1px 5px 5px rgba(82, 76, 238, 0.1);
                        &::after {
                            background-color: #fff;
                            opacity: 1;
                        }
                    }
                }
                ion-label {
                    margin-bottom: 0;
                    font-weight: 400;
                }
            }
        }
        &.customCard {
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.09);
            --background-activated: #fff;
            --background-focused: #fff;
            transition: 0.5s;
            border-radius: 12px;
            --padding-start: 15px;
            --padding-end: 10px;
            --inner-padding-end: 10px;
            --inner-padding-top: 12px;
            --inner-padding-bottom: 10px;
            --highlight-height: 0px;
            --min-height: auto;
            --border-width: 0px;
            --inner-border-width: 0px;
            margin-bottom: 15px;
            align-items: flex-start;

            ion-checkbox {
                width: 26px;
                height: 26px;
                border-radius: 5px;
                margin: 2px 15px 2px 0px;
                --border-radius: 5px;
                --border-width: 2px;
                --border-color: #ccc;
            }
            ion-radio {
                margin: 18px 15px 0px 0px;
                border: solid 2px #ccc;
                width: 26px;
                height: 26px;
                border-radius: 50%;
                position: relative;
                --border-width: 0px;
                &::after {
                    content: "";
                    position: absolute;
                    background-color: #fff;
                    width: 16.5px;
                    height: 16.5px;
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    margin: auto;
                    border-radius: 50%;
                    opacity: 0;
                }
            }

            ion-label {
                font-family: var(--f-Poppins) !important;
                margin: 0px;
                .label {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 22px;
                }

                .list-label {
                    font-size: 15px;
                    font-weight: 300;
                    color: #777777;
                    margin-bottom: 2px;
                }
                .check-list {
                    display: none;
                    margin: 0px;
                    font-size: 13px;
                    font-weight: 300;
                    padding-left: 0px;
                    list-style: none;
                    margin-bottom: 5px;
                    padding-left: 8px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
            }

            &.item-checkbox-checked,
            &.item-radio-checked {
                background: var(--theme-color);
                background: linear-gradient(168.4deg, #9d58cc 1.38%, #6e41be 95.39%);
                background: -moz-linear-gradient(168.4deg, #9d58cc 1.38%, #6e41be 95.39%);
                background: -webkit-linear-gradient(168.4deg, #9d58cc 1.38%, #6e41be 95.39%);
                background: -linear-linear-gradient(168.4deg, #9d58cc 1.38%, #6e41be 95.39%);
                --background: var(--theme-color);
                --background: linear-gradient(168.4deg, #9d58cc 1.38%, #6e41be 95.39%);
                --background: -moz-linear-gradient(168.4deg, #9d58cc 1.38%, #6e41be 95.39%);
                --background: -webkit-linear-gradient(168.4deg, #9d58cc 1.38%, #6e41be 95.39%);
                --background: -linear-linear-gradient(168.4deg, #9d58cc 1.38%, #6e41be 95.39%);
                box-shadow: 1px 2px 10px rgba(157, 88, 204, 0.44);
                ion-radio {
                    border-color: #fff;
                    background-color: #fff;
                    box-shadow: 1px 5px 5px rgba(110, 65, 190, 0.1);
                    &::after {
                        background-color: var(--theme-color);
                        opacity: 1;
                    }
                }
                ion-checkbox {
                    --background-checked: #fff;
                    --border-color-checked: #fff;
                    --checkmark-color: var(--theme-color);
                    --checkmark-width: 3;
                }
                ion-label {
                    font-weight: 700;
                }
                ion-label,
                .list-label {
                    color: #fff;
                }
                .check-list {
                    display: block;
                }
                .rightArrow {
                    stroke: #fff;
                    height: 25px;
                }
            }
            .rightArrow {
                stroke: #777777;
            }
        }
    }
    ion-list {
        contain: inherit;
        margin-top: 10px;
    }
}

.customForm-progress {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    ion-progress-bar {
        width: 80%;
        height: 5px;
        border-radius: 5px;
    }

    .step-text {
        margin-left: 5px;
        width: 30%;
        text-align: right;
        font-size: 16px;
        font-weight: 400;
        color: #6c7072;
        font-family: var(--f-Poppins);
    }
}

// Form Design End

// Theme Header Start
.theme-Header { 
    ion-toolbar { 
        --border-width: 0px;
        --opacity: 1;
        --border-color: transparent;
        --background: var(--theme-color);
        --border-color: var(--theme-color);
        ion-back-button,
        ion-title{
            color: #fff;
        }
    }
}
.themeHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::after {
        display: none;
    }
    .list-header {
        min-height: 65px;
        padding: 0px 0.5rem;
    }
    ion-toolbar {
        --min-height: 65px;
        padding: 0px 10px;
        --border-width: 0px;
        --opacity: 1;
        --border-color: transparent;
        --background: var(--theme-color);
        --border-color: var(--theme-color);
    }
    ion-list {
        background: transparent;
        padding: 0;
    }
    .menuLeft {
        border-radius: 8px;
    }
    .menuLeft,
    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        background-color: rgba($color: #fff, $alpha: 0.12);
        font-size: 20px;

        ion-icon {
            stroke: #fff;
            display: flex;
        }
    }
    .icons {
        border-radius: 100%;
        padding: 5px 0px;
        margin-left: 5px;
    }
    .count {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 18px;
        height: 18px;
        background-color: #f62d20;
        border-radius: 100%;
        border: solid 1px #fff;
        font-size: 12px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
    }
    ion-back-button {
        --icon-margin-end: 0;
        color: var(--blackColor);
        --color: var(--blackColor);
        font-family: var(--f-Poppins);
        --icon-font-size: 28px;
        --min-height: 32px;
        font-size: 16px;
        &.md {
            width: 40px;
            height: 40px;
            --min-height: 40px;
            --min-width: 40px;
            min-width: 40px;
            border-radius: 10px;
            background-color: var(--bg-lighter);
            font-size: 24px;
            line-height: 0px;
            --padding-start: 0;
            --padding-end: 0;
            --icon-font-size: 22px;
            .button-native {
                padding-left: 0px;
                padding-right: 0px;
            }
        }
    }
    .list-md {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .logo-inner {
        height: 36px;
    }
    &.header-md {
        ion-toolbar {
            ion-title {
                left: 0px;
                top: 0px;
                padding-left: 90px;
                padding-right: 90px;
                padding-top: var(--padding-top);
                padding-bottom: var(--padding-bottom);
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: -1;
            }
        }
    }
}
// Theme Header End
// Header Section Start
ion-header {
    &.header-md {
        &::after {
            display: none;
        }
        ion-toolbar {
            ion-title {
                padding: 0px 20px 0px 0px;
            }
        }
    }

    &.header-md,
    &.header-translucent-ios {
        ion-toolbar {
            --opacity: 1;

            &:last-of-type {
                --border-width: 0 0 0.55px;
            }
        }
    }

    ion-toolbar {
        --min-height: 55px;

        ion-title {
            font-size: 18px;
            font-family: "Poppins", sans-serif;
            z-index: -1;
        }

        ion-back-button {
            font-family: "Poppins", sans-serif;
        }
        .cancel {
            font-family: "Poppins", sans-serif;
            display: flex;
            align-items: center;
            padding-right: 10px;
            font-weight: 500;
            color: #fff;
        }
    }
}

// Header Section End
// Create Account Start
.create-account {
    .heading {
        font-size: 20px;
        font-weight: 600;
        margin-top: 0px;
        margin-bottom: 5px;
    }

    .small-text {
        margin-bottom: 10px;
    }
}
.custom-actionSheet {
    .action-sheet-container.sc-ion-action-sheet-md,
    .action-sheet-container.sc-ion-action-sheet-ios {
        -webkit-padding-start: 0px;
        padding-inline-start: 0px;
        -webkit-padding-end: 0px;
        padding-inline-end: 0px;
    }
    .action-sheet-container.sc-ion-action-sheet-md .action-sheet-group.sc-ion-action-sheet-md:last-child,
    .action-sheet-group.sc-ion-action-sheet-ios:last-child {
        margin-bottom: 0px;
    }
    .action-sheet-container.sc-ion-action-sheet-md .action-sheet-group.sc-ion-action-sheet-md,
    .action-sheet-group.sc-ion-action-sheet-ios {
        border-radius: 13px 13px 0px 0px;
    }
    .action-sheet-title.sc-ion-action-sheet-md,
    .action-sheet-title.sc-ion-action-sheet-ios {
        text-align: center;
        color: #000;
        font-weight: 600;
        font-size: 18px;
        padding-top: 14px;
        padding-bottom: 10px;
        min-height: auto;
        font-family: var(--f-Poppins);
        border-bottom: solid 1px #ddd;
    }
    .action-sheet-button .sc-ion-action-sheet-md,
    .action-sheet-button-inner.sc-ion-action-sheet-ios {
        justify-content: flex-start;
    }
    .action-sheet-button.sc-ion-action-sheet-md,
    .action-sheet-button.sc-ion-action-sheet-ios {
        margin-left: 25px;
        padding-inline-start: 0px;
        padding-inline-end: 0px;
        border-bottom: solid 1px #ddd;
        &:last-child {
            border-bottom: 0px;
        }
    }
}
.action-sheet-container.sc-ion-action-sheet-md {
    -webkit-padding-start: 8px;
    padding-inline-start: 8px;
    -webkit-padding-end: 8px;
    padding-inline-end: 8px;

    .action-sheet-group.sc-ion-action-sheet-md {
        margin-top: 10px;
        border-radius: 13px;
        --background: var(--ion-overlay-background-color, var(--ion-color-step-100, #f9f9f9));
        --backdrop-opacity: var(--ion-backdrop-opacity, 0.4);
        --button-background: linear-gradient(
                0deg,
                rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.08),
                rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.08) 50%,
                transparent 50%
            )
            bottom/100% 1px no-repeat transparent;
        --button-background-activated: var(--ion-text-color, #000);
        --button-background-activated-opacity: 0.08;
        --button-background-hover: currentColor;
        --button-background-hover-opacity: 0.04;
        --button-background-focused: currentColor;
        --button-background-focused-opacity: 0.12;
        --button-background-selected: var(--ion-color-step-150, var(--ion-background-color, #fff));
        --button-background-selected-opacity: 1;
        --button-color: var(--ion-color-primary, #3880ff);
        &:last-child {
            margin-bottom: 10px;
        }
    }
}

.action-sheet-button {
    .sc-ion-action-sheet-md {
        justify-content: center;
    }

    &.sc-ion-action-sheet-md,
    &.sc-ion-action-sheet-ios {
        font-family: var(--f-Poppins);
        font-size: 18px;
        color: #000;
        -webkit-padding-start: 10px;
        padding-inline-start: 10px;
        -webkit-padding-end: 10px;
        padding-inline-end: 10px;
        justify-content: center;
    }
    &.action-sheet-selected {
        .sc-ion-action-sheet-ios,
        .sc-ion-action-sheet-md {
            color: var(--theme-color);
            font-weight: 600;
        }
    }
}
.alert-title {
    .sc-ion-alert-ios {
        margin-top: 0px;
    }
}
.picker-wrapper {
    &.sc-ion-picker-ios,
    &.sc-ion-picker-md {
        border-radius: 20px 20px 0px 0px;
    }
    .picker-toolbar-cancel {
        .picker-button {
            color: #d3180c;
        }
    }
    .picker-toolbar.sc-ion-picker-md {
        margin-bottom: 15px;
        border-bottom: solid 1px #ddd;
        height: 50px;
        justify-content: space-between;
    }
}
// Create Account End
.themeHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0.8rem 0rem 0.5rem 0rem;
    h6 {
        font-size: 18px;
        color: #000;
        line-height: 16px;
        font-family: var(--f-Poppins);
        font-weight: 600;
        margin: 0px;
    }
}
// Theme Footer Start
.themeFooter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.1rem 0rem;
    background-color: #fff;
    -webkit-box-shadow: 4px -5px 5px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 4px -5px 5px rgba(0, 0, 0, 0.04);
    box-shadow: 4px -5px 5px rgba(0, 0, 0, 0.04);
    z-index: 2;
    &::before {
        display: none;
    }
    .footerTab {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
        background-color: transparent;

        .tab-icons {
            font-size: 34px;
            margin-bottom: 2px;
            color: #000;
            opacity: 0.4;
            svg {
                .fill-bg {
                    color: transparent;
                }
            }
        }
        .tab-img {
            width: 34px;
            height: 34px;
            border-radius: 100%;
            border: solid 2px rgba($color: #000, $alpha: 0.4);
            overflow: hidden;
            margin-bottom: 5px;
        }
        .tab-text {
            font-size: 14px;
            color: #000;
            font-weight: 400;
            font-family: var(--f-Poppins);
            opacity: 0.6;
        }
        &.active {
            .tab-icons {
                color: var(--theme-color);
                opacity: 1;
            }
            .tab-text {
                font-weight: 600;
                color: var(--theme-color);
                opacity: 1;
            }
            .tab-img {
                border-color: var(--theme-color);
            }
        }
    }
    ion-fab {
        top: -20px;
        ion-icon {
            font-size: 38px;
        }
    }
}
.bottomBtn {
    .footerTab {
        margin: 0px;
        line-height: 0px;
        height: 60px;
        font-size: 18px;
        --border-radius: 0px;
        font-weight: 400;
        font-family: var(--f-Poppins);
        letter-spacing: 0.08px;
        text-transform: inherit;
    }
}
// Theme Footer End
ion-card {
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.09);
}
// Theme Fab Start
.custom-fab {
    .fab-list {
        right: 60px;

        ion-fab-button {
            background-color: var(--theme-color);
            border-radius: 6px 0px 0px 6px;
            --background: var(--theme-color);
            --box-shadow: inherit;
            height: 34px;
        }
        ion-icon {
            color: #fff;
            font-size: 28px !important;
        }
    }

    ion-fab-button[data-desc] {
        position: relative;
    }

    ion-fab-button[data-desc]::after {
        position: absolute;
        content: attr(data-desc);
        z-index: 1;
        left: 40px;
        bottom: 0;
        background-color: var(--theme-color);
        padding: 10px 15px 10px 3px;
        border-radius: 0 6px 6px 0px;
        color: white;
        box-shadow: 0 0px 0px -1px rgb(0 0 0 / 20%);
        font-size: 15px;
        font-family: var(--f-Poppins);
        width: 100px;
        text-align: left;
        line-height: 14px;
    }
}
// Theme Fab End
// Search Start
.searchMain {
    width: 100%;
    background-color: var(--theme-color);
    position: relative;
    padding: 5px 15px 10px 15px;
    display: inline-block;
    z-index: 1;

    &::after {
        content: "";
        position: absolute;
        left: 0px;
        bottom: -1px;
        height: 35px;
        background-color: var(--bg-lighter);
        width: 100%;
        border-radius: 25px 25px 0px 0px;
        z-index: -1;
    }
    ion-searchbar {
        padding: 0px;
        --background: #fff;
        --border-radius: 10px;
        --color: #000;
        --placeholder-color: #444;
        font-family: var(--f-Poppins);
        contain: inherit;
        margin-right: 0.5rem;
        .searchbar-input-container.sc-ion-searchbar-ios {
            height: 100%;
            padding-top: 0;
            padding-bottom: 0;
        }
        .searchbar-search-icon.sc-ion-searchbar-ios {
            left: 12px;
            width: 20px;
        }
        &.sc-ion-searchbar-ios-h {
            height: auto;
        }
        .searchbar-input-container.sc-ion-searchbar-ios {
            height: auto;
        }
        .searchbar-search-icon.sc-ion-searchbar-md {
            left: 10px;
            top: 14px;
            width: 22px;
            height: 22px;
        }
        &.searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }
        .searchbar-clear-button.sc-ion-searchbar-md {
            right: 5px;
        }
        &.searchbar-left-aligned .sc-ion-searchbar-md input,
        &.sc-ion-searchbar-md-s .sc-ion-searchbar-md input,
        &.searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios {
            -webkit-padding-start: 40px;
            padding-inline-start: 40px;
            -webkit-padding-end: 25px;
            padding-inline-end: 25px;
            font-size: 16px;
            padding-top: 8px;
            padding-bottom: 8px;
            --placeholder-opacity: 0.7;
            --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.09);
        }
    }
    ion-button {
        --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.09);
        --border-radius: 10px;
        margin: 0;
        width: 55px;
        height: 45px;
        --padding-start: 0em;
        --padding-end: 0em;
        ion-icon {
            color: var(--theme-color);
            font-size: 34px;
        }
    }
}
.commanSearchMain {
    width: 100%;
    position: relative;
    padding: 5px 15px 10px 15px;
    z-index: 1;

    ion-searchbar {
        padding: 0px;
        --background: rgba(110, 65, 190, 0.1);
        --border-radius: 10px;
        --color: #000;
        --placeholder-color: #444;
        font-family: var(--f-Poppins);
        contain: inherit;
        width: 80%;
        margin-right: 0.5rem;
        --box-shadow: none;
        .searchbar-input-container.sc-ion-searchbar-ios {
            height: 100%;
            padding-top: 0;
            padding-bottom: 0;
        }
        .searchbar-search-icon.sc-ion-searchbar-ios {
            left: 12px;
            width: 20px;
        }
        &.sc-ion-searchbar-ios-h {
            height: auto;
        }
        .searchbar-input-container.sc-ion-searchbar-ios {
            height: auto;
        }
        .searchbar-search-icon.sc-ion-searchbar-md {
            left: 10px;
            top: 12px;
            width: 22px;
            height: 22px;
        }
        &.searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }
        .searchbar-clear-button.sc-ion-searchbar-md {
            right: 5px;
        }
        &.searchbar-left-aligned .sc-ion-searchbar-md input,
        &.searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios {
            -webkit-padding-start: 40px;
            padding-inline-start: 40px;
            -webkit-padding-end: 25px;
            padding-inline-end: 25px;
            font-size: 16px;
            padding-top: 8px;
            padding-bottom: 8px;
            --placeholder-opacity: 0.8;
            --box-shadow: none;
        }
    }
    ion-button {
        --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.09);
        --border-radius: 10px;
        margin: 0;
        width: 55px;
        height: 45px;
        --padding-start: 0em;
        --padding-end: 0em;
        ion-icon {
            color: #fff;
            font-size: 34px;
        }
    }
}
// Search End
//   Left Side Menu Start
.icon-menuTheme {
    ion-list{
            &.list-md{
              padding-top: 0px;
            }
    }
    .user-profile {
        width: 100%;
        position: relative;
        display: inline-block;
        .bg-shap {
            position: absolute;
            left: 0px;
            width: 100%;
            top: 0;
        }
        .card-body {
            padding: 30px 15px 15px 15px;
            width: 100%;
            display: flex;
            align-items: center;

            .user-avatar {
                width: 65px;
                height: 65px;
                overflow: hidden;
                border-radius: 100%;
                background-color: transparent;
                border: solid 3px transparent;
                outline: 3px solid #fff;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .user-details {
                width: 70%;
                padding-left: 0.8rem;
                display: flex;
                flex-flow: column;
                align-items: flex-start;
                justify-content: center;

                h6 {
                    font-size: 22px;
                    line-height: 22px;
                    font-weight: 500;
                    font-family: var(--f-Poppins);
                    margin-top: 0;
                    margin-bottom: 3px;
                    color: #fff;
                    letter-spacing: -0.72px;
                }

                .small-text {
                    font-size: 13px;
                    line-height: 16px;
                    font-weight: 300;
                    letter-spacing: 1px;
                    color: #fff;
                    font-family: var(--f-Poppins);
                    align-items: center;
                    display: flex;
                    margin-bottom: 2px;
                }

                ion-icon {
                    font-size: 20px;
                    font-weight: 600;
                    margin-right: 1px;
                }
            }
        }
    }
    ion-list {
        ion-item {
            --border-color: rgba(0, 0, 0, 0.1);
            --min-height: auto;
            --padding-top: 0;
            --padding-bottom: 0;
            --inner-padding-top: 12px;
            --inner-padding-bottom: 12px;
            padding-top: 0;
            padding-bottom: 0;
            --detail-icon-opacity: 0;
            padding-inline-start: 0;
            ion-icon {
                font-size: 28px;
                margin-right: 1rem;
                // color: var(--theme-color) !important;
            }
            .ion-label {
                font-size: 17px;
                color: #000;
                font-weight: 500;
                font-family: var(--f-Poppins);
            }
        }
    }
}

// Left Side Menu End

// common by RC
.grey-clr {
    color: #605f5c !important;
}
// Image and upload button design
.image-upload{
    border: solid 3px var(--theme-color);
    padding: 3px;
    width: 100px;
    height: 100px;
    --border-radius: 15px;
    margin-right: 15px;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    .btn-theme{
        --padding-top: 0;
        --padding-start: 1rem;
        --padding-end: 1rem;
        --padding-bottom: 0;
        height: 2.8em;
        font-size: 14px;
    }
    input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
  }