<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/app-login'></ion-back-button>
    </ion-buttons>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
  <ion-item lines="full">
    <ion-label position="floating">Name</ion-label>
    <ion-input formControlName="name" type="text"></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
    Name is required.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
    Name should be min 2 chars long.
  </span>
  <ion-item lines="full">
    <ion-label position="floating">Mobile</ion-label>
    <ion-input maxlength="10" formControlName="mobile" type="text" required></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.mobile.errors?.required">
    Mobile number is required.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.mobile.errors?.pattern">
    Only numerical values allowed.
  </span>
  <ion-item lines="full">
    <ion-label position="floating">Password</ion-label>
    <ion-input formControlName="password" type="password"></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
    Email is required.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.pattern">
    Please provide valid email id.
  </span>
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
    </ion-col>
  </ion-row>
</form>
</ion-content>
<!-- <ion-content [fullscreen]="true">
  <div class="login-from">
    <div class="login-inner">
      <form [formGroup]="registrationForm" (ngSubmit)="submitreg()">
        <ion-list class="ion-margin-top">
          <ion-item>
            <ion-label position="floating" color="dark">Name: <font color="red">*</font>
            </ion-label>
            <ion-input class="ion-no-padding" name="name" type="text" formControlName="name"
             [autofocus]="true" spellcheck="false" autocapitalize="off" required>
            </ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.name">
            <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
           </div>

          <ion-item>
            <ion-label position="floating" color="dark">Mobile No: <font color="red">*</font>
            </ion-label>
            <ion-input class="ion-no-padding" name="mobile_no" type="text" formControlName="mobilePin"
               [autofocus]="true" spellcheck="false" autocapitalize="off" required>
            </ion-input>
          </ion-item>
         <div *ngFor="let error of errorMessages.mobilePin">
          <ng-container *ngIf="mobilePin.hasError(error.type) && (mobilePin.dirty || mobilePin.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
         </div>
          <ion-item class="login-input">
            <ion-label position="floating" color="dark">Password <font color="red">*</font>
            </ion-label>
            <ion-input class="ion-no-padding"  name="password" type="password" formControlName="password"
             required>
            </ion-input>
          </ion-item>

          <div *ngFor="let error of errorMessages.password">
            <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
           </div>
        </ion-list>

        <ion-row>
          <ion-col class="ion-no-padding login-btn">
            <ion-button color="primary" size="medium" type="submitreg" 
              expand="block">Sign Up
            </ion-button>
          </ion-col>
        </ion-row>
      </form>

      <div>
    </div>
    </div>
  </div>

  </ion-content>
 -->
