 <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/seller-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Product Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class=" bg-grey">
  <div class=" bg-white product-inner" *ngIf="data">
      <swiper class="product-show" [slidesPerView]="1" [loop]="false">
        <ng-template swiperSlide>
          <div class="productImage">
            <img [src]="data.product_pic" onerror="this.src='assets/img/dashboard/product.png';" alt="img">
          </div>
        </ng-template>
      </swiper>
    <div class="ion-padding product-des" *ngIf="data">
      <h3 class="productName">{{data.product_name}}</h3>
      <div class="price">
        ₹{{data.rate}} / <span>Qty:1</span>
      </div>
      <span class="small-text">{{data.description}}</span> 
      <div class="themeHeading">
        <h6>Product Details:-</h6> 
      </div>
      <ul class="listing">
        <li>
          <span>Product Name:-</span>
          <span class="f-700">{{data.product_name}}</span>
        </li>
        <li>
          <span>Unit Name:-</span>
          <span class="f-700">{{data.unit_name}}</span>
        </li>
        <li>
          <span>Category Name:-</span>
          <span class="f-700">{{data.category_name}}</span>
        </li>
        <li>
          <span>Price:-</span>
          <span class="f-700">₹{{data.rate}}</span>
        </li>
       
      </ul>
      <div class="themeHeading">
        <h6>Buyer Details:-</h6> 
      </div>
      <ul class="listing">
        <li>
          <span>Name:-</span>
          <span class="f-700">{{data.buyer}}</span>
        </li>
        <li>
          <span>Email:-</span>
          <span class="f-700">{{data.buyer_email}}</span>
        </li>
        <li>
          <span>Mobile No:-</span>
          <span class="f-700">{{data.buyer_mobile}}</span>
        </li>
      </ul>
    </div>
  </div>    
</ion-content>
<!-- <ion-footer *ngIf="data">
  <ion-button class=" btn btn-outline-theme" shape="round" routerLink='/add-inquiry/{{data.id}}' ><ion-icon src="../../../../assets/new-image/add-people.svg"></ion-icon> Add Inquiry</ion-button>
  <ion-button class=" btn btn-theme" shape="round"  routerLink='/add-order/{{data.id}}' >Get Best Price <ion-icon src="../../../../assets/new-image/arrow-right.svg"></ion-icon></ion-button>
</ion-footer> -->