<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/customers-dashboard'></ion-back-button>
    </ion-buttons>
    <ion-title>Add Follow Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form class="listing bg-theme-grey" #followUpForm="ngForm" novalidate>

    <ion-list>

      <ion-item lines="full">
        <ion-label position="floating">Outcomes <font color="red">*</font>
        </ion-label>
        <ion-select [(ngModel)]='followUpInfo.outcomes' [interfaceOptions]="customActionCommonOptions"
          interface="action-sheet" name="outcomes" #sub_type="ngModel" required>
          <ion-select-option *ngFor="let outcome of api.outcomeList" value="{{outcome.id}}">
            {{outcome.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Follow Up Date <font color="red">*</font>
        </ion-label>
        <ion-datetime displayFormat="DD MMM YYYY hh:mm A" [(ngModel)]='followUpInfo.date' [min]='todaysDate' name="date"
          required>
        </ion-datetime>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Associated Person</ion-label>
        <ion-select [(ngModel)]='followUpInfo.person' [interfaceOptions]="customActionCommonOptions"
          interface="action-sheet" name="person" #person="ngModel">
          <ion-select-option *ngFor="let user of api.marketingPersonList" value="{{user.id}}">
            {{user.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Next Follow Up Date <font color="red">*</font>
        </ion-label>
        <ion-datetime displayFormat="DD MMM YYYY hh:mm A" [(ngModel)]='followUpInfo.next_date' [min]='followUpInfo.date'
          name="next_date" required>
        </ion-datetime>
      </ion-item>

      <ion-radio-group [(ngModel)]='followUpInfo.type' name="type" value="{{followUpInfo.type}}" required>
        <ion-list-header>
          <ion-label>Type <font color="red">*</font>
          </ion-label>
        </ion-list-header>

        <ion-item *ngFor="let type of followUpTypes">
          <ion-label>{{type.name}}</ion-label>
          <ion-radio slot="start" value="{{type.id}}"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-item lines="full">
        <ion-label position="floating">Note</ion-label>
        <ion-textarea type="text" [(ngModel)]='followUpInfo.notes' rows="3" name="notes"></ion-textarea>
      </ion-item>

    </ion-list>

    <div class="mt-20">
      <ion-row>
        <ion-col class="ion-no-padding">
          <ion-button type="button" expand="full" color="light" (click)="backToRawCustomerDashbaord()">Cancel
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-padding">
          <ion-button type="submit" expand="full" color="primary" (click)="submitFollowUp(followUpForm)">Create
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

  </form>

</ion-content>
