 <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Share App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-icon name="pin" slot="end" color="primary"></ion-icon>
  <h2 #messageSubject></h2>
  <!-- <img src="https://source.unsplash.com/category/technology/600x390"> -->

  <ion-card-content>
    <p #messageBody>Hey, I strongly recommend Bhaavbook App for all your business needs. Click to download</p>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-button (click)="sendShare(messageBody.innerText,
            messageSubject.innerText, 'https://bhaavbook.com/apk/bhaavbook.apk')">
            <ion-icon slot="icon-only" name="share"></ion-icon>Share
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
</ion-content>

