 <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Privacy & Policy</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-grey">
  <ion-list class="card-listing">
    <ion-item>
      <div  *ngIf="data">
        <h4>{{data.title}}</h4>
        <p>
          {{data.description}}
        </p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
