<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/customers-dashboard'></ion-back-button>
    </ion-buttons>
    <ion-title>Raw Customer - ALL</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='openSearchBox()'>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <div class="bg-theme-grey">

    <ion-card *ngIf="isEnableSearch">

      <ion-card-header>
        <ion-card-subtitle>
          <strong>Search</strong>
          <span class="close-spn">
            <ion-button fill="clear" color="danger" (click)="hideSearchBox()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </span>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-item class="filter-date-item">
          <ion-label position="floating">Customer Name</ion-label>
          <ion-input type="text" [(ngModel)]='searchParams.customer_name' name="customer_name"></ion-input>
        </ion-item>

        <ion-item class="filter-date-item">
          <ion-label position="floating">Customer Mobile</ion-label>
          <ion-input type="number" [(ngModel)]='searchParams.customer_mobile' name="customer_mobile"></ion-input>
        </ion-item>

        <ion-item class="filter-date-item">
          <ion-label position="floating">Customer Email</ion-label>
          <ion-input type="email" [(ngModel)]='searchParams.customer_email' name="customer_email"></ion-input>
        </ion-item>

        <ion-item class="filter-date-item">
          <ion-label position="floating">Firm Name</ion-label>
          <ion-input type="text" [(ngModel)]='searchParams.firm_name' name="firm_name"></ion-input>
        </ion-item>

        <ion-item class="filter-date-item">
          <ion-label position="floating">Owner Name / Mobile / Email </ion-label>
          <ion-input type="text" [(ngModel)]='searchParams.owner_info' name="owner_info"></ion-input>
        </ion-item>

        <ion-item class="filter-date-item">
          <ion-label position="floating">Project Name / Type</ion-label>
          <ion-input type="text" [(ngModel)]='searchParams.project_info' name="project_info"></ion-input>
        </ion-item>

        <ion-item class="filter-date-item">
          <ion-label position="floating">Created By</ion-label>
          <ion-select [(ngModel)]='searchParams.created_by' name="created_by">
            <ion-select-option *ngFor="let person of api.marketingPersonList;" value="{{person.id}}">
              {{person.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-row class="ion-margin-top">
          <ion-col class="ion-text-center">
            <ion-button color="medium" size="small" fill='outline' expand="block" (click)='resetSearchBox()'>
              Reset
            </ion-button>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-button size="small" type="block" expand="block" (click)='applySearch()'>
              Search
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <div class="ion-padding-horizontal ion-margin-top" *ngIf="isSearchResults">
      <ion-item>
        <ion-label class="ion-padding-start">
          <h2>Searched Results:</h2>
          <p *ngIf="customerCount > 0">Total {{customerCount}} {{customerCount > 1 ? 'records' : 'record'}} found</p>
        </ion-label>
        <ion-button fill="clear" size="small" (click)="resetSearch()">Reset</ion-button>
      </ion-item>
    </div>

    <div class="ion-padding-horizontal" *ngIf="customerCount === 0">
      <ion-item>
        <ion-label class="ion-padding-start ion-text-center">No record found</ion-label>
      </ion-item>
    </div>

    <ion-list class="listing" *ngIf="customerList">
      <ion-item-sliding *ngFor="let customer of customerList; let i=index;" id="dr-custom-item-{{i}}">
        <ion-card>
          <ion-item class="item-box" lines="none">
            <div class="dr-date-f ion-text-center" slot="start">
              {{customer.customer_sub_type}}
            </div>
            <ion-label class="dr-sets">
              <ion-label>
                <div class="label">Code:</div>
                <div class="text">{{customer.customer_code}}</div>
              </ion-label>
              <ion-label>
                <div class="label">Contact Name:</div>
                <div class="text">{{customer.customer_name}}</div>
              </ion-label>
              <ion-label>
                <div class="label">Mobile:</div>
                <div class="text">{{customer.customer_mobile}}</div>
              </ion-label>
              <ion-label>
                <div class="label">E-Mail:</div>
                <div class="text">{{customer.customer_email}}</div>
              </ion-label>
              <ion-label>
                <div class="label">Created By:</div>
                <div class="text">{{customer.created_by_name}}</div>
              </ion-label>
              <ion-label>
                <div class="label">Created Date:</div>
                <div class="text">{{customer.created_at}}</div>
              </ion-label>
              <ion-label>
                <div class="label">
                  <ion-button color="secondary" *ngIf="customer.customer_sub_type_id === 1"
                    routerLink='/convert-lead/{{customer.id}}'>
                    Convert To Lead
                  </ion-button>
                </div>
                <div class="text">
                  <ion-button color="primary" routerLink='/customers-detail/{{customer.id}}'>
                    View Contact
                  </ion-button>
                </div>
              </ion-label>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-item-sliding>
    </ion-list>

  </div>

</ion-content>