 <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/personal-info-screen"></ion-back-button>
    </ion-buttons>
    <ion-title>Business Type</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding create-account">
  <div class="customForm-progress">
    <ion-progress-bar color="primary" value=".32"></ion-progress-bar>
    <div class="step-text">Step <span class="f-600 text-theme">2</span> of 6</div>
  </div>
  <h4 class="heading">Choose your business type </h4>
  <form #loginForm="ngForm" novalidate>
    <ion-list>
      <ion-radio-group value="Buyer">
        <ion-item class="customCard">
          <ion-label>
            <div class="label">
              Buyer
            </div>
            <div class="list-label">Buyer can buy the product</div>
            <ul class="check-list">
              <li>1. Lorem Ipsume buy package</li>
              <li>2. Lorem Ipsume buy package</li>
              <li>3. Lorem Ipsume buy package</li>
              <li>4. Lorem Ipsume buy package</li>
              <li>5. Lorem Ipsume buy package</li>
            </ul>
          </ion-label>
          <ion-radio slot="start" value="Buyer"></ion-radio>
        </ion-item>
        <ion-item class="customCard">
          <ion-label>
            <div class="label">
              Seller
            </div>
            <div class="list-label">Seller can sell their product</div>
            <ul class="check-list">
              <li>1. Lorem Ipsume buy package</li>
              <li>2. Lorem Ipsume buy package</li>
              <li>3. Lorem Ipsume buy package</li>
              <li>4. Lorem Ipsume buy package</li>
              <li>5. Lorem Ipsume buy package</li>
            </ul>
          </ion-label>
          <ion-radio slot="start" value="Seller"></ion-radio>
        </ion-item>
        <ion-item class="customCard">
          <ion-label>
            <div class="label">
              Both
            </div>
            <div class="list-label">Buyer / Seller</div>
            <ul class="check-list">
              <li>1. Lorem Ipsume buy package</li>
              <li>2. Lorem Ipsume buy package</li>
              <li>3. Lorem Ipsume buy package</li>
              <li>4. Lorem Ipsume buy package</li>
              <li>5. Lorem Ipsume buy package</li>
            </ul>
          </ion-label>
          <ion-radio slot="start" value="Both"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-button class="btn-bottom btn-theme" routerLink="/package-screen">Next</ion-button>
</ion-footer>