 <ion-header class="theme-Header" translucent>
  <ion-toolbar >
    <div class="d-flex justify-between w-100">
      <ion-buttons slot="start">
        <ion-back-button color="white" defaultHref="/dashboard"></ion-back-button>
      </ion-buttons>
      <ion-title>Add Product</ion-title>
      <routerlink routerLink="/dashboard" class="cancel">Cancel</routerlink>
    </div>
  </ion-toolbar>
  </ion-header>
<ion-content class="ion-padding create-account"> 
    <form  #productForm="ngForm" enctype="multipart/form-data" novalidate>
      <!-- <ion-item>
        <ion-label position="stacked">Product Code<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Type product code"  [(ngModel)]="product_name" name="product_name"></ion-input>  
      </ion-item> -->
      <ion-item>
        <ion-label position="stacked">Product Name<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Enter product name"  [(ngModel)]="product_name" name="product_name"></ion-input>  
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Price<span class="text-danger">*</span></ion-label>  
        <ion-input type="text" placeholder="Enter price"  type="decimal" [(ngModel)]="item_rate" name="item_rate" inputmode="numeric"></ion-input>  
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">Category<span class="text-danger">*</span></ion-label>  
          <ion-select placeholder="Choose Category"
            [(ngModel)]="categoryList"
            [interfaceOptions]="customActionSubTypeOptions"
            interface="action-sheet"
            name="category"
            #category="ngModel"
            required
            (ionChange)="changeSubType($event)"
          >
            <ion-select-option 
              *ngFor="let category of product"
              value="{{category.category_id}}"
            >
              {{category.category_name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      <ion-item>
        <ion-label position="stacked">Unit<span class="text-danger">*</span></ion-label>  
        <ion-select placeholder="Choose Unit"
          [(ngModel)]="unitList"
          [interfaceOptions]="customActionCommonOptions"
          interface="action-sheet"
          name="unit"
          #unit="ngModel"
          required
          (ionChange)="changeSubType($event)"
        >
          <ion-select-option
            *ngFor="let unit of api.unitList"
            value="{{unit.id}}"
          >
            {{unit.name}}
          </ion-select-option>
        </ion-select>
      </ion-item> 
      <ion-item lines="full">
        <ion-label position="stacked">Description<span class="text-danger">*</span></ion-label>  
        <ion-textarea type="text" rows="4" cols="10" placeholder="Enter Description"  [(ngModel)]="hsn_description" name="hsn_description"></ion-textarea>  
      </ion-item> 
      <ion-item >
        <ion-label position="stacked">Image<span class="text-danger">*</span>
        </ion-label> 
        <div class="d-flex align-center"> 
          <ion-avatar class="image-upload" slot="start" *ngIf="profile_pic_preview">
            <ion-img
              [src]="profile_pic_preview"
              (click)="previewImage(1)"
            ></ion-img>
          </ion-avatar>
          <div class="upload-btn-wrapper ">
            <ion-button class="btn-theme">Upload Image</ion-button>
              <input type="file" [(ngModel)]='galleryFile' name="galleryFile" (change)="onFileChange($event)"
              accept="{{acceptableExtensions}}" required/> 
          </div>
        </div>
      </ion-item>
      <ion-item>     
         <ion-label position="stacked">Type<span class="text-danger">*</span></ion-label>
          <ion-radio-group class="radioGroup" [(ngModel)]='published' name="published" value="{{published}}" required>
            <!-- <ion-list-header> 
              <ion-label>Product<font color="red">*</font></ion-label>         
            </ion-list-header> -->

            <ion-item *ngFor="let published of Product">
              <ion-label>{{published.name}}</ion-label>
              <ion-radio slot="start" value="{{published.id}}" ></ion-radio>
            </ion-item>
          </ion-radio-group>     
      </ion-item>     
      <!-- <ion-item>     
        <ion-radio-group class="radioGroup" value="Publish">
          <ion-list-header>          
          </ion-list-header>
          <ion-item>
            <ion-label>Publish</ion-label>
            <ion-radio [(ngModel)]="publish"  name="publish"  #publish="ngModel" slot="start" color="primary" value="Publish"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Un-Publish</ion-label>
            <ion-radio  [(ngModel)]="unpublish"  name="unpublish"  #unpublish="ngModel" slot="start" color="primary" value="Un-Publish"></ion-radio>
          </ion-item> 
        </ion-radio-group>     
    </ion-item>      -->
    </form>
</ion-content>
<ion-footer>
  <ion-button class="btn-bottom btn-theme" (click)="submitProduct(productForm)">Submit</ion-button>
</ion-footer>  

