<ion-content [fullscreen]="true" class="create-account">

  <div class="bannersSection bg-gradient">
    <div class="brand-logo">
      <ion-img src="../../../../assets/new-image/logo.svg"></ion-img>
    </div>
    <div class="bannerImage">
      <ion-img src="../../../../assets/new-image/create-account.svg"></ion-img>
    </div>
  </div>

  <div class="ion-padding">
    <h4 class="heading">Enter your mobile number to get started</h4>
    <span class="small-text text-grey mb-10">We’ll send you SMS to confim it’s you.</span>

    <form #mobileForm="ngForm" novalidate>
      <ion-item>
        <ion-label position="stacked">Mobile Number</ion-label>
        <div class="w-100 with-icon">
          <div class="icons">+91</div>
          <ion-input type="numeric" [(ngModel)]='inputMobile' name="inputMobile"  placeholder="Mobile Number" [autofocus]="true" spellcheck="false" autocapitalize="off" inputmode="numeric" maxlength="10"  required></ion-input>
        </div>
      </ion-item>
    </form>

    <span class="bottom-link">Already have an account?
      <ion-router-link color="dark" class="f-600" routerLink="/login-screen">Login!</ion-router-link>
    </span>
  </div>
</ion-content>

<ion-footer>
  <ion-button class="btn-bottom btn-theme" (click)="submitMobile(mobileForm)">Next</ion-button>
</ion-footer>