<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Raw Customer - Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="bg-theme-grey" *ngIf="dashboardData">
    <ion-grid>
      <ion-row>
        <ion-col class="cards" routerLink='/customer-followup-listings/1'>
          <div class="icon-image ">{{dashboardData.followupForToday}}</div>
          <div class="label">Today's Follow Up</div>
        </ion-col>
        <ion-col class="cards" routerLink='/customer-followup-listings/2'>
          <div class="icon-image ">{{dashboardData.missedFollowup}}</div>
          <div class="label">Missed Follow Up</div>
        </ion-col>
        <ion-col class="cards" routerLink='/customer-followup-listings/3'>
          <div class="icon-image ">{{dashboardData.totalfollowups}}</div>
          <div class="label">Total Follow Up</div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="cards" routerLink='/customer-reminder-listings/1'>
          <div class="icon-image ">{{dashboardData.reminderForToday}}</div>
          <div class="label">Today's Reminders</div>
        </ion-col>
        <ion-col class="cards" routerLink='/customer-reminder-listings/2'>
          <div class="icon-image ">{{dashboardData.totalreminders}}</div>
          <div class="label">Total Reminders</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="cards" routerLink='/customer/{{dashboardData.allCustomers}}'>
          <div class="icon-image ">{{dashboardData.totalRawCustomer}}</div>
          <div class="label">Total All Raw Customer</div>
        </ion-col>

      </ion-row>

    </ion-grid>

    <div class="pyramid">


      <div class="row ion-no-margin tier-1" routerLink='/customer/{{dashboardData.project}}'>
        <div class="col">
          <div class="count">{{dashboardData.totalProjects}}</div>
          <div class="label">Project</div>
        </div>
      </div>

      <div class="row ion-no-margin tier-2" routerLink='/customer/{{dashboardData.architecture}}'>
        <div class="col">
          <div class="count">{{dashboardData.totalArchitectures}}</div>
          <div class="label">Total Architectures</div>
        </div>
      </div>

      <div class="row ion-no-margin tier-3" routerLink='/customer/{{dashboardData.builder}}'>
        <div class="col">
          <div class="count">{{dashboardData.totalBuilders}}</div>
          <div class="label">Builder</div>
        </div>
      </div>

      <div class="row ion-no-margin tier-4" routerLink='/customer/{{dashboardData.engineer}}'>
        <div class="col">
          <div class="count">{{dashboardData.totalEngineers}}</div>
          <div class="label">Engineer</div>
        </div>
      </div>

      <div class="row ion-no-margin tier-5" routerLink='/customer/{{dashboardData.pmc}}'>
        <div class="col">
          <div class="count">{{dashboardData.totalPMCs}}</div>
          <div class="label">PMC</div>
        </div>
      </div>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab-icon" routerLink="/add-rawcustomer">
      <ion-icon class="add-icon" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
