 <ion-header class="theme-Header" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/dashboard-buyer"></ion-back-button>
    </ion-buttons>
    <ion-title>About us</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-grey">
  <ion-list class="card-listing">
    <ion-item>
      <div>
        <h4>Bhavbook About us</h4>
        <p>
          As one of the pioneers in the business National has been at the forefront of all major product development trends in the market one of the pioneers in the As one of the pioneers in the business National has been at the forefront of all major product development trends in the market one of the pioneers in the...    
        </p>
        <p>
          As one of the pioneers in the business National has been at the forefront of all major product development trends in the market one of the pioneers in the As one of the pioneers in the business National has been at the forefront of all major product development trends in the market one of the pioneers in the...    
        </p>
        <p>
          As one of the pioneers in the business National has been at the forefront of all major product development trends in the market one of the pioneers in the As one of the pioneers in the business National has been at the forefront of all major product development trends in the market one of the pioneers in the...    
        </p>
        <p>
          As one of the pioneers in the business National has been at the forefront of all major product development trends in the market one of the pioneers in the As one of the pioneers in the business National has been at the forefront of all major product development trends in the market one of the pioneers in the...    
        </p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
