.themeHeading {
    margin: 0.5rem 0rem;
    padding: 5px 15px;
}
.card-listing {
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    margin: 15px 0px;
    ion-item { 
        --padding-start: 15px; 
        align-items: flex-start; 
        --detail-icon-font-size: 22px;
        --detail-icon-opacity: .5;
        --inner-padding-top: 15px;
        --inner-padding-bottom: 0px;
        &:last-child {
            --border-color: transparent;
        } 
        h4{
            font-size: 18px;
            color: #000;
            font-weight: 600;
            margin: 0px;
        }
        p{
            font-size: 14px;
            margin: .5rem 0rem;
        }
}
}