<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/address-info-screen"></ion-back-button>
    </ion-buttons>
    <ion-title>Contact Info</ion-title>
    <ion-buttons slot="end" *ngIf="isSkipAllowed">
      <ion-button fill="clear" color="primary" (click)="skipContacts()">SKIP</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding create-account">

  <div class="customForm-progress">
    <ion-progress-bar color="primary" value="1"></ion-progress-bar>
    <div class="step-text">Step <span class="f-600 text-theme">6</span> of 6</div>
  </div>

  <h4 class="heading">Your contact details</h4>

  <span class="small-text text-grey mb-10">Please set up your contact so that others can get to know you </span>

  <form #contactForm="ngForm" novalidate>

    <ion-item>
      <ion-label position="stacked">Mobile Number <span class="text-danger">*</span></ion-label>
      <ion-input type="number" [(ngModel)]='contactInfo.mobileNumber' name="mobileNumber" placeholder="Mobile Number"
        disabled="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email Address</ion-label>
      <ion-input type="email" [(ngModel)]='contactInfo.emailAddress' name="emailAddress" maxlength="100"
        placeholder="Email Address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Phone Number </ion-label>
      <ion-input type="number" [(ngModel)]='contactInfo.alternateMobile' name="alternateMobile"
        placeholder="Phone Number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">WhatsApp Number </ion-label>
      <ion-input type="number" [(ngModel)]='contactInfo.whatsAppNumber' name="whatsAppNumber"
        placeholder="WhatsApp Number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Website </ion-label>
      <ion-input type="text" [(ngModel)]='contactInfo.website' name="website" maxlength="100" placeholder="Website">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Date of Establish </ion-label>
      <div class="icon w-100">
        <ion-datetime value="2012-12-15T13:47:20.789" [(ngModel)]='contactInfo.dateOfEstablish' name="dateOfEstablish">
        </ion-datetime>
        <button class="icons">
          <ion-icon name="calendar"></ion-icon>
        </button>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">GST Number </ion-label>
      <ion-input type="text" [(ngModel)]='contactInfo.gstNo' name="gstNo" maxlength="20" placeholder="GST Number">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">PAN Number </ion-label>
      <ion-input type="text" [(ngModel)]='contactInfo.panNo' name="panNo" maxlength="10" placeholder="PAN Number">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Aadhar Number </ion-label>
      <ion-input type="text" [(ngModel)]='contactInfo.aadharNo' name="aadharNo" maxlength="16"
        placeholder="Aadhar Number"></ion-input>
    </ion-item>
  </form>

</ion-content>


<ion-footer>
  <ion-button class="btn-bottom btn-theme" (click)="submitContacts(contactForm)">Confirm</ion-button>
</ion-footer>