 
// Header Section Start
ion-header{
    background-color:  var(--ion-color-primary);
}
.header {
  padding: 3px;
  border: 0px;
  &:last-of-type {
    --border-color: rgb(255, 255, 255, 0.2);
  }
  .toolbar-container {
    padding: 0px;
  }
  ion-title {
    font-weight: 400;
  }
}
// Header Section End 
ion-content{
    --background: var(--ion-background-color, #eff5ff);
}
.bg-theme-grey { 
  padding: 10px 0px 30px 0px; 
}
ion-card{
  overflow: inherit;
  &::part(native) {
    overflow: inherit;
  }
&.profile-info{
  margin-top: 4rem;
  position: relative;
  padding-top: 2rem;
  .profile-img-wrapper{
    position: absolute;
    top: -50px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    border: solid 5px #fff;
    width: 90px;
    height: 90px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0px 20px rgba(0, 0, 0, 0.12);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.12);
    img {
        border-radius: 4px;
        width: 100%;
      height: 100%;
    }
  }
}
.profile-info-grid {
  padding: 0px;
  ion-row {
    border-bottom: 1px solid #efefef;
    padding: 5px;
    font-size: 16px;
    color: #000;
}
}
}