<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="editProfile()">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <div *ngIf="user" class="bg-theme-grey">

    <ion-card class="profile-info">

      <div class="profile-img-wrapper" *ngIf="user.picture">
        <img class="profile-img" [src]="user.picture" alt="img" (click)="previewImage()" />
      </div>

      <ion-grid class="profile-info-grid">
        <ion-row>
          <ion-col>Name</ion-col>
          <ion-col class="ion-text-right fw-450">{{user.first_name}} {{user.last_name}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>Email</ion-col>
          <ion-col class="ion-text-right fw-450">{{user.email}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>Mobile number</ion-col>
          <ion-col class="ion-text-right fw-450">{{user.mobile_number}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>Employee code</ion-col>
          <ion-col class="ion-text-right fw-450">{{user.emp_code}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>Department</ion-col>
          <ion-col class="ion-text-right fw-450">
            <div *ngIf="user.department===1"><span>Manager</span></div>
            <div *ngIf="user.department===2"><span>Account</span></div>
            <div *ngIf="user.department===3"><span>Sales</span></div>
            <div *ngIf="user.department===4"><span>Purchase</span></div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>Joining date</ion-col>
          <ion-col class="ion-text-right fw-450">{{user.joining_date}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>Pan number</ion-col>
          <ion-col class="ion-text-right fw-450">{{user.pan_card_number}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>Aadhar number</ion-col>
          <ion-col class="ion-text-right fw-450">{{user.aadhar_number}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>Address</ion-col>
          <ion-col class="ion-text-right fw-450">{{user.address}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>Location</ion-col>
          <ion-col class="ion-text-right fw-450">{{user.location}}</ion-col>
        </ion-row>

      </ion-grid>

    </ion-card>

  </div>

</ion-content>